In [2]:
#Date-10/14/22
#1- get the powers of an array values element-wise
import pandas as pd
dct= {'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df=pd.DataFrame(dct)
print(df)

    X   Y   Z
0  78  84  86
1  85  94  97
2  96  89  96
3  80  83  72
4  86  86  83

In [5]:
#2- create and display a DataFrame from a specified dictionary data which has the index labels
import pandas as pd
import numpy as np
exam_data = {'Name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'Score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'Attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'Qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df)

        Name  Score  Attempts Qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [7]:
#3-display a summary of the basic information about a specified DataFrame and its data.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [8]:
#4-get the first 3 rows of a given DataFrame. 
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [10]:
#iloc method
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df.iloc[:3])

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [21]:
#5-select the 'name' and 'score' columns from the following DataFrame
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df[['name','score']])
#print(df.iloc[['name','score']])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0
g    Matthew   14.5
h      Laura    NaN
i      Kevin    8.0
j      Jonas   19.0

In [28]:
#6-select the specified columns and rows from a given data frame.
#Select 'name' and 'score' columns in rows 1, 3, 5, 6 from the following data frame.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df[['name','score']].iloc[:6])

        name  score
a  Anastasia   12.5
b       Dima    9.0
c  Katherine   16.5
d      James    NaN
e      Emily    9.0
f    Michael   20.0

In [26]:
#only using iloc
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df.iloc[[1,3,5,6],[0,1]])

      name  score
b     Dima    9.0
d    James    NaN
f  Michael   20.0
g  Matthew   14.5

In [34]:
#7. Conditional::select the rows where the number of attempts in the examination is greater than 2
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df[df['attempts']>2])
print()
print(df['attempts']>2)

      name  score  attempts qualify
b     Dima    9.0         3      no
d    James    NaN         3      no
f  Michael   20.0         3     yes

a    False
b     True
c    False
d     True
e    False
f     True
g    False
h    False
i    False
j    False
Name: attempts, dtype: bool

In [36]:
#8-count the number of rows and columns of a DataFrame.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df.count(), df.iloc[:].count())

name        10
score        8
attempts    10
qualify     10
dtype: int64 name        10
score        8
attempts    10
qualify     10
dtype: int64

In [38]:
#using axes
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

total_row=len(df.axes[0])
total_col=len(df.axes[1])

print("total rows=",total_row)
print("total cols=",total_col)

total rows= 10
total cols= 4

In [46]:
#Condition/Null value 
#9-select the rows where the score is missing, i.e. is NaN
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df[df['score'].isnull()])

    name  score  attempts qualify
d  James    NaN         3      no
h  Laura    NaN         1      no

In [50]:
#Condition
#10-select the rows the score is between 15 and 20 (inclusive)
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

print(df[df['score'].between(15,20)])

        name  score  attempts qualify
c  Katherine   16.5         2     yes
f    Michael   20.0         3     yes
j      Jonas   19.0         1     yes

In [54]:
#Condition
#11- select the rows where number of attempts in the examination is less than 2 and score greater than 15.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

print(df[(df['attempts']<2) & (df['score']>15)])

    name  score  attempts qualify
j  Jonas   19.0         1     yes

In [55]:
#updaate 
#12-change the score in row 'd' to 11.5
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

df.loc['d','score']=11.5
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James   11.5         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [58]:
#13-calculate the sum of the examination attempts by the students.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

print(df['attempts'].sum())

19

In [59]:
#14-calculate the mean score for each different student in DataFrame
import pandas as pd 
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

print(df['score'].mean())

13.5625

In [60]:
#append method/insert row/delete row
#15-append a new row 'k' to data frame with given values for each column. Now delete the new row and return the original DataFrame.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df)
print()

#name : "Suresh", score: 15.5, attempts: 1, qualify: "yes", label: "k"
df.loc['k']=["Suresh",15.5,1,"yes"]
print(df)

print()
df=df.drop("k")
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [65]:
#order by
#16-sort the DataFrame first by 'name' in descending order, then by 'score' in ascending order. 
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

df.sort_values(by=['name','score'],ascending=[True,False])
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [69]:
#update col value
#17-replace the 'qualify' column contains the values 'yes' and 'no' with True and False.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

#df.loc['qualify']=["yes"==True,"No"==False]
df['qualify']=df['qualify'].map({'yes':True, "no":False})
print(df)

        name  score  attempts  qualify
a  Anastasia   12.5         1     True
b       Dima    9.0         3    False
c  Katherine   16.5         2     True
d      James    NaN         3    False
e      Emily    9.0         2    False
f    Michael   20.0         3     True
g    Matthew   14.5         1     True
h      Laura    NaN         1    False
i      Kevin    8.0         2    False
j      Jonas   19.0         1     True

In [71]:
#update
#17-change the name 'James' to 'Suresh' in name column of the DataFrame
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
#df[df['name']['James']]='Suresh'

df['name']=df['name'].replace('James','Suresh')
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d     Suresh    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [74]:
#delete column
#19=-delete the 'attempts' column from the DataFrame.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)
print(df)
print()
df.pop('attempts')
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
d      James    NaN      no
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
h      Laura    NaN      no
i      Kevin    8.0      no
j      Jonas   19.0     yes

In [78]:
#insert column
#20-insert a new column in existing DataFrame
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

colors=['Red','Green','Yellow','White','Black','Orange','Purple','Green','Pink','Blue']
df['color']=colors
print(df)

        name  score  attempts qualify   color
a  Anastasia   12.5         1     yes     Red
b       Dima    9.0         3      no   Green
c  Katherine   16.5         2     yes  Yellow
d      James    NaN         3      no   White
e      Emily    9.0         2      no   Black
f    Michael   20.0         3     yes  Orange
g    Matthew   14.5         1     yes  Purple
h      Laura    NaN         1      no   Green
i      Kevin    8.0         2      no    Pink
j      Jonas   19.0         1     yes    Blue

In [83]:
#loop
#21- iterate over rows in a DataFrame
import pandas as pd
import numpy as np

exam_data = [{'name':'Anastasia', 'score':12.5}, {'name':'Dima','score':9}, {'name':'Katherine','score':16.5}]

df=pd.DataFrame(exam_data)

for index, row in df.iterrows():
    print(row['name'],row['score'])

Anastasia 12.5
Dima 9.0
Katherine 16.5

In [87]:
#22-get list from DataFrame column headers.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(exam_data,index=labels)

#print(df.head())
print(list(df.columns.values))

['name', 'score', 'attempts', 'qualify']

In [89]:
#update/rename column
#23-rename columns of a given DataFrame
import pandas as pd
import numpy as np

data={'col1':[1,2,3],'col2':[4,5,6],'col3':[7,8,9]}
df=pd.DataFrame(data)
print(df)
print()

df=df.rename(columns={'col1':'column1','col2':'column2','col3':'column3'})
print(df)

   col1  col2  col3
0     1     4     7
1     2     5     8
2     3     6     9

   column1  column2  column3
0        1        4        7
1        2        5        8
2        3        6        9

In [92]:
#condition
#24-select rows from a given DataFrame based on values in some columns
import pandas as pd
import numpy as np

data={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data)
print(df)
print()

print(df[df['col1']==4])

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
1     4     5     8
3     4     7     0

In [94]:
#using loc
import pandas as pd
import numpy as np

data={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data)
print(df)
print()

print(df.loc[df['col1']==4])

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
1     4     5     8
3     4     7     0

In [95]:
#change the order of a DataFrame columns
import pandas as pd
import numpy as np

data={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data)
print(df)
print()

df=df[['col3','col2','col1']]
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col3  col2  col1
0     7     4     1
1     8     5     4
2     9     6     3
3     0     7     4
4     1     8     5

In [96]:
#insert row
#26-add one row in an existing DataFrame
import pandas as pd
import numpy as np

data={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data)
print(df)
print()

df.loc[5]=[6,9,2]
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
5     6     9     2

In [100]:
#insert row
import pandas as pd
import numpy as np

data={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=data)
print(df)
print()

print("After one row")
df2={'col1':10,'col2':20,'col3':30}
df=df.append(df2,ignore_index=True)
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

After one row
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
5    10    20    30

In [101]:
#file operation
#27-write a DataFrame to CSV file using tab separator
import pandas as pd
import numpy as np

data={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=data)
print(df)
print()

print("data from new csv file")
df.to_csv('new_file.csv',sep='\t',index=False)   #write

new_df=pd.read_csv('new_file.csv')  #read
print(new_df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

data from new csv file
  col1\tcol2\tcol3
0          1\t4\t7
1          4\t5\t8
2          3\t6\t9
3          4\t7\t0
4          5\t8\t1

In [112]:
#count, condition,groupby
#28-count city wise number of people from a given of data set (city, name of the person).
import pandas as pd
import numpy as np
df1 = pd.DataFrame({'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'city': ['California', 'Los Angeles', 'California', 'California', 'California', 'Los Angeles', 'Los Angeles', 'Georgia', 'Georgia', 'Los Angeles']})

print(df1)
print()

#print(df.count_values())
g1=df1.groupby(['city']).size().reset_index(name='people')
print(g1)

        name         city
0  Anastasia   California
1       Dima  Los Angeles
2  Katherine   California
3      James   California
4      Emily   California
5    Michael  Los Angeles
6    Matthew  Los Angeles
7      Laura      Georgia
8      Kevin      Georgia
9      Jonas  Los Angeles

          city  people
0   California       4
1      Georgia       2
2  Los Angeles       4

In [113]:
#delete rows, condition filter row
#29- delete DataFrame row(s) based on given column value

import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

df=df[df.col2!=5]
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
0     1     4     7
2     3     6     9
3     4     7     0
4     5     8     1

In [114]:
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

df=df[df['col2']>4]
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [117]:
#30-iden output display to see more columns.
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

pd.set_option('display.max_rows', 2500)
pd.set_option('display.max_columns', 2500)
pd.set_option('display.width', 15000)
print("Original DataFrame")
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Original DataFrame
   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [5]:
#Date-11/15/22
#row number /print by row
#31- select a row of series/dataframe by given integer index
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df.iloc[[3]])  #row: horizontal  
print(df.loc[[3]])   #row:horizontal
print(df.loc[3])  #row vertical

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
3     4     7     0
   col1  col2  col3
3     4     7     0

In [13]:
#32-replace all the NaN values with Zero's in a column of a dataframe
#Null value Replacement
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df)
print()

#df['score']=df['score'].replace('NaN',0)
df=df.fillna(0)
print(df)
#print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    0.0         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    0.0         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [16]:
#33-convert index in a column of the given dataframe
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data,index=labels)
print(df)
print()

print("converting index to columns")
df.reset_index(level=0,inplace=True)
print(df)

print("Hiding Index")
print(df.to_string(index=False))
#print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

converting index to columns
  index       name  score  attempts qualify
0     a  Anastasia   12.5         1     yes
1     b       Dima    9.0         3      no
2     c  Katherine   16.5         2     yes
3     d      James    NaN         3      no
4     e      Emily    9.0         2      no
5     f    Michael   20.0         3     yes
6     g    Matthew   14.5         1     yes
7     h      Laura    NaN         1      no
8     i      Kevin    8.0         2      no
9     j      Jonas   19.0         1     yes
Hiding Index
index      name  score  attempts qualify
    a Anastasia   12.5         1     yes
    b      Dima    9.0         3      no
    c Katherine   16.5         2     yes
    d     James    NaN         3      no
    e     Emily    9.0         2      no
    f   Michael   20.0         3     yes
    g   Matthew   14.5         1     yes
    h     Laura    NaN         1      no
    i     Kevin    8.0         2      no
    j     Jonas   19.0         1     yes

In [28]:
#34- set a given value for particular cell in  DataFrame using index value
#set value, at, iat, replace
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df)
print()

df.at['b', 'score']=100
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima  100.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [32]:
#35-count the NaN values in one or more columns in DataFrame.
#null value, count
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df.isnull().values.sum())

2

In [38]:
#36-drop a list of rows from a specified DataFrame
#delete rows
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)

#df=df.drop(2)  #1 row
df=df.drop(df.index[[2,4]])  #multiple rows
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
   col1  col2  col3
0     1     4     7
1     4     5     8
3     4     7     0

In [40]:
#37-reset index in a given DataFrame
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data,index=labels)
print(df)

print(df.reset_index(drop=True))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
        name  score  attempts qualify
0  Anastasia   12.5         1     yes
1       Dima    9.0         3      no
2  Katherine   16.5         2     yes
3      James    NaN         3      no
4      Emily    9.0         2      no
5    Michael   20.0         3     yes
6    Matthew   14.5         1     yes
7      Laura    NaN         1      no
8      Kevin    8.0         2      no
9      Jonas   19.0         1     yes

In [45]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df)
print()

print("After removing first and second row")
#df=df.drop([[0,1]])--dicommissioned method
print(df.reset_index())
print()

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

After removing first and second row
  index       name  score  attempts qualify
0     a  Anastasia   12.5         1     yes
1     b       Dima    9.0         3      no
2     c  Katherine   16.5         2     yes
3     d      James    NaN         3      no
4     e      Emily    9.0         2      no
5     f    Michael   20.0         3     yes
6     g    Matthew   14.5         1     yes
7     h      Laura    NaN         1      no
8     i      Kevin    8.0         2      no
9     j      Jonas   19.0         1     yes

In [46]:
#ratio fraction of DF
#38-divide a DataFrame in a given ratio
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(10,2))
print("Original Data Frame")
print(df)
print()

part_70=df.sample(frac=0.70,random_state=10)
part_30=df.drop(part_70.index)
print("70% of said data frame=")
print(part_70)
print("30% of said data frame")
print(part_30)

Original Data Frame
          0         1
0  0.671189 -0.551606
1 -0.525467  1.622624
2 -1.179992 -1.184573
3  0.254123 -0.531431
4 -0.576381 -1.149609
5 -0.636034  0.119143
6  0.957518 -0.246307
7  0.736561  0.298009
8  0.516575 -0.283093
9  0.161050 -0.567605

70% of said data frame=
          0         1
8  0.516575 -0.283093
2 -1.179992 -1.184573
5 -0.636034  0.119143
6  0.957518 -0.246307
3  0.254123 -0.531431
1 -0.525467  1.622624
0  0.671189 -0.551606
30% of said data frame
          0         1
4 -0.576381 -1.149609
7  0.736561  0.298009
9  0.161050 -0.567605

In [50]:
#39-combining two series into a DataFrame. 
import pandas as pd
import numpy as np

d1=[100,200,'Python',300.12,400]
d2=[10,20,'php',10.12,40]

ser1=pd.Series(data=d1)
ser2=pd.Series(data=d2)

df=pd.DataFrame(data=[ser1,ser2])
print(df)

     0    1       2       3    4
0  100  200  Python  300.12  400
1   10   20     php   10.12   40

In [48]:
import pandas as pd
import numpy as np

s1=pd .Series([100,200,'Python',300.12,400])
s2=pd.Series(['10', '20', 'php', '30.12', '40'])

df=pd.concat([s1,s2],axis=1)
print(df)

        0      1
0     100     10
1     200     20
2  Python    php
3  300.12  30.12
4     400     40

In [51]:
#40-shuffle a given DataFrame rows
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df)
print()

df=df.sample(frac=1)
print("sample dataset")
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

sample dataset
        name  score  attempts qualify
i      Kevin    8.0         2      no
h      Laura    NaN         1      no
e      Emily    9.0         2      no
g    Matthew   14.5         1     yes
a  Anastasia   12.5         1     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
c  Katherine   16.5         2     yes
b       Dima    9.0         3      no
d      James    NaN         3      no

In [57]:
#41- convert DataFrame column type from string to datetime
import pandas as pd
import numpy as np
from dateutil.parser import parser

arr=['3/11/2000','3/12/2009','4/13/2001']
s=pd.Series(arr)

df=pd.DataFrame(data=arr)
print(df)
print()

r=pd.to_datetime(pd.Series(s))
df=pd.DataFrame(r)
print(df)

           0
0  3/11/2000
1  3/12/2009
2  4/13/2001

           0
0 2000-03-11
1 2009-03-12
2 2001-04-13

In [61]:
#42-rename a specific column name in a given DataFrame
#rename Column
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

df=df.rename(columns={'col2':'column2'})
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  column2  col3
0     1        4     7
1     4        5     8
2     3        6     9
3     4        7     0
4     5        8     1

In [62]:
#43- get a list of a specified column of a DataFrame.
##column content==Vertical
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df['col2'])

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

0    4
1    5
2    6
3    7
4    8
Name: col2, dtype: int64

In [63]:
#column content==Horizontal
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)

col2_list=df['col2'].tolist()
print("column2 content")
print(col2_list)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
column2 content
[4, 5, 6, 7, 8]

In [66]:
#44-DataFrame from a Numpy array and specify the index column and column headers
import pandas as pd
import numpy as np

#data
dtype=[('col1','int32'),('col2','float32'),('col3','float32')]
values=np.zeros(15,dtype=dtype)

#index
index=['Index'+str(i) for i in range(1,len(values)+1)]

#dataframe
df=pd.DataFrame(data=values,index=index)
print(df)

         col1  col2  col3
Index1      0   0.0   0.0
Index2      0   0.0   0.0
Index3      0   0.0   0.0
Index4      0   0.0   0.0
Index5      0   0.0   0.0
Index6      0   0.0   0.0
Index7      0   0.0   0.0
Index8      0   0.0   0.0
Index9      0   0.0   0.0
Index10     0   0.0   0.0
Index11     0   0.0   0.0
Index12     0   0.0   0.0
Index13     0   0.0   0.0
Index14     0   0.0   0.0
Index15     0   0.0   0.0

In [67]:
#45-find the row for where the value of a given column is maximum.
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print("Row where col1 has maximum value:")
print(df['col1'].argmax())

print("Row where col2 has maximum value:")
print(df.col2.max())

print("Row where col3 has maximum value:")
print(df['col3'].argmax())

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

Row where col1 has maximum value:
4
Row where col2 has maximum value:
8
Row where col3 has maximum value:
2

In [69]:
#46-check whether a given column is present in a DataFrame or not
#if loop / condition
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

if 'col4' in df.columns:
    print("col4 is in dataset")
else:
    print("col4 is not in dataset")

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

col4 is not in dataset

In [72]:
#47-get the specified row value of a given DataFrame.
import pandas as pd
import numpy as np

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df.loc[[3]])
print("value of row 1")
print(df.iloc[3])

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
3     4     7     0
value of row 1
col1    4
col2    7
col3    0
Name: 3, dtype: int64

In [73]:
#48- get the datatypes of columns of a DataFrame
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df)
print()

print(df.info())

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   name      10 non-null     object
 1   score     8 non-null      float64
 2   attempts  10 non-null     int64
 3   qualify   10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 400.0+ bytes
None

In [74]:
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df.dtypes)

name         object
score       float64
attempts      int64
qualify      object
dtype: object

In [76]:
#49-append data to an empty DataFrame.
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame()
print(df)

df=df.append(pd.DataFrame(data=exam_data,index=labels))
print(df)

Empty DataFrame
Columns: []
Index: []
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [83]:
#50-Sort a given DataFrame by two or more columns
import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data, index=labels)
print(df)
print()

df=df.sort_values(['score','name'],ascending=[True,True])
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

        name  score  attempts qualify
i      Kevin    8.0         2      no
b       Dima    9.0         3      no
e      Emily    9.0         2      no
a  Anastasia   12.5         1     yes
g    Matthew   14.5         1     yes
c  Katherine   16.5         2     yes
j      Jonas   19.0         1     yes
f    Michael   20.0         3     yes
d      James    NaN         3      no
h      Laura    NaN         1      no

In [88]:
#51-convert the datatype of a given column (floats to ints)
#as type does not work for null values

import pandas as pd
import numpy as np

exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],
'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df=pd.DataFrame(data=exam_data,index=labels)
print(df)
print()
print(df.dtypes)
#print()

#df.score=df.score.astype(int)
df.score = df.score.astype(int)
print(df)
#print(df.dtypes)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
name         object
score       float64
attempts      int64
qualify      object
dtype: object

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [85]:
import pandas as pd
import numpy as np
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],
        'score': [12.5, 9.1, 16.5, 12.77, 9.21, 20.22, 14.5, 11.34, 8.8, 19.13],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
df = pd.DataFrame(exam_data)
print("Original DataFrame:")
print(df)
print("\nData types of the columns of the said DataFrame:")
print(df.dtypes)
print("\nNow change the Data type of 'score' column from float to int:")
df.score = df.score.astype(int)
print(df)
print("\nData types of the columns of the DataFrame now:")
print(df.dtypes)

Original DataFrame:
        name  score  attempts qualify
0  Anastasia  12.50         1     yes
1       Dima   9.10         3      no
2  Katherine  16.50         2     yes
3      James  12.77         3      no
4      Emily   9.21         2      no
5    Michael  20.22         3     yes
6    Matthew  14.50         1     yes
7      Laura  11.34         1      no
8      Kevin   8.80         2      no
9      Jonas  19.13         1     yes

Data types of the columns of the said DataFrame:
name         object
score       float64
attempts      int64
qualify      object
dtype: object

Now change the Data type of 'score' column from float to int:
        name  score  attempts qualify
0  Anastasia     12         1     yes
1       Dima      9         3      no
2  Katherine     16         2     yes
3      James     12         3      no
4      Emily      9         2      no
5    Michael     20         3     yes
6    Matthew     14         1     yes
7      Laura     11         1      no
8      Kevin      8         2      no
9      Jonas     19         1     yes

Data types of the columns of the DataFrame now:
name        object
score        int32
attempts     int64
qualify     object
dtype: object

In [89]:
#52-remove infinite values from a given DataFrame.
import pandas as pd
import numpy as np

df=pd.DataFrame([1000,2000,3000,-4000,np.inf,-np.inf])
print("original data frame")
print(df)

print("Removing infinite values")
df=df.replace([np.inf,-np.inf],np.nan)
print(df)

original data frame
        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     inf
5    -inf
Removing infinite values
        0
0  1000.0
1  2000.0
2  3000.0
3 -4000.0
4     NaN
5     NaN

In [92]:
#53-insert a given column at a specific column index in a DataFrame.
import pandas as pd
import numpy as np

#d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
d={'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

new_col=[1,4,3,4,5]

idx=0
df.insert(loc=idx,column='col1',value=new_col)
#df=df.concat({'col1':[1,4,3,4,5]})
print(df)

   col2  col3
0     4     7
1     5     8
2     6     9
3     7     0
4     8     1

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

In [93]:
#54-convert a given list of lists into a Dataframe
import pandas as pd
lst=[[2,4],[1,3]]

df=pd.DataFrame(data=lst)
print(df)

   0  1
0  2  4
1  1  3

In [94]:
import pandas as pd

lst=[[2,4],[1,3]]
my_lists=[['col1','col2'],[2,4],[1,3]]

# sets the headers as list
headers=my_lists.pop(0)

df=pd.DataFrame(my_lists,columns=headers)
print(df)

   col1  col2
0     2     4
1     1     3

In [102]:
#55-Group by the first column and get second column as lists in rows
import pandas as pd

d={'col1':['c1','c1','c2','c2','c2','c3','c2'],'col2':[1,2,3,3,4,6,5]}
df=pd.DataFrame(data=d)
print(df)
print()

#print(df.group_by(df['col2']))
df=df.groupby('col1')['col2'].apply(list)
print(df)

  col1  col2
0   c1     1
1   c1     2
2   c2     3
3   c2     3
4   c2     4
5   c3     6
6   c2     5

col1
c1          [1, 2]
c2    [3, 3, 4, 5]
c3             [6]
Name: col2, dtype: object

In [104]:
#56-get column index from column name of a given DataFrame
#column number/location

import pandas as pd

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)

#print(df['col1'].index())
print(df.columns.get_loc('col2'))

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
1

In [106]:
#57-program to count number of columns of a DataFrame
#count of columns

import pandas as pd
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

#print(df.columns.count())
print(len(df.columns))

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

3

In [111]:
#58-select all columns, except one given column in a DataFrame
#filter column/condition
import pandas as pd

d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

#print(df[df.columns!='col3'])
df=df.loc[:,df.columns!='col3']
print(df)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2
0     1     4
1     4     5
2     3     6
3     4     7
4     5     8

In [112]:
#59-program to get first n records of a DataFrame.
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df.head(3))

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9

In [113]:
#60-get last n records of a DataFrame
import pandas as pd
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df.tail(3))

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
2     3     6     9
3     4     7     0
4     5     8     1

In [1]:
#Date-10/16/22
#61-get topmost n records within each group of a DataFrame
import pandas as pd
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df = pd.DataFrame(data=d)
print(df)

df1=df.nlargest(3,'col1')
print(df1)

df2=df.nlargest(3,'col2')
print(df2)

df3=df.nlargest(3,'col3')
print(df3)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1
   col1  col2  col3
4     5     8     1
1     4     5     8
3     4     7     0
   col1  col2  col3
4     5     8     1
3     4     7     0
2     3     6     9
   col1  col2  col3
2     3     6     9
1     4     5     8
0     1     4     7

In [3]:
#62-remove delete first n rows of a given DataFrame
import pandas as pd
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df.drop([2,3]))

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
0     1     4     7
1     4     5     8
4     5     8     1

In [4]:
#using iloc select or remove n rows
import pandas as pd
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

df1=df.iloc[3:]
print(df1)

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
3     4     7     0
4     5     8     1

In [5]:
#64-remove last n rows of a given DataFrame
import pandas as pd
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df.iloc[:3])

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9

In [6]:
#65-add a prefix or suffix to all columns of a given DataFrame
import pandas as pd
d={'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df=pd.DataFrame(data=d)
print(df)
print()

print("Ad prefix:")
print(df.add_prefix("A_"))

print("Add Suffix")
print(df.add_suffix("_01"))

    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

Ad prefix:
   A_W  A_X  A_Y  A_Z
0   68   78   84   86
1   75   85   94   97
2   86   96   89   96
3   80   80   83   72
4   66   86   86   83
Add Suffix
   W_01  X_01  Y_01  Z_01
0    68    78    84    86
1    75    85    94    97
2    86    96    89    96
3    80    80    83    72
4    66    86    86    83

In [16]:
#65- reverse order (rows, columns) of a given DataFrame
import pandas as pd
d={'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]}
df=pd.DataFrame(data=d)
print(df)

#reverse Rows
print(df.iloc[::-1])
print(df.iloc[::-1].reset_index(drop=True))

#reverse columns
print(df.iloc[:,::-1])

    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83
    W   X   Y   Z
4  66  86  86  83
3  80  80  83  72
2  86  96  89  96
1  75  85  94  97
0  68  78  84  86
    W   X   Y   Z
0  66  86  86  83
1  80  80  83  72
2  86  96  89  96
3  75  85  94  97
4  68  78  84  86
    Z   Y   X   W
0  86  84  78  68
1  97  94  85  75
2  96  89  96  86
3  72  83  80  80
4  83  86  86  66

In [19]:
#66-select columns by data type of a given DataFrame.
import pandas as pd
d={'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]}

df=pd.DataFrame(data=d)
print(df)
print()

print("Selecting numerical column")
#print(df.columns.astype(int))
print(df.select_dtypes(include='number'))

print("Selecting string column")
print(df.select_dtypes(include='object'))

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

Selecting numerical column
    age
0  18.5
1  21.2
2  22.5
3  22.0
4  23.0
Selecting string column
             name date_of_birth
0  Alberto Franco    17/05/2002
1    Gino Mcneill    16/02/1999
2     Ryan Parkes    25/09/1998
3    Eesha Hinton    11/05/2002
4    Syed Wharton    15/09/1997

In [20]:
#67-split a given DataFrame into two random subsets
import pandas as pd

d={'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]}
df=pd.DataFrame(data=d)
print(df)

print("Dataframe subset01")
print(df.iloc[:3])

print("Dataframe subset02")
print(df.iloc[3:])

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0
Dataframe subset01
             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
Dataframe subset02
           name date_of_birth   age
3  Eesha Hinton    11/05/2002  22.0
4  Syed Wharton    15/09/1997  23.0

In [21]:
#shape method
import pandas as pd
d={'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]}
df=pd.DataFrame(data=d)
print(df)
print()

df1=df.sample(frac=0.6)
df2=df.drop(df1.index)

print("subset 1 and shape")
print(df1)
print(df1.shape)

print("subset 2 and shape")
print(df2)
print(df2.shape)

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

subset 1 and shape
           name date_of_birth   age
2   Ryan Parkes    25/09/1998  22.5
3  Eesha Hinton    11/05/2002  22.0
1  Gino Mcneill    16/02/1999  21.2
(3, 3)
subset 2 and shape
             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
4    Syed Wharton    15/09/1997  23.0
(2, 3)

In [23]:
#68-rename all columns with the same pattern of a given DataFrame
import pandas as pd

d={'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]}
df=pd.DataFrame(data=d)
print(df)
print()

df.columns=df.columns.str.lower().str.rstrip()
print("Removing whitespace and convert to lowercase")
print(df.head())

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

Removing whitespace and convert to lowercase
             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

In [27]:
#69-merge datasets and check uniqueness
d={'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]}

df=pd.DataFrame(data=d)
print(df)
print()

df1=df.copy(deep=True)
df=df.drop([0,1])
df1=df1.drop([2])

print("New datasets")
print(df)
print()
print(df1)
print()

print("Check keys are unique in both left and right datasets")
df_one_to_one=pd.merge(df,df1,validate="one_to_one")
print(df_one_to_one)
print()

print("check if merge keys are unique in left dataset")
df_one_to_many=pd.merge(df,df1,validate="one_to_many")
print(df_one_to_many)
print()

print("check if merge keys are unique in right dataset")
df_many_to_one=pd.merge(df,df1,validate="many_to_one")
print(df_many_to_one)
print()

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

New datasets
           name date_of_birth   age
2   Ryan Parkes    25/09/1998  22.5
3  Eesha Hinton    11/05/2002  22.0
4  Syed Wharton    15/09/1997  23.0

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

Check keys are unique in both left and right datasets
           name date_of_birth   age
0  Eesha Hinton    11/05/2002  22.0
1  Syed Wharton    15/09/1997  23.0

check if merge keys are unique in left dataset
           name date_of_birth   age
0  Eesha Hinton    11/05/2002  22.0
1  Syed Wharton    15/09/1997  23.0

check if merge keys are unique in right dataset
           name date_of_birth   age
0  Eesha Hinton    11/05/2002  22.0
1  Syed Wharton    15/09/1997  23.0

In [29]:
#lable change, 
#70-convert continuous values of a column in a given DataFrame to categorical
import pandas as pd
df = pd.DataFrame({
    'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton', 'Kierra Gentry'],
      'age': [18, 22, 85, 50, 80, 5]
})
print("Original DataFrame:")
print(df)
print('\nAge group:')
df["age_groups"] = pd.cut(df["age"], bins = [0, 18, 65, 99], labels = ["kids", "adult", "elderly"])
print(df["age_groups"])

Original DataFrame:
             name  age
0  Alberto Franco   18
1    Gino Mcneill   22
2     Ryan Parkes   85
3    Eesha Hinton   50
4    Syed Wharton   80
5   Kierra Gentry    5

Age group:
0       kids
1      adult
2    elderly
3      adult
4    elderly
5       kids
Name: age_groups, dtype: category
Categories (3, object): ['kids' < 'adult' < 'elderly']

In [31]:
#71- display memory usage of a given DataFrame and every column of the DataFrame
import pandas as pd

d={'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Eesha Hinton', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]}

df=pd.DataFrame(data=d)
print(df)
print()

print("Global memory of dataset")
print(df.info(memory_usage="deep"))
print()

print("memory usage of every column of dataset")
print(df.memory_usage(deep=True))

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Eesha Hinton    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0

Global memory of dataset
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           5 non-null      object
 1   date_of_birth  5 non-null      object
 2   age            5 non-null      float64
dtypes: float64(1), object(2)
memory usage: 849.0 bytes
None

memory usage of every column of dataset
Index            128
name             346
date_of_birth    335
age               40
dtype: int64

In [43]:
#72-combine many given series to create a DataFrame
import pandas as pd

d1=['php','java','python','html']
d2=[1,2,3,4]

s1=pd.Series(d1)
print(s1)
print()

s2=pd.Series(d2)
print(s2)
print()

#combining two series
df=pd.DataFrame(s1,s2).reset_index()
print(df)

print("using concat:")
df=pd.concat([s1,s2],axis=1)
print(df)
print()

print("using dicitionary")
df=pd.DataFrame({"col1":s1,"col2":s2})
print(df)

0       php
1      java
2    python
3      html
dtype: object

0    1
1    2
2    3
3    4
dtype: int64

   index       0
0      1    java
1      2  python
2      3    html
3      4     NaN
using concat:
        0  1
0     php  1
1    java  2
2  python  3
3    html  4

using dicitionary
     col1  col2
0     php     1
1    java     2
2  python     3
3    html     4

In [45]:
#73-to create DataFrames that contains random values, contains missing values, contains datetime values and contains mixed values
import pandas as pd
import pandas.util.testing

print("DataFrame: Contains random values:")
df1 = pd.util.testing.makeDataFrame() # contains random values
print(df1)
print("\nDataFrame: Contains missing values:")
df2 = pd.util.testing.makeMissingDataframe() # contains missing values
print(df2)
print("\nDataFrame: Contains datetime values:")
df3 = pd.util.testing.makeTimeDataFrame() # contains datetime values
print(df3)
print("\nDataFrame: Contains mixed values:")
df4 = pd.util.testing.makeMixedDataFrame() # contains mixed values
print(df4)

DataFrame: Contains random values:
                   A         B         C         D
Dj6BIpvWry  0.224844  1.259560  0.074775 -0.817641
E113vmZlX8  0.376285  1.766708  0.233189  0.862415
k2zYy3xVpq  1.092777 -0.805155 -0.020486  1.665157
cjcBeCntsf -0.328358  1.090198  0.136768 -2.097910
qgRpBy2FM2  1.698150 -1.071974 -0.543131  0.864724
AmCZkr4dL2  0.461749  0.093608 -0.061269 -2.124141
gmOT6ItZd1  0.120721 -0.916814  0.959060 -0.180373
uwPpAMaWcQ -1.278674  0.375218  0.498518 -1.158067
yVpmkEYYaZ -1.405564  0.169567 -1.024615 -0.479559
bg9OogUWqc  0.792318  1.181230  1.273922  0.176001
Gi1TgTpclj  1.546045 -0.184074 -1.545369 -0.907075
QyMqMlmRmT  0.725916  0.527118  0.530634  0.383088
lwkq8hEFo2 -0.462825 -0.575909  0.273159 -0.401339
qdNJzyIiTi -0.417076  0.580975 -0.254996 -0.658774
dKnPUUy4qT  0.508310 -2.055951 -0.648868 -0.110058
4XtnjerugC  0.292783 -1.140063  0.718198  0.919911
CudYwfXBqD -1.189911 -0.180060 -0.344789 -0.491592
J7d2tkTZcN  0.392261  0.283031 -0.530093 -0.463343
wAjt8wUUgf -0.077362 -0.137252  2.528003  0.636133
SFOLXkNFyV  1.054555 -0.624313 -0.617167 -1.771523
MMtpccNHZl -0.472901 -0.312702 -0.937647  1.148558
7QVQvfZWsP -0.172624 -0.419424  0.713831 -0.575205
dB7NjpaADW -0.779395  0.639502  0.941797 -1.335566
AaprWhIO16 -1.495420  0.301873  1.320068  0.818162
5ENa0JEvWo -0.235290 -0.202097 -0.531505  0.059973
o7IOMibWZI  0.128055  1.031737  0.137452  0.345196
8dHLttItOS  0.711263 -0.366496 -0.147521 -1.664172
uLg23LlC7O -0.155236  0.672307 -0.723349 -1.691542
WfnSNz8Fg3  0.303214 -0.264150  1.765020  0.788354
sfh2hRMfA2  0.018617  0.476163  1.489215 -0.567952

DataFrame: Contains missing values:
                   A         B         C         D
eX10ccH46A -1.616478  1.808160  1.089886  0.870084
yPKtvzcNkz  0.760477 -0.089617       NaN -2.883728
KoMWzZj7be  2.111723  1.061522 -0.361332 -0.264295
kohchpKw1c  1.400455 -0.496533 -0.123034       NaN
iwXCYJMlrb -1.059527  0.118728 -0.653851 -0.645221
qLfT0VZYtd  0.730913  0.390102 -1.601374  0.410358
iiIGvXIWvV -1.446820 -1.312682       NaN -0.986792
wlOCXIFyPY       NaN  1.436192  1.135901  0.838555
2AgvYBzkc7 -0.055918  0.396586 -0.497621 -0.005354
M5NjLYTQdF -0.969012  0.513191  1.956807  1.648584
SlkNOqiZBW  0.308422  0.041389 -1.003308       NaN
UtI0bj8fhX -0.806107  0.548040  0.346036 -1.769418
aRM890LTnx -0.964722  1.392421 -0.553072  0.655015
1Rn6rx6ZPi -1.384713 -0.591069 -0.621574  0.367835
KRJbmG5YcY  0.381064 -2.678923  2.900278  1.633957
4juXN2j7Nc  1.450276       NaN -1.420536  1.016365
8w7OzQdlmO  0.592602 -0.022070  1.650760 -0.952008
75c78tTAsx -0.145223       NaN -1.002545 -1.223609
3HytrNyJbg       NaN  0.227306 -0.748077       NaN
eUwiF1MErH -0.871037  1.269458 -0.178472 -0.055842
tWzVWSkTGP -0.683233 -0.371996  1.288422       NaN
a12HoZF2Oe -0.450287  0.181910 -0.012439  1.107524
T3Xus7javQ -0.516374 -1.225677 -2.177686 -2.174758
qZQZ87nYcy  0.250869  1.520591  0.864185 -0.470330
E1VXyLYFoS  0.097113 -0.464117  0.670558       NaN
HszdfqAeoq -1.277027  0.407691 -0.110727 -0.222680
c0PemD4YDw -1.017703  0.511859  0.134263  0.167716
fct1zTSucN  0.327514  0.066213 -0.152157 -0.692307
4DzLcaSxpD  1.260486 -0.128698 -2.820295 -1.603493
9dmLvjfzMX -1.258191  0.309242  0.474036       NaN

DataFrame: Contains datetime values:
                   A         B         C         D
2000-01-03 -0.669690  1.247669 -0.660891 -1.068378
2000-01-04  0.685148  0.470855  0.085250  0.617556
2000-01-05  2.305451  1.406493  1.585773  1.181982
2000-01-06 -0.206678  1.545160 -0.065639 -1.240617
2000-01-07 -1.267606 -0.210792  1.487794 -1.253719
2000-01-10  1.032418  1.582638 -0.566377  0.548566
2000-01-11 -1.571628  0.093592  1.399296  0.477633
2000-01-12 -0.843449 -1.696615 -1.877829 -0.067795
2000-01-13 -0.785704 -1.249523 -1.170878 -0.143370
2000-01-14  0.528447 -0.779253  0.141868 -0.130684
2000-01-17 -0.345632  0.179255 -0.102609  2.627324
2000-01-18  1.089827  0.027753 -0.219741  0.763400
2000-01-19 -1.240566 -0.200938 -0.059782 -0.064137
2000-01-20  1.393674  0.379492 -0.763267  2.193272
2000-01-21 -0.868885 -1.699176 -2.934146 -0.323208
2000-01-24 -0.816106 -1.237192  0.667546 -0.099510
2000-01-25  1.250209 -0.291671  0.756599 -0.395701
2000-01-26  0.498595 -0.566360  0.613983  0.118895
2000-01-27  1.061776  1.291488 -0.493579  0.939258
2000-01-28 -1.172210 -0.528922  0.015540 -0.989479
2000-01-31 -0.038725 -0.530123  0.889939  0.590465
2000-02-01  1.307034  0.999583 -0.523019  0.396423
2000-02-02 -0.135029 -0.560886  0.721362  0.886500
2000-02-03 -0.908322  1.244989  2.089554  0.748467
2000-02-04  0.080528 -0.050505  1.356727 -0.675784
2000-02-07  1.638947  0.454623  0.235379  0.091367
2000-02-08 -0.832543 -0.608034 -0.453058  0.671411
2000-02-09 -0.063165 -0.073589 -0.387362 -1.470114
2000-02-10  0.826509 -0.034533 -0.165156 -2.132219
2000-02-11  0.298585 -1.495976 -0.845308  0.101629

DataFrame: Contains mixed values:
     A    B     C          D
0  0.0  0.0  foo1 2009-01-01
1  1.0  1.0  foo2 2009-01-02
2  2.0  0.0  foo3 2009-01-05
3  3.0  1.0  foo4 2009-01-06
4  4.0  0.0  foo5 2009-01-07

In [48]:
#74- fill missing values in time series data
import pandas as pd
import numpy as np
d = {"c1":[120, 130 ,140, 150, np.nan, 170], "c2":[7, np.nan, 10, np.nan, 5.5, 16.5]}

df=pd.DataFrame(data=d)
print(df)
print()

df=df.fillna(0)
print(df)

      c1    c2
0  120.0   7.0
1  130.0   NaN
2  140.0  10.0
3  150.0   NaN
4    NaN   5.5
5  170.0  16.5

      c1    c2
0  120.0   7.0
1  130.0   0.0
2  140.0  10.0
3  150.0   0.0
4    0.0   5.5
5  170.0  16.5

In [49]:
import pandas as pd
import numpy as np
d = {"c1":[120, 130 ,140, 150, np.nan, 170], "c2":[7, np.nan, 10, np.nan, 5.5, 16.5]}
df=pd.DataFrame(data=d)

df.index=pd.util.testing.makeDateIndex()[0:6]
print("Original DataFrame")
print(df)
print()

print("DataFrame After Interpolation")
print(df.interpolate())

Original DataFrame
               c1    c2
2000-01-03  120.0   7.0
2000-01-04  130.0   NaN
2000-01-05  140.0  10.0
2000-01-06  150.0   NaN
2000-01-07    NaN   5.5
2000-01-10  170.0  16.5

DataFrame After Interpolation
               c1     c2
2000-01-03  120.0   7.00
2000-01-04  130.0   8.50
2000-01-05  140.0  10.00
2000-01-06  150.0   7.75
2000-01-07  160.0   5.50
2000-01-10  170.0  16.50

In [51]:
#75- use a local variable within a query.
import pandas as pd
df=pd.DataFrame({'W':[68,75,86,80,66],'X':[78,85,96,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]})
print(df)
print()

maxx=df["W"].max()
print(maxx)
print("\nValues which are less than maximum value of 'W' column")
print(df.query("W<@maxx"))

    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
2  86  96  89  96
3  80  80  83  72
4  66  86  86  83

86

Values which are less than maximum value of 'W' column
    W   X   Y   Z
0  68  78  84  86
1  75  85  94  97
3  80  80  83  72
4  66  86  86  83

In [52]:
#76- clean object column with mixed data of a given DataFrame using regular expression
import pandas as pd
import numpy as np

d = {"agent": ["a001", "a002", "a003", "a003", "a004"], "purchase":[4500.00, 7500.00, "$3000.25", "$1250.35", "9000.00"]}
df = pd.DataFrame(data=d)
print(df)
print()

print("Data Types")
print(df['purchase'].apply(type))
df['purchase']=df['purchase'].replace('[$]','',regex=True).astype('float')
print("New Data Types")
print(df['purchase'].apply(type))

  agent  purchase
0  a001    4500.0
1  a002    7500.0
2  a003  $3000.25
3  a003  $1250.35
4  a004   9000.00

Data Types
0    <class 'float'>
1    <class 'float'>
2      <class 'str'>
3      <class 'str'>
4      <class 'str'>
Name: purchase, dtype: object
New Data Types
0    <class 'float'>
1    <class 'float'>
2    <class 'float'>
3    <class 'float'>
4    <class 'float'>
Name: purchase, dtype: object

In [56]:
#77-get the numeric representation of an array by identifying distinct values of a given column of a dataframe.
import pandas as pd
import numpy as np

d={'name': ['Alberto Franco','Gino Mcneill','Ryan Parkes', 'Gino Mcneill', 'Syed Wharton'],
    'date_of_birth': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]}
df=pd.DataFrame(data=d)
print(df)
print()

#print(df.select_dtypes(include='number'))
label1,unique1=pd.factorize(df['name'])
print("\nNumeric representation of an array by identifying distinct values:")
print(label1)
print(unique1)

             name date_of_birth   age
0  Alberto Franco    17/05/2002  18.5
1    Gino Mcneill    16/02/1999  21.2
2     Ryan Parkes    25/09/1998  22.5
3    Gino Mcneill    11/05/2002  22.0
4    Syed Wharton    15/09/1997  23.0


Numeric representation of an array by identifying distinct values:
[0 1 2 1 3]
Index(['Alberto Franco', 'Gino Mcneill', 'Ryan Parkes', 'Syed Wharton'], dtype='object')

In [57]:
#78-replace the current value in a dataframe column based on last largest value. 
#If the current value is less than last largest value replaces the value with 0
import pandas as pd
df1=pd.DataFrame({'rnum':[23, 21, 27, 22, 34, 33, 34, 31, 25, 22, 34, 19, 31, 32, 19]})
print("Original DataFrame:")
print(df1)
df1['rnum']=df1.rnum.where(df1.rnum.eq(df1.rnum.cummax()),0)
print("\nReplace current value in a dataframe column based on last largest value:")
print(df1)

Original DataFrame:
    rnum
0     23
1     21
2     27
3     22
4     34
5     33
6     34
7     31
8     25
9     22
10    34
11    19
12    31
13    32
14    19

Replace current value in a dataframe column based on last largest value:
    rnum
0     23
1      0
2     27
3      0
4     34
5      0
6     34
7      0
8      0
9      0
10    34
11     0
12     0
13     0
14     0

In [59]:
#79-create a DataFrame from the clipboard (data from an Excel spreadsheet or a Google Sheet)
import pandas as pd
df = pd.read_clipboard()
print("Data from clipboard to DataFrame:")
print(df)

ParserError: Expected 4 fields in line 3, saw 5. Error could possibly be due to quotes being ignored when a multi-char delimiter is used.

In [61]:
#80-program to check for inequality of two given DataFrames.
import pandas as pd
df1 = pd.DataFrame({'W':[68,75,86,80,None],'X':[78,85,None,80,86], 'Y':[84,94,89,83,86],'Z':[86,97,96,72,83]});
df2 = pd.DataFrame({'W':[78,75,86,80,None],'X':[78,85,96,80,76], 'Y':[84,84,89,83,86],'Z':[86,97,96,72,83]});
print("Original DataFrames:")
print(df1)
print()
print(df2)
print()
print(df1.ne(df2))

Original DataFrames:
      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  85.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  83  72
4   NaN  86.0  86  83

      W   X   Y   Z
0  78.0  78  84  86
1  75.0  85  84  97
2  86.0  96  89  96
3  80.0  80  83  72
4   NaN  76  86  83

       W      X      Y      Z
0   True  False  False  False
1  False  False   True  False
2  False   True  False  False
3  False  False  False  False
4   True   True  False  False

In [63]:
#81-get lowest n records within each group of a given DataFrame
import pandas as pd
d={'col1':[1,4,3,4,5],'col2':[4,5,6,7,8],'col3':[7,8,9,0,1]}
df=pd.DataFrame(data=d)
print(df)
print()

print(df.nsmallest(3,'col1'))
print()
print(df.nsmallest(3,'col2'))
print()
print(df.nsmallest(3,'col3'))
print()

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9
3     4     7     0
4     5     8     1

   col1  col2  col3
0     1     4     7
2     3     6     9
1     4     5     8

   col1  col2  col3
0     1     4     7
1     4     5     8
2     3     6     9

   col1  col2  col3
3     4     7     0
4     5     8     1
0     1     4     7