In [3]:
#Date 10/8/22
#series Demo
import pandas as pd
a=[1,7,2]

myvar=pd.Series(a)
print(myvar)

print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [6]:
#create labels
import pandas as pd
a=[1,7,2]

myvar=pd.Series(a,index=["x","y","z"])
print(myvar)

print(myvar["y"])

x    1
y    7
z    2
dtype: int64
7

In [9]:
#Key/Value Objects as Series
import pandas as pd
calories={"day1":420, "day2":310,"day3":490}

myvar=pd.Series(calories)
print(myvar)

day1    420
day2    310
day3    490
dtype: int64

In [10]:
#selecting number of attributes
import pandas as pd
calories={"day1":290, "day2":560, "day3":789}

myvar=pd.Series(calories, index=["day1","day2"])
print(myvar)

day1    290
day2    560
dtype: int64

In [12]:
import pandas as pd
myDataset={
    'cars':['BMW','Volvo','Ford'],
    'passing':[3,7,2]
}

myvar=pd.DataFrame(myDataset)
print(myvar)

    cars  passing
0    BMW        3
1  Volvo        7
2   Ford        2

In [13]:
import pandas as pd
print(pd.__version__)

1.3.4

In [14]:
#W3Resource Begins
#1- create and display a one-dimensional array-like object
import pandas as pd
arr=[23,45,12,67]

pd_obj=pd.Series(arr)
print(pd_obj)

0    23
1    45
2    12
3    67
dtype: int64

In [15]:
#2-convert a Panda module Series to Python list and it's type
import pandas as pd
arr=[23,45,12,67]
ser=pd.Series(arr)

lst=list(ser)
print(lst,type(lst))

[23, 45, 12, 67] <class 'list'>

In [17]:
#tolist method
import pandas as pd
ds=pd.Series([23,45,12,67])
print(ds,type(ds))

#conver to list
lst=ds.tolist()
print(lst, type(lst))

0    23
1    45
2    12
3    67
dtype: int64 <class 'pandas.core.series.Series'>
[23, 45, 12, 67] <class 'list'>

In [21]:
#3-add, subtract, multiple and divide two Pandas Series
import pandas as pd
arr1=[10,20,30,40]
arr2=[1,2,3,4]
add=[]
sub=[]
mul=[]
div=[]
#convert them to series
ser1=pd.Series(arr1)
ser2=pd.Series(arr2)

#addition
for i in range(len(ser1)):
    add.append(ser1[i]+ser2[i])
    sub.append(ser1[i]-ser2[i])
    mul.append(ser1[i]*ser2[i])
    div.append(ser1[i]/ser2[i])
    
print(add,sub,mul,div)

[11, 22, 33, 44] [9, 18, 27, 36] [10, 40, 90, 160] [10.0, 10.0, 10.0, 10.0]

In [22]:
import pandas as pd
ds1=pd.Series([2, 4, 6, 8, 10])
ds2=pd.Series([1, 3, 5, 7, 9])

ds=ds1+ds2
print("add two series=",ds)

ds=ds1-ds2
print("subtract two series=",ds)

ds=ds1*ds2
print("multiply two series=",ds)

ds=ds1/ds2
print("divide two series=",ds)

add two series= 0     3
1     7
2    11
3    15
4    19
dtype: int64
subtract two series= 0    1
1    1
2    1
3    1
4    1
dtype: int64
multiply two series= 0     2
1    12
2    30
3    56
4    90
dtype: int64
divide two series= 0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [24]:
#4-compare the elements of the two Pandas Series
import pandas as pd
ser1=pd.Series([2, 4, 6, 8, 10])
ser2=pd.Series([1, 3, 5, 7, 10])

print(ser1, ser2)
print(ser1==ser2)
print(ser1>ser2)
print(ser1<ser2)

0     2
1     4
2     6
3     8
4    10
dtype: int64 0     1
1     3
2     5
3     7
4    10
dtype: int64
0    False
1    False
2    False
3    False
4     True
dtype: bool
0     True
1     True
2     True
3     True
4    False
dtype: bool
0    False
1    False
2    False
3    False
4    False
dtype: bool

In [26]:
#5-convert a dictionary to a Pandas series
import pandas as pd

dct={'a': 100, 'b': 200, 'c': 300, 'd': 400, 'e': 800}

ser=pd.Series(dct)
print(ser, type(ser))

a    100
b    200
c    300
d    400
e    800
dtype: int64 <class 'pandas.core.series.Series'>

In [29]:
#6-convert a NumPy array to a Pandas series.
import pandas as pd
import numpy as np

arr=np.array([10,20, 30, 40, 50])

ser=pd.Series(arr)

print(arr,type(arr))
print(ser,type(ser))

[10 20 30 40 50] <class 'numpy.ndarray'>
0    10
1    20
2    30
3    40
4    50
dtype: int32 <class 'pandas.core.series.Series'>

In [33]:
#7-change the data type of given a column or a Series
import pandas as pd

ser=pd.Series(['100','200','300','400','500'])

print(ser)

print("chaning data to numeric")
num_ser=pd.to_numeric(ser,errors='coerce')
print(num_ser)

0    100
1    200
2    300
3    400
4    500
dtype: object
chaning data to numberic
0    100
1    200
2    300
3    400
4    500
dtype: int64

In [37]:
#8-convert the first column of a DataFrame as a Series
import pandas as pd
arr={'col1':[1,2,3,4,5,6],
    'col2':[4,5,6,8,9,2],
    'col3':[7,5,8,1,2,12]}

df=pd.DataFrame(arr)
print(df)

ser=pd.Series(df['col1'])
print(ser)

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     8     1
4     5     9     2
5     6     2    12
0    1
1    2
2    3
3    4
4    5
5    6
Name: col1, dtype: int64

In [41]:
#slicing with .ix
import pandas as pd
arr={"col1":[1,2,3,4,5,6],
    'col2':[4,5,6,8,9,2],
    'col3':[7,5,8,1,2,12]}

df=pd.DataFrame(data=arr)
print(df)

s1=df.iloc[:,0]
print(s1, type(s1))

   col1  col2  col3
0     1     4     7
1     2     5     5
2     3     6     8
3     4     8     1
4     5     9     2
5     6     2    12
0    1
1    2
2    3
3    4
4    5
5    6
Name: col1, dtype: int64 <class 'pandas.core.series.Series'>

In [45]:
#9-program to convert a given Series to an array.
import pandas as pd
import numpy as np

arr=['100' '200' 'python' '300.12' '400']
ser=pd.Series(arr)
print(ser,type(ser))

np_arr=np.array(ser)
print(np_arr, type(np_arr))

0    100200python300.12400
dtype: object <class 'pandas.core.series.Series'>
['100200python300.12400'] <class 'numpy.ndarray'>

In [58]:
#10-convert Series of lists to one Series.
#apply method
import pandas as pd
ser=pd.Series([['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']])
print(ser)

s=s.apply(pd.Series).stack().reset_index(drop=True)
print(s)

0    [Red, Green, White]
1           [Red, Black]
2               [Yellow]
dtype: object
0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [56]:
#concat method
import pandas as pd
data=[['Red', 'Green', 'White'],['Red', 'Black'],['Yellow']]
s=pd.Series(data)
ls=[]
for i in s:
    ls.append(pd.Series(i))
s1=pd.concat([*ls]).reset_index(drop=True)
print(s1)

0       Red
1     Green
2     White
3       Red
4     Black
5    Yellow
dtype: object

In [64]:
#11- sort a given Series
import pandas as pd
arr=['200','Python','300.12','400']

ser=pd.Series(arr)
print(ser)

print(ser.sort_values())

0       200
1    Python
2    300.12
3       400
dtype: object
0       200
2    300.12
3       400
1    Python
dtype: object

In [71]:
#12-add some data to an existing Series
import pandas as pd

arr=['200','Python','300.12','400']
ser=pd.Series(arr)
print(ser)

new_ser=ser.append(pd.Series(['500', 'php']))
new_ser=new_ser.reset_index(drop=True)
print(new_ser)

0       200
1    Python
2    300.12
3       400
dtype: object
0       200
1    Python
2    300.12
3       400
4       500
5       php
dtype: object

In [9]:
#Date-10/09/22
#13-create a subset of a given series based on value and condition
#condition num<5 wil stay
import pandas as pd
myarr={'arr':[1,2,3,4,5,6,7,8,9,0]}

ser=pd.Series(arr)
print(ser)

#ser.loc[ser['arr']<=5,'<=5']=True
#ser.loc[ser['arr']>5,'<=5']=False
n=6
new_ser=ser[ser<n]
print(new_ser.reset_index(drop=True))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
9    0
dtype: int64
0    1
1    2
2    3
3    4
4    5
5    0
dtype: int64

In [11]:
#14-change the order of index of a given series
import pandas as pd
arr=['200','Python','300.12','400']
sub_arr=[250,"KLM"]

ser=pd.Series(arr)
print(ser)

new_ser=ser.append(pd.Series(sub_arr))
print(new_ser)

#reset index
print(new_ser.reset_index(drop=True))

0       200
1    Python
2    300.12
3       400
dtype: object
0       200
1    Python
2    300.12
3       400
0       250
1       KLM
dtype: object
0       200
1    Python
2    300.12
3       400
4       250
5       KLM
dtype: object

In [13]:
#without adding or removing elements
import pandas as pd
s=pd.Series(data=[1,2,3,4,5],index=['A', 'B', 'C','D','E'])
print("Original Data Series=")
print(s)

s=s.reindex(index=['B','A','C','D','E'])
print("series with reset index")
print(s)

Original Data Series=
A    1
B    2
C    3
D    4
E    5
dtype: int64
series with reset index
B    2
A    1
C    3
D    4
E    5
dtype: int64

In [15]:
#15-create the mean and standard deviation of the data of a given Series. 
import pandas as pd
arr=[5, 9, 8, 5, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 9, 5, 3]

ser=pd.Series(arr)
print(ser)

print("mean=",ser.mean())
print("standard deviation=",s.std())

0     5
1     9
2     8
3     5
4     7
5     8
6     1
7     2
8     3
9     4
10    5
11    6
12    7
13    8
14    9
15    5
16    3
dtype: int64
mean= 5.588235294117647
standard deviation= 1.5811388300841898

In [16]:
#16-get the items of a given series not present in another given series
import pandas as pd

arr1=[1,2,3,4,5]
arr2=[2,4,6,8,10]

ser1=pd.Series(arr1)
ser2=pd.Series(arr2)
print(ser1)
print(ser2)

result=ser1[~ser1.isin(ser2)]
print(result)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0    1
2    3
4    5
dtype: int64

In [18]:
#17-get the items which are not common of two given series.   ***************NOT CORRECT************
import pandas as pd
arr1=[1,2,3,4,5]
arr2=[2,4,6,8,10]

ser1=pd.Series(arr1)
ser2=pd.Series(arr2)
print(ser1)
print(ser2)

result= ser1[~ser1.isin(ser2)] + ser2[~ser2.isin(ser1)]
print(result)

0    1
1    2
2    3
3    4
4    5
dtype: int64
0     2
1     4
2     6
3     8
4    10
dtype: int64
0     NaN
2     9.0
3     NaN
4    15.0
dtype: float64

In [3]:
import pandas as pd
import numpy as np
arr1=[1,2,3,4,5]
arr2=[2,4,6,8,10]

ser1=pd.Series(arr1)
ser2=pd.Series(arr2)

ser11=pd.Series(np.union1d(ser1,ser2))    #s1  U  s2
ser22=pd.Series(np.intersect1d(ser1,ser2)) #s1 ^ s2

result=ser11[~ser11.isin(ser22)]
print(result)

0     1
2     3
4     5
5     6
6     8
7    10
dtype: int64

In [10]:
#18-compute the minimum, 25th percentile, median, 75th, and maximum of a given series
import pandas as pd
import numpy as np

arr=[3.000938,11.370722,14.612143,8.990256,13.925283,12.056875,14.118931,8.247458,5.526727]

ser=pd.Series(arr)

iq1=np.percentile(ser,25)
print(iq1)
iq2=np.percentile(ser,50)
print(iq1)
iq3=np.percentile(ser,q=75)
print(iq1)
iq4=np.percentile(ser,100)
print(iq1)

8.247458
8.247458
8.247458
8.247458

In [14]:
import pandas as pd
import numpy as np
num_state = np.random.RandomState(10)  #for generating number to distribution
num_series = pd.Series(num_state.normal(10, 4, 20))  #normal ditribution
print("Original Series:")
print(num_series)
result = np.percentile(num_series, q=[0, 25, 50, 75, 100])
print("\nMinimum, 25th percentile, median, 75th, and maximum of a given series:")
print(result)

Original Series:
0     15.326346
1     12.861116
2      3.818399
3      9.966465
4     12.485344
5      7.119658
6     11.062046
7     10.434194
8     10.017166
9      9.301599
10    11.732105
11    14.812149
12     6.139737
13    14.113096
14    10.914521
15    11.780550
16     5.453591
17    10.540548
18    15.938148
19     5.680780
dtype: float64

Minimum, 25th percentile, median, 75th, and maximum of a given series:
[ 3.81839883  8.75611381 10.72753402 12.5792869  15.93814801]

In [29]:
#19.calculate the frequency counts of each unique value of a given series
import pandas as pd
import numpy as np
num_series=pd.Series(np.take(list('0123546789'),np.random.randint(10,size=40)))

print("Original Series:")
print(num_series)

print("Frequency of each unique value of the said series.")
result=num_series.value_counts()
print(result)

Original Series:
0     8
1     2
2     3
3     9
4     7
5     7
6     8
7     4
8     7
9     9
10    5
11    8
12    8
13    6
14    4
15    4
16    7
17    5
18    3
19    1
20    1
21    0
22    2
23    8
24    8
25    4
26    7
27    3
28    0
29    4
30    6
31    1
32    2
33    0
34    2
35    4
36    3
37    1
38    7
39    8
dtype: object
Frequency of each unique value of the said series.
8    7
7    6
4    6
2    4
3    4
1    4
0    3
9    2
5    2
6    2
dtype: int64

In [19]:
#20-display most frequent value in a given series and replace everything else as 'Other' in the series
import pandas as pd
import numpy as np
np.random.RandomState(100)
num_series=pd.Series(np.random.randint(1,5,15))
print("original series")
print(num_series)
print("TOp 2 frequencies are: ",num_series.value_counts())
result=num_series[~num_series.isin(num_series.value_counts().index[:1])]="Other"
print(num_series)

original series
0     4
1     2
2     2
3     4
4     2
5     1
6     3
7     1
8     1
9     4
10    4
11    3
12    4
13    3
14    3
dtype: int32
TOp 2 frequencies are:  4    5
3    4
2    3
1    3
dtype: int64
0         4
1     Other
2     Other
3         4
4     Other
5     Other
6     Other
7     Other
8     Other
9         4
10        4
11    Other
12        4
13    Other
14    Other
dtype: object

In [23]:
#21-find the positions of numbers that are multiples of 5 of a given series
import pandas as pd
import numpy as np

arr=np.random.randint(1,10,10)
ser=pd.Series(arr)

print("Original Series")
print(ser)

result=np.where(ser%5==0)
print(result)

Original Series
0    9
1    9
2    9
3    4
4    8
5    3
6    5
7    7
8    6
9    6
dtype: int32
(array([6], dtype=int64),)

In [27]:
#22-extract items at given positions of a given series
import pandas as pd
import numpy as np

arr=np.random.randint(1,20,20)
ser=pd.Series(arr)
element_pos=[0,2,6,11]
print(ser)
result=ser.take(element_pos)
print(result)

0      1
1     13
2      4
3      8
4     14
5     15
6      4
7      5
8     18
9     11
10     1
11    11
12     2
13     6
14    11
15     9
16     1
17    18
18    13
19     6
dtype: int32
0      1
2      4
6      4
11    11
dtype: int32

In [30]:
#23-get the positions of items of a given series in another given series.
import pandas as pd
arr1=[1,2,3,4,5,6,7,8,9]
arr2=[1,3,5,7]

ser1=pd.Series(arr1)
ser2=pd.Series(arr2)

result=[pd.Index(ser1).get_loc(i)for i in ser2]
print(result)

[0, 2, 4, 6]

In [2]:
#Date-10/10/22
#24-convert the first and last character of each word to upper case in each word of a given series.
import pandas as pd
arr=["python","php","c#","java"]

ser=pd.Series(arr)
result=ser.map(lambda x:x[0].upper()+x[1:-1]+x[-1].upper())
print(result)

0    PythoN
1       PhP
2        C#
3      JavA
dtype: object

In [5]:
#25- calculate the number of characters in each word in a given series
import pandas as pd
arr=["python","php","c#","java"]
ser=pd.Series(arr)
result=ser.map(lambda x:len(x))
print(result)

0    6
1    3
2    2
3    4
dtype: int64

In [11]:
#26-compute difference of differences between consecutive numbers of a given series
import pandas as pd
arr=[1,3,5,8,10,11,15]
ser=pd.Series(arr)
result=[]

for i in range(len(ser)-1):
    result.append(ser[i+1]-ser[i])
print(result)

[2, 2, 3, 2, 1, 4]

In [12]:
import pandas as pd
arr=[1,3,5,8,10,11,15]
ser=pd.Series(arr)
print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 2.0, 3.0, 2.0, 1.0, 4.0]
[nan, nan, 0.0, 1.0, -1.0, -1.0, 3.0]

In [13]:
#27-convert a series of date strings to a timeseries
import pandas as pd
arr=['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20']
ser=pd.Series(arr)
result=pd.to_datetime(ser)
print(ser)
print(result)

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]

In [23]:
#28- get the day of month, day of year, week number and day of week from a given series of date strings.
import pandas as pd
from dateutil.parser import parse
arr=['01 Jan 2015','10-02-2016','20180307','2014/05/06','2016-04-12','2019-04-06T11:20']
ser=pd.Series(arr)
print(ser)
ser=ser.map(lambda x:parse(x))
print(ser)
print("day of month")
print(ser.dt.day.tolist())
print("day of the year")
print(ser.dt.dayofyear.tolist())
print("Week Number")
print(ser.dt.weekofyear.tolist())
print("day of week")
print(ser.dt.weekday_name.tolist())

0         01 Jan 2015
1          10-02-2016
2            20180307
3          2014/05/06
4          2016-04-12
5    2019-04-06T11:20
dtype: object
0   2015-01-01 00:00:00
1   2016-10-02 00:00:00
2   2018-03-07 00:00:00
3   2014-05-06 00:00:00
4   2016-04-12 00:00:00
5   2019-04-06 11:20:00
dtype: datetime64[ns]
day of month
[1, 2, 7, 6, 12, 6]
day of the year
[1, 276, 66, 126, 103, 96]
Week Number
[1, 39, 10, 19, 15, 14]
day of week

C:\Users\przir\AppData\Local\Temp/ipykernel_13892/1307010149.py:14: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated.  Please use Series.dt.isocalendar().week instead.
  print(ser.dt.weekofyear.tolist())

AttributeError: 'DatetimeProperties' object has no attribute 'weekday_name'

In [29]:
#29-convert year-month string to dates adding a specified day of the month
import pandas as pd
from dateutil.parser import parser

arr=['Jan 2015', 'Feb 2016', 'Mar 2017', 'Apr 2018', 'May 2019']
ser=pd.Series(arr)
result=ser.map(lambda d: parse('11'+d))
print(result)

0   2015-01-11
1   2016-02-11
2   2017-03-11
3   2018-04-11
4   2019-05-11
dtype: datetime64[ns]

In [40]:
#30-filter words from a given series that contain atleast two vowels
import pandas as pd
arr=["Red","Green","Yellow","Orange","Pink","White"]
vowel=["A","I","O","U","E","a","e","i","o","u"]

ser=pd.Series(arr)
result=[list(filter(lambda x: x in vowel,substr))for substr in ser]
print(result)

[['e'], ['e', 'e'], ['e', 'o'], ['O', 'a', 'e'], ['i'], ['i', 'e']]

In [46]:
#30-
import pandas as pd
from collections import Counter

arr=["Red","Green","Yellow","Orange","Pink","White"]
color_series=pd.Series(arr)
print("original Series")
print(color_series)

result=mask=color_series.map(lambda c:sum([Counter(c.lower()).get(i,0)for i in list('aeiou')])>=2)
print(color_series[result])

original Series
0       Red
1     Green
2    Yellow
3    Orange
4      Pink
5     White
dtype: object
1     Green
2    Yellow
3    Orange
5     White
dtype: object

In [47]:
#31-compute the Euclidean distance between two given series
import pandas as pd
import numpy as np

arr1=[1,2,3,4,5,6,7,8,9,10]
arr2=[11, 8, 7, 5, 6, 5, 3, 4, 7, 1]

x=pd.Series(arr1)
y=pd.Series(arr2)

print("Eucleadian Distance=")
print(np.linalg.norm(x-y))

Eucleadian Distance=
16.492422502470642

In [52]:
#32- find the positions of the values neighboured by smaller values on both sides in a given series
import pandas as pd
import numpy as np

arr=[1,8,7,5,6,5,3,4,7,1]
idx=[1,2,3,4,5,6,7,8,9,10]
ser=pd.Series(arr,idx)
result=[]

for i in range(1,len(ser)-1):
    if ser[i]>ser[i-1] and ser[i]>ser[i+1]:
        result.append(ser[idx[i]])
        
print(ser)
print(result)

KeyError: 0

In [53]:
import pandas as pd
import numpy as np
nums=pd.Series([1, 8, 7, 5, 6, 5, 3, 4, 7, 1])
print("Original Series")
print(nums)

print("\nPositions of the values surrounded by smaller values on both sides:")
temp = np.diff(np.sign(np.diff(nums)))
result = np.where(temp == -2)[0] + 1
print(result)

Original Series
0    1
1    8
2    7
3    5
4    6
5    5
6    3
7    4
8    7
9    1
dtype: int64

Positions of the values surrounded by smaller values on both sides:
[1 4 8]

In [8]:
#date 10/11/22
#33-replace missing white spaces in a given string with the least frequent character
import pandas as pd
str1="abc def abcdef icd"
print("original String=",str1)

ser=pd.Series(list(str1))
element_freq=ser.value_counts()
print(element_freq)

current_freq=element_freq.dropna().index[-1]  #cause i is least frequently occurred
print(current_freq)

result="".join(ser.replace(' ',current_freq))
print(result)

original String= abc def abcdef icd
c    3
     3
d    3
a    2
b    2
e    2
f    2
i    1
dtype: int64
i
abcidefiabcdefiicd

In [12]:
#34-compute the autocorrelations of a given numeric series
import pandas as pd
import numpy as np

arr=[13.207262,4.098685,-1.435534,13.626760,-2.346193,17.873884]

ser=pd.Series(np.arange(15)+np.random.normal(1,10,15))  #mean, sigma, size
print("Original Series=")
print(ser)

autocorrelations=[ser.autocorr(i).round(2) for i in range(11)]
print(autocorrelations)

Original Series=
0    -10.999833
1     10.413576
2      9.496415
3     -3.114574
4      1.509149
5     12.338281
6      2.658554
7      4.039634
8     12.893172
9     11.408068
10    19.224060
11    26.646962
12    -3.351319
13    26.626339
14    18.285725
dtype: float64
[1.0, -0.02, 0.09, 0.6, 0.25, 0.13, 0.41, -0.17, 0.18, 0.54, -0.34]

In [14]:
#35-create a TimeSeries to display all the Sundays of given year.
import pandas as pd
from dateutil.parser import parser

ser=pd.Series(pd.date_range('2023-01-01',periods=52,freq='W-SUN'))
print("All Sundays")
print(ser)

All Sundays
0    2023-01-01
1    2023-01-08
2    2023-01-15
3    2023-01-22
4    2023-01-29
5    2023-02-05
6    2023-02-12
7    2023-02-19
8    2023-02-26
9    2023-03-05
10   2023-03-12
11   2023-03-19
12   2023-03-26
13   2023-04-02
14   2023-04-09
15   2023-04-16
16   2023-04-23
17   2023-04-30
18   2023-05-07
19   2023-05-14
20   2023-05-21
21   2023-05-28
22   2023-06-04
23   2023-06-11
24   2023-06-18
25   2023-06-25
26   2023-07-02
27   2023-07-09
28   2023-07-16
29   2023-07-23
30   2023-07-30
31   2023-08-06
32   2023-08-13
33   2023-08-20
34   2023-08-27
35   2023-09-03
36   2023-09-10
37   2023-09-17
38   2023-09-24
39   2023-10-01
40   2023-10-08
41   2023-10-15
42   2023-10-22
43   2023-10-29
44   2023-11-05
45   2023-11-12
46   2023-11-19
47   2023-11-26
48   2023-12-03
49   2023-12-10
50   2023-12-17
51   2023-12-24
dtype: datetime64[ns]

In [23]:
#36-convert given series into a dataframe with its index as another column on the dataframe
import pandas as pd
key=[44,33,22,11,55,66]
val=["A","B","C","D","E","F"]
ser=pd.Series(key,val)
print(ser)

df=ser.to_frame().reset_index()
print(df.head(3))

A    44
B    33
C    22
D    11
E    55
F    66
dtype: int64
  index   0
0     A  44
1     B  33
2     C  22

In [34]:
#37-stack two given series vertically and horizontally.
import pandas as pd
import numpy as np
key=[44,33,22,11,55,66]
val=["A","B","C","D","E","F"]

ser1=pd.Series(key)
ser2=pd.Series(val)

#vertical
result=ser1.append(ser2)
print(result)

#horizontal
df=pd.concat([ser1,ser2],axis=1)
print(df)

0    44
1    33
2    22
3    11
4    55
5    66
0     A
1     B
2     C
3     D
4     E
5     F
dtype: object
    0  1
0  44  A
1  33  B
2  22  C
3  11  D
4  55  E
5  66  F

In [36]:
#38-check the equality of two given series
import pandas as pd
arr1=[1,2,3,4,5,6]
arr2=[1,2,3,4,0,6]

ser1=pd.Series(arr1)
ser2=pd.Series(arr2)

print(ser1==ser2)

0     True
1     True
2     True
3     True
4    False
5     True
dtype: bool

In [39]:
#39-find the index of the first occurrence of the smallest and largest value of a given series
import pandas as pd
arr=[1,2,3,44,5,6,0]

ser=pd.Series(arr)
print(ser.idxmin(), ser.idxmax())

6 3

In [44]:
#40-check inequality over the index axis of a given dataframe and a given series
import pandas as pd
df_data=pd.DataFrame({'W':[68,75,86,80,None],'X':[78,75,None,80,86], 'Y':[84,94,89,86,86],'Z':[86,97,96,72,83]})
sr_data=pd.Series([68, 75, 86, 80, None])

print(df_data)
print(sr_data)

print(df_data.ne(sr_data,axis=0))

      W     X   Y   Z
0  68.0  78.0  84  86
1  75.0  75.0  94  97
2  86.0   NaN  89  96
3  80.0  80.0  86  72
4   NaN  86.0  86  83
0    68.0
1    75.0
2    86.0
3    80.0
4     NaN
dtype: float64
       W      X     Y     Z
0  False   True  True  True
1  False  False  True  True
2  False   True  True  True
3  False  False  True  True
4   True   True  True  True