In [3]:
#Date-10/29/22
#1-display the dimensions or shape of the World alcohol consumption dataset. Also extract the column names from the dataset.
import pandas as pd
#reading csv file
w_a_con=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/world_alcohol.csv')

#printing csv file
print(w_a_con.head())

print()
print("shape of dataframe: ",w_a_con.shape)
print("Number of rows:",w_a_con.shape[0])
print("Number of columns",w_a_con.shape[1])
print("extract column names",w_a_con.columns)

   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

shape of dataframe:  (100, 5)
Number of rows: 100
Number of columns 5
extract column names Index(['Year', 'WHO region', 'Country', 'Beverage Types', 'Display Value'], dtype='object')

In [10]:
#2-select first 2 rows, 2 columns and specific two columns from World alcohol consumption dataset
print("first two rows:")
print(w_a_con.head(2))

print("first two columns")
print(w_a_con.iloc[:,:2])

print("Select specific columns")
print(w_a_con[['Beverage Types','Year']])

first two rows:
   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0
1  1986         Americas   Uruguay          Other            0.5
first two columns
    Year       WHO region
0   1986  Western Pacific
1   1986         Americas
2   1985           Africa
3   1986         Americas
4   1987         Americas
..   ...              ...
95  1984           Africa
96  1985           Europe
97  1984  South-East Asia
98  1984           Africa
99  1985  South-East Asia

[100 rows x 2 columns]
Select specific columns
   Beverage Types  Year
0            Wine  1986
1           Other  1986
2            Wine  1985
3            Beer  1986
4            Beer  1987
..            ...   ...
95          Other  1984
96           Wine  1985
97           Wine  1984
98           Wine  1984
99           Wine  1985

[100 rows x 2 columns]

In [14]:
#3-select random number of rows, fraction of random rows from World alcohol consumption dataset
print("\nSelect random number of rows:")
print(w_a_con.sample(5))

print("\nSelect fraction of randome rows:")
print(w_a_con.sample(frac=0.02))

Select random number of rows:
    Year             WHO region         Country Beverage Types  Display Value
73  1986  Eastern Mediterranean        Pakistan          Other           0.01
41  1986                 Europe  Czech Republic           Beer           6.82
81  1985                 Europe     Netherlands           Wine           2.54
50  1985                 Europe     Switzerland          Other           0.30
78  1989               Americas         Jamaica          Other           0.00

Select fraction of randome rows:
    Year WHO region Country Beverage Types  Display Value
95  1984     Africa   Niger          Other           0.00
80  1985     Africa  Malawi          Other           0.84

In [29]:
#4- find and drop the missing values from World alcohol consumption dataset
print("\nMissing values:")
print(w_a_con.isnull().sum())

print("Dropping missing values")
print(w_a_con.dropna().head())

Missing values:
Year              0
WHO region        0
Country           0
Beverage Types    0
Display Value     0
dtype: int64
Dropping missing values
   Year       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [22]:
#5-remove the duplicates from 'WHO region' column of World alcohol consumption dataset
print(w_a_con.drop_duplicates('WHO region'))

    Year             WHO region       Country Beverage Types  Display Value
0   1986        Western Pacific      Viet Nam           Wine           0.00
1   1986               Americas       Uruguay          Other           0.50
2   1985                 Africa  Cte d'Ivoire           Wine           1.62
13  1984  Eastern Mediterranean   Afghanistan          Other           0.00
18  1984                 Europe        Norway        Spirits           1.62
20  1986        South-East Asia       Myanmar           Wine           0.00

In [26]:
#6-find out the alcohol consumption of a given year from the world alcohol consumption dataset. 
print(w_a_con[w_a_con['Year']==1986].head())

    Year       WHO region              Country Beverage Types  Display Value
0   1986  Western Pacific             Viet Nam           Wine           0.00
1   1986         Americas              Uruguay          Other           0.50
3   1986         Americas             Colombia           Beer           4.27
8   1986         Americas  Antigua and Barbuda        Spirits           1.55
20  1986  South-East Asia              Myanmar           Wine           0.00

In [36]:
#7- find out the alcohol consumption details in the year '1987' or '1989' from the world alcohol consumption dataset
print(w_a_con[w_a_con['Year'].between(1987,1989)].head())
print()
print((w_a_con[(w_a_con['Year']==1987) | (w_a_con['Year']==1989)]).head(10))

    Year WHO region                Country Beverage Types  Display Value
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
5   1987   Americas              Guatemala          Other           0.00
6   1987     Africa              Mauritius           Wine           0.13
10  1987     Africa               Botswana           Wine           0.20
11  1989   Americas              Guatemala           Beer           0.62

    Year       WHO region                Country Beverage Types  Display Value
4   1987         Americas  Saint Kitts and Nevis           Beer           1.98
5   1987         Americas              Guatemala          Other           0.00
6   1987           Africa              Mauritius           Wine           0.13
10  1987           Africa               Botswana           Wine           0.20
11  1989         Americas              Guatemala           Beer           0.62
15  1987           Africa          Guinea-Bissau           Wine           0.07
17  1989           Africa             Seychelles           Beer           2.23
21  1989         Americas             Costa Rica        Spirits           4.51
28  1987  Western Pacific               Viet Nam           Beer           0.11
32  1989           Africa              Mauritius           Beer           1.60

In [38]:
#8-find out the alcohol consumption details by the 'Americas' in the year '1985' from the world alcohol consumption dataset.
print(w_a_con[(w_a_con['WHO region']=='Americas')  & (w_a_con['Year']==1985)].head(10))

    Year WHO region                Country Beverage Types  Display Value
35  1985   Americas  Saint Kitts and Nevis        Spirits           2.24

In [41]:
#9-find out the alcohol consumption details in the year '1986' where WHO region is 'Western Pacific' and country is 'VietNam' from the world alcohol consumption dataset.
print(w_a_con[(w_a_con['Year']==1986) & (w_a_con['WHO region']=='Western Pacific') & (w_a_con['Country']=='Viet Nam')].head())

   Year       WHO region   Country Beverage Types  Display Value
0  1986  Western Pacific  Viet Nam           Wine            0.0

In [47]:
#10-ind out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' 
#from the world alcohol consumption dataset.
print(w_a_con[((w_a_con['Year']==1989) | (w_a_con['Year']==1986)) &(w_a_con['WHO region']=='Americas')].head(10))

    Year WHO region                           Country Beverage Types  \
1   1986   Americas                           Uruguay          Other
3   1986   Americas                          Colombia           Beer
8   1986   Americas               Antigua and Barbuda        Spirits
11  1989   Americas                         Guatemala           Beer
21  1989   Americas                        Costa Rica        Spirits
47  1986   Americas                            Mexico          Other
55  1989   Americas                          Suriname           Wine
64  1989   Americas  Bolivia (Plurinational State of)           Beer
74  1986   Americas  Bolivia (Plurinational State of)        Spirits
78  1989   Americas                           Jamaica          Other

    Display Value
1            0.50
3            4.27
8            1.55
11           0.62
21           4.51
47           0.04
55           0.04
64           1.26
74           2.06
78           0.00

In [50]:
#11-find out the alcohol consumption details in the year '1986' or '1989' where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset. 
print(w_a_con[((w_a_con['Year']==1986)|(w_a_con['Year']==1989)) & ((w_a_con['WHO region']=='Americas')|(w_a_con['WHO region']=='Europe'))].head())

    Year WHO region              Country Beverage Types  Display Value
1   1986   Americas              Uruguay          Other           0.50
3   1986   Americas             Colombia           Beer           4.27
8   1986   Americas  Antigua and Barbuda        Spirits           1.55
11  1989   Americas            Guatemala           Beer           0.62
21  1989   Americas           Costa Rica        Spirits           4.51

In [52]:
#12-find out the 'WHO region, 'Country', 'Beverage Types' in the year '1986' or '1989' 
#where WHO region is 'Americas' or 'Europe' from the world alcohol consumption dataset.

print(w_a_con[((w_a_con['Year']==1986)|(w_a_con['Year']==1989)) & ((w_a_con['WHO region']=='Americas')|(w_a_con['WHO region']=='Europe'))][['WHO region','Country','Beverage Types']].head())

   WHO region              Country Beverage Types
1    Americas              Uruguay          Other
3    Americas             Colombia           Beer
8    Americas  Antigua and Barbuda        Spirits
11   Americas            Guatemala           Beer
21   Americas           Costa Rica        Spirits

In [55]:
#13- find out the records where consumption of beverages per person average >=5 and Beverage Types is Beer from world alcohol consumption dataset.
print("\nThe world alcohol consumption details: average consumption of \nbeverages per person >=5 and Beverage Types is Beer:")
print(w_a_con[(w_a_con['Display Value']>=5) & (w_a_con['Beverage Types']=='Beer')].head())

The world alcohol consumption details: average consumption of
beverages per person >=5 and Beverage Types is Beer:
    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82
    Year WHO region         Country Beverage Types  Display Value
41  1986     Europe  Czech Republic           Beer           6.82

In [57]:
#14-find out the records where consumption of beverages per person average >=4 and Beverage Types is Beer, Wine, Spirits from world alcohol consumption dataset.
print(w_a_con[(w_a_con['Display Value']>=4) & ((w_a_con['Beverage Types'] == 'Beer') | (w_a_con['Beverage Types'] == 'Wine')| (w_a_con['Beverage Types'] == 'Spirits'))].head())

    Year WHO region         Country Beverage Types  Display Value
3   1986   Americas        Colombia           Beer           4.27
21  1989   Americas      Costa Rica        Spirits           4.51
41  1986     Europe  Czech Republic           Beer           6.82
57  1989     Europe         Croatia           Wine           5.10
91  1989     Europe        Bulgaria           Beer           4.43

In [58]:
#15-filter the specified columns and records by range from world alcohol consumption dataset.
print(w_a_con.loc[0:4,["WHO region", "Beverage Types"]])

        WHO region Beverage Types
0  Western Pacific           Wine
1         Americas          Other
2           Africa           Wine
3         Americas           Beer
4         Americas           Beer

In [61]:
#16-filter those records where WHO region contains "Ea" substring from world alcohol consumption dataset.
#print(w_a_con[w_a_con['WHO region'] like '%Ea%'])
print(w_a_con[w_a_con['WHO region'].str.contains('Ea')].head())

    Year             WHO region      Country Beverage Types  Display Value
13  1984  Eastern Mediterranean  Afghanistan          Other           0.00
20  1986        South-East Asia      Myanmar           Wine           0.00
25  1984  Eastern Mediterranean      Tunisia          Other           0.00
27  1984  Eastern Mediterranean      Bahrain           Beer           2.22
36  1987  Eastern Mediterranean        Egypt           Beer           0.07

In [65]:
#17- filter those records where WHO region matches with multiple values (Africa, Eastern Mediterranean, Europe) from world alcohol consumption dataset
result=w_a_con['WHO region'].isin(["Africa", "Eastern Mediterranean", "Europe"])
print(w_a_con[result].head())

    Year WHO region       Country Beverage Types  Display Value
2   1985     Africa  Cte d'Ivoire           Wine           1.62
6   1987     Africa     Mauritius           Wine           0.13
7   1985     Africa        Angola        Spirits           0.39
9   1984     Africa       Nigeria          Other           6.10
10  1987     Africa      Botswana           Wine           0.20

In [4]:
#18-filter those records which not appears in a given list from world alcohol consumption dataset.
print("\nSelect all rows which not appears in a given list:")
who_region=["Africa", "Eastern Mediterranean", "Europe"]
flt_wine=~w_a_con['WHO region'].isin(who_region)
print(w_a_con[flt_wine])

Select all rows which not appears in a given list:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
5   1987         Americas                              Guatemala
8   1986         Americas                    Antigua and Barbuda
11  1989         Americas                              Guatemala
12  1985  Western Pacific       Lao People's Democratic Republic
14  1985  Western Pacific                               Viet Nam
16  1984         Americas                             Costa Rica
20  1986  South-East Asia                                Myanmar
21  1989         Americas                             Costa Rica
28  1987  Western Pacific                               Viet Nam
31  1986  Western Pacific       Micronesia (Federated States of)
35  1985         Americas                  Saint Kitts and Nevis
43  1984  Western Pacific                                  China
46  1987         Americas                    Trinidad and Tobago
47  1986         Americas                                 Mexico
48  1987         Americas                              Nicaragua
54  1984         Americas                            El Salvador
55  1989         Americas                               Suriname
56  1987  Western Pacific                               Viet Nam
61  1984  Western Pacific                       Papua New Guinea
62  1987         Americas                               Suriname
64  1989         Americas       Bolivia (Plurinational State of)
74  1986         Americas       Bolivia (Plurinational State of)
78  1989         Americas                                Jamaica
84  1986  South-East Asia                              Sri Lanka
86  1986         Americas                                Bahamas
97  1984  South-East Asia                              Indonesia
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
3            Beer           4.27
4            Beer           1.98
5           Other           0.00
8         Spirits           1.55
11           Beer           0.62
12           Beer           0.00
14        Spirits           0.05
16           Wine           0.06
20           Wine           0.00
21        Spirits           4.51
28           Beer           0.11
31           Wine           0.00
35        Spirits           2.24
43           Wine           0.03
46        Spirits           2.26
47          Other           0.04
48           Beer           0.70
54        Spirits           1.81
55           Wine           0.04
56           Wine           0.00
61        Spirits           0.08
62          Other           0.00
64           Beer           1.26
74        Spirits           2.06
78          Other           0.00
84          Other           0.00
86           Wine           1.83
97           Wine           0.00
99           Wine           0.00

In [8]:
#19- filter all records where the average consumption of beverages per person from .5 to 2.50 in world alcohol 
#consumption dataset.
result=w_a_con[w_a_con['Display Value'].between(0.5,2.50)]
print(result.head())
print()
print(w_a_con[(w_a_con['Display Value'] < 2.5) & (w_a_con['Display Value']>.5)].head())

    Year WHO region                Country Beverage Types  Display Value
1   1986   Americas                Uruguay          Other           0.50
2   1985     Africa           Cte d'Ivoire           Wine           1.62
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
8   1986   Americas    Antigua and Barbuda        Spirits           1.55
11  1989   Americas              Guatemala           Beer           0.62

    Year WHO region                Country Beverage Types  Display Value
2   1985     Africa           Cte d'Ivoire           Wine           1.62
4   1987   Americas  Saint Kitts and Nevis           Beer           1.98
8   1986   Americas    Antigua and Barbuda        Spirits           1.55
11  1989   Americas              Guatemala           Beer           0.62
17  1989     Africa             Seychelles           Beer           2.23

In [13]:
#20-find average consumption of wine per person greater than 2 in world alcohol consumption dataset
result=w_a_con[(w_a_con['Display Value']>2) & (w_a_con['Beverage Types']=='Wine') ]
print(result)

print(w_a_con[(w_a_con['Beverage Types'] == 'Wine') & (w_a_con['Display Value'] > 2)].count())

    Year WHO region      Country Beverage Types  Display Value
57  1989     Europe      Croatia           Wine           5.10
81  1985     Europe  Netherlands           Wine           2.54
96  1985     Europe   Luxembourg           Wine           7.38
Year              3
WHO region        3
Country           3
Beverage Types    3
Display Value     3
dtype: int64

In [15]:
#21-filter rows based on row numbers ended with 0, like 0, 10, 20, 30 from world alcohol consumption dataset
print(w_a_con.filter(regex='0$',axis=0))

    Year             WHO region                     Country Beverage Types  \
0   1986        Western Pacific                    Viet Nam           Wine
10  1987                 Africa                    Botswana           Wine
20  1986        South-East Asia                     Myanmar           Wine
30  1986                 Africa                Sierra Leone          Other
40  1987                 Europe                     Austria        Spirits
50  1985                 Europe                 Switzerland          Other
60  1987  Eastern Mediterranean  Iran (Islamic Republic of)          Other
70  1986                 Africa                  Madagascar        Spirits
80  1985                 Africa                      Malawi          Other
90  1989                 Africa                      Malawi           Wine

    Display Value
0            0.00
10           0.20
20           0.00
30           4.48
40           1.90
50           0.30
60           0.00
70           1.02
80           0.84
90           0.01

In [17]:
#22-select consecutive columns and also select rows with Index label 0 to 9 with some 
#columns from world alcohol consumption dataset
print("\nSelect consecutive columns:")
print(w_a_con.loc[:,"Country":"Display Value"].head())

print("\nAlternate command:")
print(w_a_con.iloc[:,2:5].head())

print("\nSelect rows with Index label 0 to 9 with specific columns:")
print(w_a_con.loc[0:9,["Year","Country","Display Value"]])

Select consecutive columns:
                 Country Beverage Types  Display Value
0               Viet Nam           Wine           0.00
1                Uruguay          Other           0.50
2           Cte d'Ivoire           Wine           1.62
3               Colombia           Beer           4.27
4  Saint Kitts and Nevis           Beer           1.98

Alternate command:
                 Country Beverage Types  Display Value
0               Viet Nam           Wine           0.00
1                Uruguay          Other           0.50
2           Cte d'Ivoire           Wine           1.62
3               Colombia           Beer           4.27
4  Saint Kitts and Nevis           Beer           1.98

Select rows with Index label 0 to 9 with specific columns:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

In [23]:
#23-rename all and only some of the column names from world alcohol consumption dataset. 
#result=w_a_con[w_a_con['Year':'Date']]

resul=w_a_con.rename(columns={'Year':'yr'})
print(resul.head())

     yr       WHO region                Country Beverage Types  Display Value
0  1986  Western Pacific               Viet Nam           Wine           0.00
1  1986         Americas                Uruguay          Other           0.50
2  1985           Africa           Cte d'Ivoire           Wine           1.62
3  1986         Americas               Colombia           Beer           4.27
4  1987         Americas  Saint Kitts and Nevis           Beer           1.98

In [25]:
#24-to find which years have all non-zero values and which years have any non-zero 
#values from world alcohol consumption dataset
#result=w_a_con[w_a_con['Display Value']>0].group_by('Year')

print("\nFind which years have all non-zero values:")
print(w_a_con.loc[:,w_a_con.all()])

print("\nFind which years have any non-zero values:")
print(w_a_con.loc[:,w_a_con.any()])

Find which years have all non-zero values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types
0            Wine
1           Other
2            Wine
3            Beer
4            Beer
..            ...
95          Other
96           Wine
97           Wine
98           Wine
99           Wine

[100 rows x 4 columns]

Find which years have any non-zero values:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[100 rows x 5 columns]

In [32]:
#25- filter all columns where all entries present, check which rows and columns has a NaN and finally drop rows with any NaNs from world alcohol consumption dataset
print(w_a_con.loc[:,w_a_con.isnull().any()])

print(w_a_con.loc[:,w_a_con.notnull().all()].head())

print("\nDrop rows with any NaNs:")
print(w_a_con.dropna(how='any'))

    Display Value
0            0.00
1            0.50
2            1.62
3            4.27
4            1.98
..            ...
95           0.00
96           7.38
97           0.00
98           0.00
99           0.00

[100 rows x 1 columns]
   Year       WHO region                Country Beverage Types
0  1986  Western Pacific               Viet Nam           Wine
1  1986         Americas                Uruguay          Other
2  1985           Africa           Cte d'Ivoire           Wine
3  1986         Americas               Colombia           Beer
4  1987         Americas  Saint Kitts and Nevis           Beer

Drop rows with any NaNs:
    Year       WHO region                                Country  \
0   1986  Western Pacific                               Viet Nam
1   1986         Americas                                Uruguay
2   1985           Africa                           Cte d'Ivoire
3   1986         Americas                               Colombia
4   1987         Americas                  Saint Kitts and Nevis
..   ...              ...                                    ...
95  1984           Africa                                  Niger
96  1985           Europe                             Luxembourg
97  1984  South-East Asia                              Indonesia
98  1984           Africa                      Equatorial Guinea
99  1985  South-East Asia  Democratic People's Republic of Korea

   Beverage Types  Display Value
0            Wine           0.00
1           Other           0.50
2            Wine           1.62
3            Beer           4.27
4            Beer           1.98
..            ...            ...
95          Other           0.00
96           Wine           7.38
97           Wine           0.00
98           Wine           0.00
99           Wine           0.00

[95 rows x 5 columns]

In [35]:
#26- filter all records starting from the 'Year' column, access every other column from world alcohol consumption dataset.
print("\nFrom the 'Year' column, access every other column:")
print(w_a_con.loc[:,'Year'::2].head(10))
print("\nAlternate solution:")
print(w_a_con.iloc[:,0::2].head(10))

From the 'Year' column, access every other column:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

Alternate solution:
   Year                Country  Display Value
0  1986               Viet Nam           0.00
1  1986                Uruguay           0.50
2  1985           Cte d'Ivoire           1.62
3  1986               Colombia           4.27
4  1987  Saint Kitts and Nevis           1.98
5  1987              Guatemala           0.00
6  1987              Mauritius           0.13
7  1985                 Angola           0.39
8  1986    Antigua and Barbuda           1.55
9  1984                Nigeria           6.10

In [36]:
#27- filter all records starting from the 2nd row, access every 5th row from world alcohol consumption dataset
print("\nStarting from the 2nd row, access every 5th row:")
print(w_a_con.iloc[1::5].head(10))

Starting from the 2nd row, access every 5th row:
    Year             WHO region  \
1   1986               Americas
6   1987                 Africa
11  1989               Americas
16  1984               Americas
21  1989               Americas
26  1985                 Europe
31  1986        Western Pacific
36  1987  Eastern Mediterranean
41  1986                 Europe
46  1987               Americas

                                              Country Beverage Types  \
1                                             Uruguay          Other
6                                           Mauritius           Wine
11                                          Guatemala           Beer
16                                         Costa Rica           Wine
21                                         Costa Rica        Spirits
26  United Kingdom of Great Britain and Northern I...           Wine
31                   Micronesia (Federated States of)           Wine
36                                              Egypt           Beer
41                                     Czech Republic           Beer
46                                Trinidad and Tobago        Spirits

    Display Value
1            0.50
6            0.13
11           0.62
16           0.06
21           4.51
26           1.36
31           0.00
36           0.07
41           6.82
46           2.26