In [2]:
#Date 10/28/22
#1-join the two given dataframes along rows and assign all data
import pandas as pd

stud_data1=pd.DataFrame({
                    'student_id' :['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name':['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks':[200, 210, 190, 222, 199]})

stud_data2=pd.DataFrame({
                    'student_id':['S4', 'S5', 'S6', 'S7', 'S8'],
                    'name':['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                    'marks' : [201, 200, 198, 219, 201] })

result_data=pd.concat([stud_data1,stud_data2])
print(result_data.reset_index(drop=True))

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

In [3]:
#2-join the two given dataframes along columns and assign all dat
import pandas as pd
stud_data1=pd.DataFrame({
                    'student_id' :['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name':['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks':[200, 210, 190, 222, 199]})

stud_data2=pd.DataFrame({
                    'student_id':['S4', 'S5', 'S6', 'S7', 'S8'],
                    'name':['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                    'marks' : [201, 200, 198, 219, 201] })

result_data=pd.concat([stud_data1,stud_data2], axis=1)
print(result_data)

  student_id              name  marks student_id              name  marks
0         S1  Danniella Fenton    200         S4  Scarlette Fisher    201
1         S2      Ryder Storey    210         S5  Carla Williamson    200
2         S3      Bryce Jensen    190         S6       Dante Morse    198
3         S4         Ed Bernal    222         S7    Kaiser William    219
4         S5       Kwame Morin    199         S8   Madeeha Preston    201

In [6]:
#3- append rows to an existing DataFrame and display the combined data
import pandas as pd
stud_data1=pd.DataFrame({
                    'student_id' :['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name':['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks':[200, 210, 190, 222, 199]})

s6=pd.Series(['S6', 'Scarlette Fisher', 205], index=['student_id', 'name', 'marks'])

result_data=stud_data1.append(s6,ignore_index=True)
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    205

In [8]:
#4- program to append a list of dictioneries or series to a existing DataFrame and display the combined data
import pandas as pd
stud_data1=pd.DataFrame({
                    'student_id' :['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name':['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks':[200, 210, 190, 222, 199]})

dicts = [{'student_id': 'S6', 'name': 'Scarlette Fisher', 'marks': 203},
         {'student_id': 'S7', 'name': 'Bryce Jensen', 'marks': 207}]

result_data=stud_data1.append(dicts,ignore_index=True,sort=False)
print(result_data)

  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S6  Scarlette Fisher    203
6         S7      Bryce Jensen    207

In [12]:
#5- join the two given dataframes along rows and merge with another dataframe along the common column id
import pandas as pd
stud_data1=pd.DataFrame({
                    'student_id' :['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name':['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks':[200, 210, 190, 222, 199]})

stud_data2=pd.DataFrame({
                    'student_id':['S4', 'S5', 'S6', 'S7', 'S8'],
                    'name':['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                    'marks' : [201, 200, 198, 219, 201] })

exam_data = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5', 'S7', 'S8', 'S9', 'S10', 'S11', 'S12', 'S13'],
        'exam_id': [23, 45, 12, 67, 21, 55, 33, 14, 56, 83, 88, 12]})

print("\nJoin first two said dataframes along rows:")
result_data=pd.concat([stud_data1,stud_data2],ignore_index=True)
print(result_data)

print("\nNow join the said result_data and df_exam_data along student_id:")
final_merged_data=pd.merge(result_data, exam_data, on ='student_id' )
print(final_merged_data)

Join first two said dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
5         S4  Scarlette Fisher    201
6         S5  Carla Williamson    200
7         S6       Dante Morse    198
8         S7    Kaiser William    219
9         S8   Madeeha Preston    201

Now join the said result_data and df_exam_data along student_id:
  student_id              name  marks  exam_id
0         S1  Danniella Fenton    200       23
1         S2      Ryder Storey    210       45
2         S3      Bryce Jensen    190       12
3         S4         Ed Bernal    222       67
4         S4  Scarlette Fisher    201       67
5         S5       Kwame Morin    199       21
6         S5  Carla Williamson    200       21
7         S7    Kaiser William    219       55
8         S8   Madeeha Preston    201       33

In [15]:
#6-program to join the two dataframes using the common column of both dataframes
import pandas as pd
stud_data1=pd.DataFrame({
                    'student_id' :['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name':['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks':[200, 210, 190, 222, 199]})

stud_data2=pd.DataFrame({
                    'student_id':['S4', 'S5', 'S6', 'S7', 'S8'],
                    'name':['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                    'marks' : [201, 200, 198, 219, 201] })

result_data=pd.merge(stud_data1,stud_data2, on ='student_id',how='outer')
print(result_data)

  student_id            name_x  marks_x            name_y  marks_y
0         S1  Danniella Fenton    200.0               NaN      NaN
1         S2      Ryder Storey    210.0               NaN      NaN
2         S3      Bryce Jensen    190.0               NaN      NaN
3         S4         Ed Bernal    222.0  Scarlette Fisher    201.0
4         S5       Kwame Morin    199.0  Carla Williamson    200.0
5         S6               NaN      NaN       Dante Morse    198.0
6         S7               NaN      NaN    Kaiser William    219.0
7         S8               NaN      NaN   Madeeha Preston    201.0

In [16]:
#7-join the two dataframes with matching records from both sides where available
import pandas as pd
stud_data1=pd.DataFrame({
                    'student_id' :['S1', 'S2', 'S3', 'S4', 'S5'],
                    'name':['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'],
                    'marks':[200, 210, 190, 222, 199]})

stud_data2=pd.DataFrame({
                    'student_id':['S4', 'S5', 'S6', 'S7', 'S8'],
                    'name':['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'],
                    'marks' : [201, 200, 198, 219, 201] })

result_data=pd.merge(stud_data1,stud_data2,how='inner',on='student_id')
print(result_data)

  student_id       name_x  marks_x            name_y  marks_y
0         S4    Ed Bernal      222  Scarlette Fisher      201
1         S5  Kwame Morin      199  Carla Williamson      200

In [18]:
#8- join (left join) the two dataframes using keys from left dataframe only.
import pandas as pd

data01=pd.DataFrame({ 'key1':['K0', 'K0', 'K1', 'K2'], 'key2':['K0', 'K1', 'K0', 'K1'],'P':['P0', 'P1', 'P2', 'P3'], 
                     'Q':['Q0', 'Q1', 'Q2', 'Q3']})

data02=pd.DataFrame({'key1':['K0', 'K1', 'K1', 'K2'], 'key2':['K0', 'K0', 'K0', 'K0'], 'R':['R0', 'R1', 'R2', 'R3'], 
                     'S':['S0', 'S1', 'S2', 'S3']})

result_data=pd.merge(data01,data02,how='left',on=['key1','key2'])
print(result_data)

  key1 key2   P   Q    R    S
0   K0   K0  P0  Q0   R0   S0
1   K0   K1  P1  Q1  NaN  NaN
2   K1   K0  P2  Q2   R1   S1
3   K1   K0  P2  Q2   R2   S2
4   K2   K1  P3  Q3  NaN  NaN

In [19]:
#9-join two dataframes using keys from right dataframe only.
import pandas as pd
data01=pd.DataFrame({ 'key1':['K0', 'K0', 'K1', 'K2'], 'key2':['K0', 'K1', 'K0', 'K1'],'P':['P0', 'P1', 'P2', 'P3'], 
                     'Q':['Q0', 'Q1', 'Q2', 'Q3']})

data02=pd.DataFrame({'key1':['K0', 'K1', 'K1', 'K2'], 'key2':['K0', 'K0', 'K0', 'K0'], 'R':['R0', 'R1', 'R2', 'R3'], 
                     'S':['S0', 'S1', 'S2', 'S3']})

result_data=pd.merge(data01,data02, how='right', on=['key1','key2'])
print(result_data)

  key1 key2    P    Q   R   S
0   K0   K0   P0   Q0  R0  S0
1   K1   K0   P2   Q2  R1  S1
2   K1   K0   P2   Q2  R2  S2
3   K2   K0  NaN  NaN  R3  S3

In [20]:
#10- merge two given datasets using multiple join keys
import pandas as pd
data01=pd.DataFrame({ 'key1':['K0', 'K0', 'K1', 'K2'], 'key2':['K0', 'K1', 'K0', 'K1'],'P':['P0', 'P1', 'P2', 'P3'], 
                     'Q':['Q0', 'Q1', 'Q2', 'Q3']})

data02=pd.DataFrame({'key1':['K0', 'K1', 'K1', 'K2'], 'key2':['K0', 'K0', 'K0', 'K0'], 'R':['R0', 'R1', 'R2', 'R3'], 
                     'S':['S0', 'S1', 'S2', 'S3']})
result_data=pd.merge(data01,data02,how='outer',on=['key1','key2'])
print(result_data)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0   R0   S0
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2   R1   S1
3   K1   K0   P2   Q2   R2   S2
4   K2   K1   P3   Q3  NaN  NaN
5   K2   K0  NaN  NaN   R3   S3

In [22]:
#11-create a new DataFrame based on existing series, using specified argument and override the existing columns names. 
import pandas as pd
s1 = pd.Series([0, 1, 2, 3], name='col1')
s2 = pd.Series([0, 1, 2, 3])
s3 = pd.Series([0, 1, 4, 5], name='col3')

df=pd.concat([s1,s2,s3],axis=1,keys=['column1','column2','column3'])
print(df)

   column1  column2  column3
0        0        0        0
1        1        1        1
2        2        2        4
3        3        3        5

In [23]:
#12-create a combination from two dataframes where a column id combination appears more than once in both dataframes
import pandas as pd

data01=pd.DataFrame({ 'key1':['K0', 'K0', 'K1', 'K2'], 'key2':['K0', 'K1', 'K0', 'K1'],'P':['P0', 'P1', 'P2', 'P3'], 
                     'Q':['Q0', 'Q1', 'Q2', 'Q3']})

data02=pd.DataFrame({'key1':['K0', 'K1', 'K1', 'K2'], 'key2':['K0', 'K0', 'K0', 'K0'], 'R':['R0', 'R1', 'R2', 'R3'], 
                     'S':['S0', 'S1', 'S2', 'S3']})

result=pd.merge(data01,data02,on='key1')
print(result)

  key1 key2_x   P   Q key2_y   R   S
0   K0     K0  P0  Q0     K0  R0  S0
1   K0     K1  P1  Q1     K0  R0  S0
2   K1     K0  P2  Q2     K0  R1  S1
3   K1     K0  P2  Q2     K0  R2  S2
4   K2     K1  P3  Q3     K0  R3  S3

In [27]:
#13-combine the columns of two potentially differently-indexed DataFrames into a single result DataFrame.
import pandas as pd

df1=pd.DataFrame({ 'A':['A1','A2'],'B':['B1','B2']})

df2=pd.DataFrame({'C':['C1','C2'],'D':['D1','D2']})

#result=pd.merge(df1,df2,how='outer')
result=df1.join(df2)
print(result)

    A   B   C   D
0  A1  B1  C1  D1
1  A2  B2  C2  D2

In [30]:
#14-merge two given dataframes with different columns
import pandas as pd
data1 = pd.DataFrame({'key1': ['K0', 'K0', 'K1', 'K2'],
                     'key2': ['K0', 'K1', 'K0', 'K1'],
                     'P': ['P0', 'P1', 'P2', 'P3'],
                     'Q': ['Q0', 'Q1', 'Q2', 'Q3']}) 
data2 = pd.DataFrame({'key1': ['K0', 'K1', 'K1', 'K2'],
                      'key2': ['K0', 'K0', 'K0', 'K0'],
                      'R': ['R0', 'R1', 'R2', 'R3'],
                      'S': ['S0', 'S1', 'S2', 'S3']})

result=pd.concat([data1,data2],ignore_index=True,axis=0)
print(result)

  key1 key2    P    Q    R    S
0   K0   K0   P0   Q0  NaN  NaN
1   K0   K1   P1   Q1  NaN  NaN
2   K1   K0   P2   Q2  NaN  NaN
3   K2   K1   P3   Q3  NaN  NaN
4   K0   K0  NaN  NaN   R0   S0
5   K1   K0  NaN  NaN   R1   S1
6   K1   K0  NaN  NaN   R2   S2
7   K2   K0  NaN  NaN   R3   S3

In [33]:
#15- Combine two DataFrame objects by filling null values in one DataFrame with non-null values from other DataFrame.
import pandas as pd
df1 = pd.DataFrame({'A': [None, 0, None], 'B': [3, 4, 5]})
df2 = pd.DataFrame({'A': [1, 1, 3], 'B': [3, None, 3]})

df1.combine_first(df2)
print(df1)

result=df1.combine_first(df2)
print(result)

     A  B
0  NaN  3
1  0.0  4
2  NaN  5
     A    B
0  1.0  3.0
1  0.0  4.0
2  3.0  5.0