In [1]:
#Date-11/5/22
import pandas as pd

df_COUNTRIES=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/CSVs For SQL/COUNTRIES.csv')
df_DEPARTMENTS=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/CSVs For SQL/DEPARTMENTS.csv')
df_EMPLOYEES=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/CSVs For SQL/EMPLOYEES.csv')
df_JOB_HISTORY=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/CSVs For SQL/JOB_HISTORY.csv')
df_JOBS=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/CSVs For SQL/JOBS.csv')
df_LOCATIONS=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/CSVs For SQL/LOCATIONS.csv')
df_REGIONS=pd.read_csv('C:/Users/przir/OneDrive/Desktop/Data Science/Libraries/DataSets/CSVs For SQL/REGIONS.csv')

In [3]:
#1-display all the records of REGIONS file
print(df_REGIONS.head(10))

   REGION_ID             REGION_NAME
0          1                  Europe
1          2                Americas
2          3                    Asia
3          4  Middle East and Africa

In [10]:
#2-display all the location id from locations file
result=df_LOCATIONS['location_id'].head()
print(result)

0    1000
1    1100
2    1200
3    1300
4    1400
Name: location_id, dtype: int64

In [11]:
#3- extract first 7 records from employees file
print(df_EMPLOYEES.head(7))

   employ_id first_name  last_name     email  phone_number   hire_date  \
0        100     Steven       King     SKING  515.123.4567  2003-06-17
1        101      Neena    Kochhar  NKOCHHAR  515.123.4568  2005-09-21
2        102        Lex    De Haan   LDEHAAN  515.123.4569  2001-01-13
3        103  Alexander     Hunold   AHUNOLD  590.423.4567  2006-01-03
4        104      Bruce      Ernst    BERNST  590.423.4568  2007-05-21
5        105      David     Austin   DAUSTIN  590.423.4569  2005-06-25
6        106      Valli  Pataballa  VPATABAL  590.423.4560  2006-02-05

    job_id  salary  commission_pct  manager_id  department_id
0  AD_PRES   24000             NaN         NaN           90.0
1    AD_VP   17000             NaN       100.0           90.0
2    AD_VP   17000             NaN       100.0           90.0
3  IT_PROG    9000             NaN       102.0           60.0
4  IT_PROG    6000             NaN       103.0           60.0
5  IT_PROG    4800             NaN       103.0           60.0
6  IT_PROG    4800             NaN       103.0           60.0

In [12]:
#4-select distinct department id from employees file
print(df_EMPLOYEES.department_id.unique())

[ 90.  60. 100.  30.  50.  80.  nan  10.  20.  40.  70. 110.]

In [13]:
#5-display the first and last name, and department number for all employees whose last name is "McEwen".
print("Last name  First name    Department ID")
result=df_EMPLOYEES[df_EMPLOYEES.last_name=='McEwen']
for index,row in result.iterrows():
    print(row['last_name'],' ',row['first_name'],'       ',row['department_id'])

'''
SELECT first_name, last_name, department_id
 FROM employees
  WHERE last_name = 'McEwen';
  '''

Last name  First name    Department ID
McEwen   Allan         80.0

In [11]:
#6-display the first, last name, salary and department number for those employees whose first name starts with the letter 'S'
result=df_EMPLOYEES[df_EMPLOYEES['first_name'].str[:1]=='S']
for index,row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'],str(row['salary']))

Steven          King 24000
Shelli          Baida 2900
Sigal           Tobias 2800
Shanta          Vollman 6500
Steven          Markle 2200
Stephen         Stiles 3200
Sarath          Sewall 7000
Sundar          Ande 6400
Sundita         Kumar 6100
Sarah           Bell 4000
Samuel          McCain 3200
Susan           Mavris 6500
Shelley         Higgins 12000

In [15]:
#7-first, last name, salary and department number for those employees whose first name does not contain the letter 'M
result=df_EMPLOYEES[df_EMPLOYEES['first_name'].str.find('M')==-1]

for index,row in result.iterrows():
    print(row['first_name'].ljust(10),row['last_name'].ljust(10),str(row['salary']).ljust(10),row['department_id'])

Steven     King       24000      90.0
Neena      Kochhar    17000      90.0
Lex        De Haan    17000      90.0
Alexander  Hunold     9000       60.0
Bruce      Ernst      6000       60.0
David      Austin     4800       60.0
Valli      Pataballa  4800       60.0
Diana      Lorentz    4200       60.0
Nancy      Greenberg  12000      100.0
Daniel     Faviet     9000       100.0
John       Chen       8200       100.0
Ismael     Sciarra    7700       100.0
Luis       Popp       6900       100.0
Den        Raphaely   11000      30.0
Alexander  Khoo       3100       30.0
Shelli     Baida      2900       30.0
Sigal      Tobias     2800       30.0
Guy        Himuro     2600       30.0
Karen      Colmenares 2500       30.0
Adam       Fripp      8200       50.0
Payam      Kaufling   7900       50.0
Shanta     Vollman    6500       50.0
Kevin      Mourgos    5800       50.0
Julia      Nayer      3200       50.0
Irene      Mikkilineni 2700       50.0
James      Landry     2400       50.0
Steven     Markle     2200       50.0
Laura      Bissot     3300       50.0
James      Marlow     2500       50.0
TJ         Olson      2100       50.0
Jason      Mallin     3300       50.0
Ki         Gee        2400       50.0
Hazel      Philtanker 2200       50.0
Renske     Ladwig     3600       50.0
Stephen    Stiles     3200       50.0
John       Seo        2700       50.0
Joshua     Patel      2500       50.0
Trenna     Rajs       3500       50.0
Curtis     Davies     3100       50.0
Randall    Matos      2600       50.0
Peter      Vargas     2500       50.0
John       Russell    14000      80.0
Karen      Partners   13500      80.0
Alberto    Errazuriz  12000      80.0
Gerald     Cambrault  11000      80.0
Eleni      Zlotkey    10500      80.0
Peter      Tucker     10000      80.0
David      Bernstein  9500       80.0
Peter      Hall       9000       80.0
Christopher Olsen      8000       80.0
Nanette    Cambrault  7500       80.0
Oliver     Tuvault    7000       80.0
Janette    King       10000      80.0
Patrick    Sully      9500       80.0
Allan      McEwen     9000       80.0
Lindsey    Smith      8000       80.0
Louise     Doran      7500       80.0
Sarath     Sewall     7000       80.0
Clara      Vishney    10500      80.0
Danielle   Greene     9500       80.0
David      Lee        6800       80.0
Sundar     Ande       6400       80.0
Amit       Banda      6200       80.0
Lisa       Ozer       11500      80.0
Harrison   Bloom      10000      80.0
Tayler     Fox        9600       80.0
William    Smith      7400       80.0
Elizabeth  Bates      7300       80.0
Sundita    Kumar      6100       80.0
Ellen      Abel       11000      80.0
Alyssa     Hutton     8800       80.0
Jonathon   Taylor     8600       80.0
Jack       Livingston 8400       80.0
Kimberely  Grant      7000       nan
Charles    Johnson    6200       80.0
Winston    Taylor     3200       50.0
Jean       Fleaur     3100       50.0
Girard     Geoni      2800       50.0
Nandita    Sarchand   4200       50.0
Alexis     Bull       4100       50.0
Julia      Dellinger  3400       50.0
Anthony    Cabrio     3000       50.0
Kelly      Chung      3800       50.0
Jennifer   Dilly      3600       50.0
Timothy    Gates      2900       50.0
Randall    Perkins    2500       50.0
Sarah      Bell       4000       50.0
Britney    Everett    3900       50.0
Samuel     McCain     3200       50.0
Vance      Jones      2800       50.0
Alana      Walsh      3100       50.0
Kevin      Feeney     3000       50.0
Donald     OConnell   2600       50.0
Douglas    Grant      2600       50.0
Jennifer   Whalen     4400       10.0
Pat        Fay        6000       20.0
Susan      Mavris     6500       40.0
Hermann    Baer       10000      70.0
Shelley    Higgins    12000      110.0
William    Gietz      8300       110.0

In [16]:
#8-first name, last name, salary and department number in ascending order by department number
result=df_EMPLOYEES.sort_values('department_id',ascending=True)
for index, row in result.iterrows():
    print(row['first_name'].ljust(10),row['last_name'].ljust(10),str(row['salary']).ljust(10),row['department_id'])

Jennifer   Whalen     4400       10.0
Michael    Hartstein  13000      20.0
Pat        Fay        6000       20.0
Karen      Colmenares 2500       30.0
Guy        Himuro     2600       30.0
Shelli     Baida      2900       30.0
Alexander  Khoo       3100       30.0
Den        Raphaely   11000      30.0
Sigal      Tobias     2800       30.0
Susan      Mavris     6500       40.0
Curtis     Davies     3100       50.0
Randall    Perkins    2500       50.0
Peter      Vargas     2500       50.0
Britney    Everett    3900       50.0
Sarah      Bell       4000       50.0
Trenna     Rajs       3500       50.0
Joshua     Patel      2500       50.0
John       Seo        2700       50.0
Samuel     McCain     3200       50.0
Stephen    Stiles     3200       50.0
Randall    Matos      2600       50.0
Timothy    Gates      2900       50.0
Vance      Jones      2800       50.0
Kelly      Chung      3800       50.0
Renske     Ladwig     3600       50.0
Alana      Walsh      3100       50.0
Anthony    Cabrio     3000       50.0
Julia      Dellinger  3400       50.0
Alexis     Bull       4100       50.0
Nandita    Sarchand   4200       50.0
Girard     Geoni      2800       50.0
Martha     Sullivan   2500       50.0
Jean       Fleaur     3100       50.0
Winston    Taylor     3200       50.0
Jennifer   Dilly      3600       50.0
Hazel      Philtanker 2200       50.0
Michael    Rogers     2900       50.0
Donald     OConnell   2600       50.0
Douglas    Grant      2600       50.0
Ki         Gee        2400       50.0
Kevin      Feeney     3000       50.0
Matthew    Weiss      8000       50.0
Payam      Kaufling   7900       50.0
Shanta     Vollman    6500       50.0
Kevin      Mourgos    5800       50.0
Julia      Nayer      3200       50.0
Adam       Fripp      8200       50.0
James      Landry     2400       50.0
Steven     Markle     2200       50.0
Laura      Bissot     3300       50.0
Mozhe      Atkinson   2800       50.0
James      Marlow     2500       50.0
TJ         Olson      2100       50.0
Jason      Mallin     3300       50.0
Irene      Mikkilineni 2700       50.0
Alexander  Hunold     9000       60.0
Bruce      Ernst      6000       60.0
Diana      Lorentz    4200       60.0
Valli      Pataballa  4800       60.0
David      Austin     4800       60.0
Hermann    Baer       10000      70.0
Sundita    Kumar      6100       80.0
Elizabeth  Bates      7300       80.0
Ellen      Abel       11000      80.0
William    Smith      7400       80.0
Jonathon   Taylor     8600       80.0
Jack       Livingston 8400       80.0
Charles    Johnson    6200       80.0
Alyssa     Hutton     8800       80.0
Tayler     Fox        9600       80.0
Peter      Hall       9000       80.0
Lisa       Ozer       11500      80.0
John       Russell    14000      80.0
Karen      Partners   13500      80.0
Gerald     Cambrault  11000      80.0
Eleni      Zlotkey    10500      80.0
Peter      Tucker     10000      80.0
David      Bernstein  9500       80.0
Christopher Olsen      8000       80.0
Nanette    Cambrault  7500       80.0
Oliver     Tuvault    7000       80.0
Janette    King       10000      80.0
Patrick    Sully      9500       80.0
Allan      McEwen     9000       80.0
Lindsey    Smith      8000       80.0
Louise     Doran      7500       80.0
Sarath     Sewall     7000       80.0
Clara      Vishney    10500      80.0
Danielle   Greene     9500       80.0
Mattea     Marvins    7200       80.0
David      Lee        6800       80.0
Sundar     Ande       6400       80.0
Amit       Banda      6200       80.0
Harrison   Bloom      10000      80.0
Alberto    Errazuriz  12000      80.0
Steven     King       24000      90.0
Lex        De Haan    17000      90.0
Neena      Kochhar    17000      90.0
Luis       Popp       6900       100.0
Jose Manuel Urman      7800       100.0
Ismael     Sciarra    7700       100.0
John       Chen       8200       100.0
Daniel     Faviet     9000       100.0
Nancy      Greenberg  12000      100.0
Shelley    Higgins    12000      110.0
William    Gietz      8300       110.0
Kimberely  Grant      7000       nan

In [17]:
#9-first name, last name, salary and department number in descending order by first name
result=df_EMPLOYEES.sort_values('first_name',ascending=False)
for index,row in result.iterrows():
    print(row['first_name'].ljust(5),row['last_name'].ljust(5),str(row['salary']).ljust(5),row['department_id'])

Winston Taylor 3200  50.0
William Gietz 8300  110.0
William Smith 7400  80.0
Vance Jones 2800  50.0
Valli Pataballa 4800  60.0
Trenna Rajs  3500  50.0
Timothy Gates 2900  50.0
Tayler Fox   9600  80.0
TJ    Olson 2100  50.0
Susan Mavris 6500  40.0
Sundita Kumar 6100  80.0
Sundar Ande  6400  80.0
Steven Markle 2200  50.0
Steven King  24000 90.0
Stephen Stiles 3200  50.0
Sigal Tobias 2800  30.0
Shelli Baida 2900  30.0
Shelley Higgins 12000 110.0
Shanta Vollman 6500  50.0
Sarath Sewall 7000  80.0
Sarah Bell  4000  50.0
Samuel McCain 3200  50.0
Renske Ladwig 3600  50.0
Randall Perkins 2500  50.0
Randall Matos 2600  50.0
Peter Vargas 2500  50.0
Peter Hall  9000  80.0
Peter Tucker 10000 80.0
Payam Kaufling 7900  50.0
Patrick Sully 9500  80.0
Pat   Fay   6000  20.0
Oliver Tuvault 7000  80.0
Neena Kochhar 17000 90.0
Nanette Cambrault 7500  80.0
Nandita Sarchand 4200  50.0
Nancy Greenberg 12000 100.0
Mozhe Atkinson 2800  50.0
Michael Rogers 2900  50.0
Michael Hartstein 13000 20.0
Matthew Weiss 8000  50.0
Mattea Marvins 7200  80.0
Martha Sullivan 2500  50.0
Luis  Popp  6900  100.0
Louise Doran 7500  80.0
Lisa  Ozer  11500 80.0
Lindsey Smith 8000  80.0
Lex   De Haan 17000 90.0
Laura Bissot 3300  50.0
Kimberely Grant 7000  nan
Ki    Gee   2400  50.0
Kevin Feeney 3000  50.0
Kevin Mourgos 5800  50.0
Kelly Chung 3800  50.0
Karen Partners 13500 80.0
Karen Colmenares 2500  30.0
Julia Nayer 3200  50.0
Julia Dellinger 3400  50.0
Joshua Patel 2500  50.0
Jose Manuel Urman 7800  100.0
Jonathon Taylor 8600  80.0
John  Seo   2700  50.0
John  Russell 14000 80.0
John  Chen  8200  100.0
Jennifer Whalen 4400  10.0
Jennifer Dilly 3600  50.0
Jean  Fleaur 3100  50.0
Jason Mallin 3300  50.0
Janette King  10000 80.0
James Landry 2400  50.0
James Marlow 2500  50.0
Jack  Livingston 8400  80.0
Ismael Sciarra 7700  100.0
Irene Mikkilineni 2700  50.0
Hermann Baer  10000 70.0
Hazel Philtanker 2200  50.0
Harrison Bloom 10000 80.0
Guy   Himuro 2600  30.0
Girard Geoni 2800  50.0
Gerald Cambrault 11000 80.0
Ellen Abel  11000 80.0
Elizabeth Bates 7300  80.0
Eleni Zlotkey 10500 80.0
Douglas Grant 2600  50.0
Donald OConnell 2600  50.0
Diana Lorentz 4200  60.0
Den   Raphaely 11000 30.0
David Austin 4800  60.0
David Lee   6800  80.0
David Bernstein 9500  80.0
Danielle Greene 9500  80.0
Daniel Faviet 9000  100.0
Curtis Davies 3100  50.0
Clara Vishney 10500 80.0
Christopher Olsen 8000  80.0
Charles Johnson 6200  80.0
Bruce Ernst 6000  60.0
Britney Everett 3900  50.0
Anthony Cabrio 3000  50.0
Amit  Banda 6200  80.0
Alyssa Hutton 8800  80.0
Allan McEwen 9000  80.0
Alexis Bull  4100  50.0
Alexander Khoo  3100  30.0
Alexander Hunold 9000  60.0
Alberto Errazuriz 12000 80.0
Alana Walsh 3100  50.0
Adam  Fripp 8200  50.0

In [21]:
#10-display the first name, last name, salary and manger id where manager ids are null
import numpy as np
result=df_EMPLOYEES[df_EMPLOYEES['manager_id'].isnull()]
for index, row in result.iterrows():
    print(row['first_name'].ljust(5),row['last_name'].ljust(5),str(row['salary']).ljust(5),row['manager_id'])

Steven King  24000 nan

In [24]:
#11=display the first name, last name, salary and manger id where manager ids are not null
#result=df_EMPLOYEES[df_EMPLOYEES['manager_id'].isnull()==False]
result=df_EMPLOYEES[df_EMPLOYEES['manager_id'].notnull()]
for index,row in result.iterrows():
    print(row['first_name'].ljust(5),row['last_name'].ljust(5),str(row['salary']).ljust(5),row['manager_id'])

Neena Kochhar 17000 100.0
Lex   De Haan 17000 100.0
Alexander Hunold 9000  102.0
Bruce Ernst 6000  103.0
David Austin 4800  103.0
Valli Pataballa 4800  103.0
Diana Lorentz 4200  103.0
Nancy Greenberg 12000 101.0
Daniel Faviet 9000  108.0
John  Chen  8200  108.0
Ismael Sciarra 7700  108.0
Jose Manuel Urman 7800  108.0
Luis  Popp  6900  108.0
Den   Raphaely 11000 100.0
Alexander Khoo  3100  114.0
Shelli Baida 2900  114.0
Sigal Tobias 2800  114.0
Guy   Himuro 2600  114.0
Karen Colmenares 2500  114.0
Matthew Weiss 8000  100.0
Adam  Fripp 8200  100.0
Payam Kaufling 7900  100.0
Shanta Vollman 6500  100.0
Kevin Mourgos 5800  100.0
Julia Nayer 3200  120.0
Irene Mikkilineni 2700  120.0
James Landry 2400  120.0
Steven Markle 2200  120.0
Laura Bissot 3300  121.0
Mozhe Atkinson 2800  121.0
James Marlow 2500  121.0
TJ    Olson 2100  121.0
Jason Mallin 3300  122.0
Michael Rogers 2900  122.0
Ki    Gee   2400  122.0
Hazel Philtanker 2200  122.0
Renske Ladwig 3600  123.0
Stephen Stiles 3200  123.0
John  Seo   2700  123.0
Joshua Patel 2500  123.0
Trenna Rajs  3500  124.0
Curtis Davies 3100  124.0
Randall Matos 2600  124.0
Peter Vargas 2500  124.0
John  Russell 14000 100.0
Karen Partners 13500 100.0
Alberto Errazuriz 12000 100.0
Gerald Cambrault 11000 100.0
Eleni Zlotkey 10500 100.0
Peter Tucker 10000 145.0
David Bernstein 9500  145.0
Peter Hall  9000  145.0
Christopher Olsen 8000  145.0
Nanette Cambrault 7500  145.0
Oliver Tuvault 7000  145.0
Janette King  10000 146.0
Patrick Sully 9500  146.0
Allan McEwen 9000  146.0
Lindsey Smith 8000  146.0
Louise Doran 7500  146.0
Sarath Sewall 7000  146.0
Clara Vishney 10500 147.0
Danielle Greene 9500  147.0
Mattea Marvins 7200  147.0
David Lee   6800  147.0
Sundar Ande  6400  147.0
Amit  Banda 6200  147.0
Lisa  Ozer  11500 148.0
Harrison Bloom 10000 148.0
Tayler Fox   9600  148.0
William Smith 7400  148.0
Elizabeth Bates 7300  148.0
Sundita Kumar 6100  148.0
Ellen Abel  11000 149.0
Alyssa Hutton 8800  149.0
Jonathon Taylor 8600  149.0
Jack  Livingston 8400  149.0
Kimberely Grant 7000  149.0
Charles Johnson 6200  149.0
Winston Taylor 3200  120.0
Jean  Fleaur 3100  120.0
Martha Sullivan 2500  120.0
Girard Geoni 2800  120.0
Nandita Sarchand 4200  121.0
Alexis Bull  4100  121.0
Julia Dellinger 3400  121.0
Anthony Cabrio 3000  121.0
Kelly Chung 3800  122.0
Jennifer Dilly 3600  122.0
Timothy Gates 2900  122.0
Randall Perkins 2500  122.0
Sarah Bell  4000  123.0
Britney Everett 3900  123.0
Samuel McCain 3200  123.0
Vance Jones 2800  123.0
Alana Walsh 3100  124.0
Kevin Feeney 3000  124.0
Donald OConnell 2600  124.0
Douglas Grant 2600  124.0
Jennifer Whalen 4400  101.0
Michael Hartstein 13000 100.0
Pat   Fay   6000  201.0
Susan Mavris 6500  101.0
Hermann Baer  10000 101.0
Shelley Higgins 12000 101.0
William Gietz 8300  205.0

In [26]:
#12-reate and display a boolean series, where True for not null and False
#for null values or missing values in state_province column of locations file. 

print("\n\n   State Province(Not null / Null Series")
print(df_LOCATIONS.state_province.notnull())

   State Province(Not null / Null Series
0     False
1     False
2      True
3     False
4      True
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13    False
14    False
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
Name: state_province, dtype: bool

In [27]:
#13- create a boolean series selecting rows with one or more nulls from locations file.
print(df_LOCATIONS.isnull())

    location_id  street_address  postal_code   city  state_province  \
0         False           False        False  False            True
1         False           False        False  False            True
2         False           False        False  False           False
3         False           False        False  False            True
4         False           False        False  False           False
5         False           False        False  False           False
6         False           False        False  False           False
7         False           False        False  False           False
8         False           False        False  False           False
9         False           False        False  False           False
10        False           False        False  False            True
11        False           False        False  False           False
12        False           False        False  False           False
13        False           False        False  False            True
14        False           False         True  False            True
15        False           False        False  False           False
16        False           False        False  False           False
17        False           False        False  False           False
18        False           False        False  False           False
19        False           False        False  False           False
20        False           False        False  False           False
21        False           False        False  False           False
22        False           False        False  False           False

    country_id
0        False
1        False
2        False
3        False
4        False
5        False
6        False
7        False
8        False
9        False
10       False
11       False
12       False
13       False
14       False
15       False
16       False
17       False
18       False
19       False
20       False
21       False
22       False

In [28]:
#14-count the NaN values of all the columns of locations file.
print(df_LOCATIONS.isnull().sum())

location_id       0
street_address    0
postal_code       1
city              0
state_province    6
country_id        0
dtype: int64

In [29]:
#15- display the first name, last name, salary and department number for those employees whose first name ends with the letter 'm'
result=df_EMPLOYEES[df_EMPLOYEES['first_name'].str[-1]=="m"]
for index, row in result.iterrows():
    print(row['first_name'].ljust(5),row['last_name'].ljust(5),str(row['salary']).ljust(5),row['department_id'])

Adam  Fripp 8200  50.0
Payam Kaufling 7900  50.0
William Smith 7400  80.0
William Gietz 8300  110.0

In [30]:
#16-display the first name, last name, salary and department number for 
#those employees whose first name ends with the letter 'd' or 'n' or 's' 
#and also arrange the result in descending order by department id.
result=df_EMPLOYEES[(df_EMPLOYEES['first_name'].str[-1]=='d')| (df_EMPLOYEES['first_name'].str[-1]=='n')|(df_EMPLOYEES['first_name'].str[-1]=='s')].sort_values('department_id',ascending=True)

for index,row in result.iterrows():
    print(row['first_name'].ljust(10),row['last_name'].ljust(10),str(row['salary']).ljust(10),row['department_id'])

Den        Raphaely   11000      30.0
Karen      Colmenares 2500       30.0
Susan      Mavris     6500       40.0
Jason      Mallin     3300       50.0
Alexis     Bull       4100       50.0
Kevin      Feeney     3000       50.0
Curtis     Davies     3100       50.0
John       Seo        2700       50.0
Stephen    Stiles     3200       50.0
Winston    Taylor     3200       50.0
James      Marlow     2500       50.0
Steven     Markle     2200       50.0
James      Landry     2400       50.0
Kevin      Mourgos    5800       50.0
Donald     OConnell   2600       50.0
Douglas    Grant      2600       50.0
Girard     Geoni      2800       50.0
Jean       Fleaur     3100       50.0
David      Austin     4800       60.0
Hermann    Baer       10000      70.0
Charles    Johnson    6200       80.0
Jonathon   Taylor     8600       80.0
Gerald     Cambrault  11000      80.0
Harrison   Bloom      10000      80.0
David      Lee        6800       80.0
Allan      McEwen     9000       80.0
David      Bernstein  9500       80.0
Karen      Partners   13500      80.0
John       Russell    14000      80.0
Ellen      Abel       11000      80.0
Steven     King       24000      90.0
Luis       Popp       6900       100.0
John       Chen       8200       100.0

In [32]:
#altername
print("First name       Last name      Salary    Department ID")
result = df_EMPLOYEES[df_EMPLOYEES['first_name'].str[-1].isin(['s','d','n'])]
result = result.sort_values('department_id', ascending=True)
for index, row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['salary']).ljust(9),row['department_id'])

First name       Last name      Salary    Department ID
Den             Raphaely        11000     30.0
Karen           Colmenares      2500      30.0
Susan           Mavris          6500      40.0
Jason           Mallin          3300      50.0
Alexis          Bull            4100      50.0
Kevin           Feeney          3000      50.0
Curtis          Davies          3100      50.0
John            Seo             2700      50.0
Stephen         Stiles          3200      50.0
Winston         Taylor          3200      50.0
James           Marlow          2500      50.0
Steven          Markle          2200      50.0
James           Landry          2400      50.0
Kevin           Mourgos         5800      50.0
Donald          OConnell        2600      50.0
Douglas         Grant           2600      50.0
Girard          Geoni           2800      50.0
Jean            Fleaur          3100      50.0
David           Austin          4800      60.0
Hermann         Baer            10000     70.0
Charles         Johnson         6200      80.0
Jonathon        Taylor          8600      80.0
Gerald          Cambrault       11000     80.0
Harrison        Bloom           10000     80.0
David           Lee             6800      80.0
Allan           McEwen          9000      80.0
David           Bernstein       9500      80.0
Karen           Partners        13500     80.0
John            Russell         14000     80.0
Ellen           Abel            11000     80.0
Steven          King            24000     90.0
Luis            Popp            6900      100.0
John            Chen            8200      100.0

In [36]:
#17-display the first name, last name, salary and department number for employees who works either in department 70 or 90
result=df_EMPLOYEES[df_EMPLOYEES['department_id'].isin([70,90])]
for index,row in result.iterrows():
    print(row['first_name'].ljust(10),row['last_name'].ljust(10),str(row['salary']).ljust(10),row['department_id'])

Steven     King       24000      90.0
Neena      Kochhar    17000      90.0
Lex        De Haan    17000      90.0
Hermann    Baer       10000      70.0

In [37]:
#18-display the first name, last name, salary and department number for those
#employees whose managers are hold the ID 120, 103 or 145.
result=df_EMPLOYEES[df_EMPLOYEES['manager_id'].isin([120,103,145])]
for index, row in result.iterrows():
    print(row['first_name'].ljust(10),row['last_name'].ljust(10),str(row['salary']).ljust(10),row['department_id'])

Bruce      Ernst      6000       60.0
David      Austin     4800       60.0
Valli      Pataballa  4800       60.0
Diana      Lorentz    4200       60.0
Julia      Nayer      3200       50.0
Irene      Mikkilineni 2700       50.0
James      Landry     2400       50.0
Steven     Markle     2200       50.0
Peter      Tucker     10000      80.0
David      Bernstein  9500       80.0
Peter      Hall       9000       80.0
Christopher Olsen      8000       80.0
Nanette    Cambrault  7500       80.0
Oliver     Tuvault    7000       80.0
Winston    Taylor     3200       50.0
Jean       Fleaur     3100       50.0
Martha     Sullivan   2500       50.0
Girard     Geoni      2800       50.0

In [45]:
#19-display the first, last name, salary and department number for those employees 
#who holds a letter n as a 3rd character in their first name.

result=df_EMPLOYEES[df_EMPLOYEES['first_name'].str[2:3]=='n']
for index, row in result.iterrows():
    print(row['first_name'].ljust(5),row['last_name'].ljust(5),str(row['salary']).ljust(5),row['department_id'])

Nancy Greenberg 12000 100.0
Daniel Faviet 9000  100.0
Den   Raphaely 11000 30.0
Renske Ladwig 3600  50.0
Randall Matos 2600  50.0
Nanette Cambrault 7500  80.0
Janette King  10000 80.0
Lindsey Smith 8000  80.0
Danielle Greene 9500  80.0
Sundar Ande  6400  80.0
Sundita Kumar 6100  80.0
Jonathon Taylor 8600  80.0
Winston Taylor 3200  50.0
Nandita Sarchand 4200  50.0
Jennifer Dilly 3600  50.0
Randall Perkins 2500  50.0
Vance Jones 2800  50.0
Donald OConnell 2600  50.0
Jennifer Whalen 4400  10.0

In [46]:
#20-display the first name, job id, salary and department for those employees not working in the departments 50,30 and 80
result=df_EMPLOYEES[~df_EMPLOYEES['department_id'].isin([50,30,80])]
for index,row in result.iterrows():
    print(row['first_name'].ljust(10),row['job_id'].ljust(10),str(row['salary']).ljust(10),row['department_id'])

Steven     AD_PRES    24000      90.0
Neena      AD_VP      17000      90.0
Lex        AD_VP      17000      90.0
Alexander  IT_PROG    9000       60.0
Bruce      IT_PROG    6000       60.0
David      IT_PROG    4800       60.0
Valli      IT_PROG    4800       60.0
Diana      IT_PROG    4200       60.0
Nancy      FI_MGR     12000      100.0
Daniel     FI_ACCOUNT 9000       100.0
John       FI_ACCOUNT 8200       100.0
Ismael     FI_ACCOUNT 7700       100.0
Jose Manuel FI_ACCOUNT 7800       100.0
Luis       FI_ACCOUNT 6900       100.0
Kimberely  SA_REP     7000       nan
Jennifer   AD_ASST    4400       10.0
Michael    MK_MAN     13000      20.0
Pat        MK_REP     6000       20.0
Susan      HR_REP     6500       40.0
Hermann    PR_REP     10000      70.0
Shelley    AC_MGR     12000      110.0
William    AC_ACCOUNT 8300       110.0

In [56]:
#21-display the ID for those employees who did two or more jobs in the past.
result=df_JOB_HISTORY.groupby('employee_id')
print(result.filter(lambda x:len(x)>1))#.groupby('employee_id').size().sort_values(ascending=True))

   employee_id  start_date   end_date`      job_id  department_id
1          101  1989-09-21  1993-10-27  AC_ACCOUNT            110
2          101  1993-10-28  1997-03-15      AC_MGR            110
6          200  1987-09-17  1993-06-17     AD_ASST             90
7          176  1998-03-24  1998-12-31      SA_REP             80
8          176  1999-01-01  1999-12-31      SA_MAN             80
9          200  1994-07-01  1998-12-31  AC_ACCOUNT             90

In [59]:
#22-calculate minimum, maximum and mean salary from employees file
print(df_EMPLOYEES.agg({'salary':['min','max','mean']}))

            salary
min    2100.000000
max   24000.000000
mean   6461.682243

In [60]:
#23-display the details of jobs in descending sequence on job title
result=df_JOBS.sort_values('job_title')
for index, row in result.iterrows():
    print(row['job_id'].ljust(15),row['job_title'].ljust(35),str(row['min_salary']).ljust(9),row['max_salary'])

FI_ACCOUNT      Accountant                          4200      9000
AC_MGR          Accounting Manager                  8200      16000
AD_ASST         Administration Assistant            3000      6000
AD_VP           Administration Vice President       15000     30000
FI_MGR          Finance Manager                     8200      16000
HR_REP          Human Resources Representative      4000      9000
MK_MAN          Marketing Manager                   9000      15000
MK_REP          Marketing Representative            4000      9000
AD_PRES         President                           20000     40000
IT_PROG         Programmer                          4000      10000
AC_ACCOUNT      Public Accountant                   4200      9000
PR_REP          Public Relations Representative     4500      10500
PU_CLERK        Purchasing Clerk                    2500      5500
PU_MAN          Purchasing Manager                  8000      15000
SA_MAN          Sales Manager                       10000     20000
SA_REP          Sales Representative                6000      12000
SH_CLERK        Shipping Clerk                      2500      5500
ST_CLERK        Stock Clerk                         2000      5000
ST_MAN          Stock Manager                       5500      8500

In [62]:
#24-display the first and last name and date of joining of the employees who is either Sales Representative or Sales Man
result = df_EMPLOYEES[df_EMPLOYEES['job_id'].isin(['SA_REP', 'SA_MAN'])]
for index, row in result.iterrows():
    print(row['first_name'].ljust(15),row['last_name'].ljust(15),str(row['job_id']).ljust(15),str(row['hire_date']).ljust(10))

John            Russell         SA_MAN          2004-10-01
Karen           Partners        SA_MAN          2005-01-05
Alberto         Errazuriz       SA_MAN          2005-03-10
Gerald          Cambrault       SA_MAN          2007-10-15
Eleni           Zlotkey         SA_MAN          2008-01-29
Peter           Tucker          SA_REP          2005-01-30
David           Bernstein       SA_REP          2005-03-24
Peter           Hall            SA_REP          2005-08-20
Christopher     Olsen           SA_REP          2006-03-30
Nanette         Cambrault       SA_REP          2006-12-09
Oliver          Tuvault         SA_REP          2007-11-23
Janette         King            SA_REP          2004-01-30
Patrick         Sully           SA_REP          2004-03-04
Allan           McEwen          SA_REP          2004-08-01
Lindsey         Smith           SA_REP          2005-03-10
Louise          Doran           SA_REP          2005-12-15
Sarath          Sewall          SA_REP          2006-11-03
Clara           Vishney         SA_REP          2005-11-11
Danielle        Greene          SA_REP          2007-03-19
Mattea          Marvins         SA_REP          2008-01-24
David           Lee             SA_REP          2008-02-23
Sundar          Ande            SA_REP          2008-03-24
Amit            Banda           SA_REP          2008-04-21
Lisa            Ozer            SA_REP          2005-03-11
Harrison        Bloom           SA_REP          2006-03-23
Tayler          Fox             SA_REP          2006-01-24
William         Smith           SA_REP          2007-02-23
Elizabeth       Bates           SA_REP          2007-03-24
Sundita         Kumar           SA_REP          2008-04-21
Ellen           Abel            SA_REP          2004-05-11
Alyssa          Hutton          SA_REP          2005-03-19
Jonathon        Taylor          SA_REP          2006-03-24
Jack            Livingston      SA_REP          2006-04-23
Kimberely       Grant           SA_REP          2007-05-24
Charles         Johnson         SA_REP          2008-01-04