In [3]:
#Date: 10/18/22
#1-to convert all the string values to upper, lower cases in a given pandas series. Also find the length of the string values
import pandas as pd
import numpy as np

ds=pd.Series(['X', 'Y', 'Z', 'Aaba', 'Baca', np.nan, 'CABA', None, 'bird', 'horse', 'dog'])
print(ds)
print()

print("Convert to upper case")
print(ds.str.upper())
print()

print("Convert to lower ccase")
print(ds.str.lower())
print()

print("length of the given series")
print(ds.str.len())

0         X
1         Y
2         Z
3      Aaba
4      Baca
5       NaN
6      CABA
7      None
8      bird
9     horse
10      dog
dtype: object

Convert to upper case
0         X
1         Y
2         Z
3      AABA
4      BACA
5       NaN
6      CABA
7      None
8      BIRD
9     HORSE
10      DOG
dtype: object

Convert to lower ccase
0         x
1         y
2         z
3      aaba
4      baca
5       NaN
6      caba
7      None
8      bird
9     horse
10      dog
dtype: object

length of the given series
0     1.0
1     1.0
2     1.0
3     4.0
4     4.0
5     NaN
6     4.0
7     NaN
8     4.0
9     5.0
10    3.0
dtype: float64

In [5]:
#2- remove whitespaces, left sided whitespaces and right sided whitespaces of the string values of a given pandas series.
import pandas as pd
color1=pd.Index([' Green', 'Black ', ' Red ', 'White', ' Pink '])
print("Original Series")
print(color1)
print()

print("Remove whitespace")
print(color1.str.strip())
print()

print("Remove whitespaces from left")
print(color1.str.rstrip())

print("\nRemove whitespaces from left")
print(color1.str.lstrip())

Original Series
Index([' Green', 'Black ', ' Red ', 'White', ' Pink '], dtype='object')

Remove whitespace
Index(['Green', 'Black', 'Red', 'White', 'Pink'], dtype='object')

Remove whitespaces from left
Index([' Green', 'Black', ' Red', 'White', ' Pink'], dtype='object')

Remove whitespaces from left
Index(['Green', 'Black ', 'Red ', 'White', 'Pink '], dtype='object')

In [8]:
#3-add leading zeros to the integer column in a pandas series and makes the length of the field to 8 digit.
import pandas as pd
import numpy as np
nums={'amount': [10, 250, 3000, 40000, 500000]}
print("Original data frame")
df=pd.DataFrame(data=nums)
print(df)
print("\nadd leading zeroes")
df['amount']=df['amount'].apply(lambda x:'{0:0>8}'.format(x))
print(df)

Original data frame
   amount
0      10
1     250
2    3000
3   40000
4  500000

add leading zeroes
     amount
0  00000010
1  00000250
2  00003000
3  00040000
4  00500000

In [12]:
#4-add leading zeros to the character column in a pandas series and makes the length of the field to 8 digit
import pandas as pd
nums={'amount': ['10', '250', '3000', '40000', '500000']}
print("Original DataFrame")
df=pd.DataFrame(nums)
print(df)

print("\nAdd leading zeroes")
df['amount']=list(map(lambda x:x.zfill(10),df['amount']))
print(df)

Original DataFrame
   amount
0      10
1     250
2    3000
3   40000
4  500000

Add leading zeroes
       amount
0  0000000010
1  0000000250
2  0000003000
3  0000040000
4  0000500000

In [13]:
#5-capitalize all the string values of specified columns of a given DataFrame.
import pandas as pd
df = pd.DataFrame({
    'name': ['alberto','gino','ryan', 'Eesha', 'syed'],
    'date_of_birth ': ['17/05/2002','16/02/1999','25/09/1998','11/05/2002','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print(df)

print("\nAfter Capitelization")
df['name']=list(map(lambda x:x.capitalize(),df['name']))
print(df)

      name date_of_birth    age
0  alberto     17/05/2002  18.5
1     gino     16/02/1999  21.2
2     ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     syed     15/09/1997  23.0

After Capitelization
      name date_of_birth    age
0  Alberto     17/05/2002  18.5
1     Gino     16/02/1999  21.2
2     Ryan     25/09/1998  22.5
3    Eesha     11/05/2002  22.0
4     Syed     15/09/1997  23.0

In [15]:
#6-count of occurrence of a specified substring in a DataFrame column.
import pandas as pd
df = pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]
})
print(df)

print("\nCount occurence of 2 in date_of_birth Column")
df['count']=list(map(lambda x:x.count('2'),df['date_of_birth ']))
print(df)

  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0

Count occurence of 2 in date_of_birth Column
  name_code date_of_birth    age  count
0      c001     12/05/2002  18.5      3
1      c002     16/02/1999  21.2      1
2      c022     25/09/1998  22.5      1
3     c2002     12/02/2022  22.0      5
4     c2222     15/09/1997  23.0      0

In [17]:
#7-find the index of a given substring of a DataFrame column
import pandas as pd
df=pd.DataFrame({
    'name_code': ['c001','c002','c022', 'c2002', 'c2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})
print(df)
print("\count occurences of 22 in name_code")
df['Index']=list(map(lambda x:x.find('22'),df['name_code']))
print(df)

  name_code date_of_birth    age
0      c001     12/05/2002  18.5
1      c002     16/02/1999  21.2
2      c022     25/09/1998  22.5
3     c2002     12/02/2022  22.0
4     c2222     15/09/1997  23.0
\count occurences of 22 in name_code
  name_code date_of_birth    age  Index
0      c001     12/05/2002  18.5     -1
1      c002     16/02/1999  21.2     -1
2      c022     25/09/1998  22.5      2
3     c2002     12/02/2022  22.0     -1
4     c2222     15/09/1997  23.0      1

In [4]:
#Date: 10/27/22
#8- find the index of a substring of DataFrame with beginning and end position
import pandas as pd
df=pd.DataFrame({
    'name_code': ['c001','c002','c022', 'q0c02', 'l2222'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})
print("Index of substring in specified column of a dataframe")
df['Index']=list(map(lambda x:x.find('c',0,5),df['name_code']))

print(df)

Index of substring in specified column of a dataframe
  name_code date_of_birth    age  Index
0      c001     12/05/2002  18.5      0
1      c002     16/02/1999  21.2      0
2      c022     25/09/1998  22.5      0
3     q0c02     12/02/2022  22.0      2
4     l2222     15/09/1997  23.0     -1

In [9]:
#9-Pandas program to check whether alpha numeric values present in a given column of a DataFrame.
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})
df['name_code_is_alphanumeric']=list(map(lambda x:x.isalnum(),df['name_code']))
print(df)

      name_code date_of_birth    age  name_code_is_alphanumeric
0       Company     12/05/2002  18.5                       True
1  Company a001     16/02/1999  21.2                      False
2   Company 123     25/09/1998  22.5                      False
3          1234     12/02/2022  22.0                       True
4    Company 12     15/09/1997  23.0                      False

In [10]:
#10-check whether alphabetic values present in a given column of a DataFrame
df=pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['isAlpha']=list(map(lambda x:x.isalpha(),df['name_code']))
print(df)

      name_code date_of_birth    age  isAlpha
0       Company     12/05/2002  18.5     True
1  Company a001     16/02/1999  21.2    False
2   Company 123     25/09/1998  22.5    False
3          1234     12/02/2022  22.0    False
4    Company 12     15/09/1997  23.0    False

In [14]:
#11- check whether only numeric values present in a given column of a DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Company','Company a001','Company 123', '1234', 'Company 12'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['isNum']=list(map(lambda x:x.isdigit(),df['name_code']))
print(df)

      name_code date_of_birth    age  isNum
0       Company     12/05/2002  18.5  False
1  Company a001     16/02/1999  21.2  False
2   Company 123     25/09/1998  22.5  False
3          1234     12/02/2022  22.0   True
4    Company 12     15/09/1997  23.0  False

In [19]:
#12-check whether only lower case or upper case is present in a given column of a DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Company','COMPANY','ompany 123', 'NIL', 'ompany'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['lowerCase']=list(map(lambda x:x.islower(),df['name_code']))
print(df)

print()

df['upprCase']=list(map(lambda x:x.isupper(),df['name_code']))
print(df)

    name_code date_of_birth    age  lowerCase
0     Company     12/05/2002  18.5      False
1     COMPANY     16/02/1999  21.2      False
2  ompany 123     25/09/1998  22.5       True
3         NIL     12/02/2022  22.0      False
4      ompany     15/09/1997  23.0       True

    name_code date_of_birth    age  lowerCase  upprCase
0     Company     12/05/2002  18.5      False     False
1     COMPANY     16/02/1999  21.2      False      True
2  ompany 123     25/09/1998  22.5       True     False
3         NIL     12/02/2022  22.0      False      True
4      ompany     15/09/1997  23.0       True     False

In [22]:
#13- check whether only proper case or title case is present in a given column of a DataFrame. 
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Company','COMPANY','ompany 123', 'N', 'ompany'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['comp_title']=list(map(lambda x:x.istitle(),df['name_code']))
print(df)

    name_code date_of_birth    age  comp_title
0     Company     12/05/2002  18.5        True
1     COMPANY     16/02/1999  21.2       False
2  ompany 123     25/09/1998  22.5       False
3           N     12/02/2022  22.0        True
4      ompany     15/09/1997  23.0       False

In [25]:
#14-check whether only space is present in a given column of a DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Company','COMP ANY','ompany 123', ' ', 'ompany'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['isSpace']=list(map(lambda x:x.isspace(),df['name_code']))
print(df)

    name_code date_of_birth    age  isSpace
0     Company     12/05/2002  18.5    False
1    COMP ANY     16/02/1999  21.2    False
2  ompany 123     25/09/1998  22.5    False
3                 12/02/2022  22.0     True
4      ompany     15/09/1997  23.0    False

In [27]:
#15-to get the length of the string present of a given column in a DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Company','COMP ANY','ompany 123', ' ', 'ompany'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['lenNameCode']=df['name_code'].apply(len)
print(df)

    name_code date_of_birth    age  lenNameCode
0     Company     12/05/2002  18.5            7
1    COMP ANY     16/02/1999  21.2            8
2  ompany 123     25/09/1998  22.5           10
3                 12/02/2022  22.0            1
4      ompany     15/09/1997  23.0            6

In [29]:
#16- get the length of the integer of a given column in a DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Company','COMP ANY','ompany 123', ' ', 'ompany'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['intLen']=df['age'].map(str).apply(len)
print(df)

    name_code date_of_birth    age  intLen
0     Company     12/05/2002  18.5       4
1    COMP ANY     16/02/1999  21.2       4
2  ompany 123     25/09/1998  22.5       4
3                 12/02/2022  22.0       4
4      ompany     15/09/1997  23.0       4

In [32]:
#17-check if a specified column starts with a specified string in a DataFrame.
import pandas as pd

df=pd.DataFrame({
    'name_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['cCheck']=list(map(lambda x:x.startswith('ze'),df['name_code']))
print(df)

  name_code date_of_birth    age  cCheck
0      Abcd     12/05/2002  18.5   False
1      EFGF     16/02/1999  21.2   False
2   zefsalf     25/09/1998  22.5    True
3   sdfslew     12/02/2022  22.0   False
4   zekfsdf     15/09/1997  23.0    True

In [34]:
#18-swap the cases of a specified character column in a given DataFrame.
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['caseSwap']=list(map(lambda x:x.swapcase(),df['name_code']))
print(df)

  name_code date_of_birth    age caseSwap
0      Abcd     12/05/2002  18.5     aBCD
1      EFGF     16/02/1999  21.2     efgf
2   zefsalf     25/09/1998  22.5  ZEFSALF
3   sdfslew     12/02/2022  22.0  SDFSLEW
4   zekfsdf     15/09/1997  23.0  ZEKFSDF

In [39]:
#19-convert a specified character column in upper/lower cases in a given DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['caseLower']=list(map(lambda x:x.lower(),df['name_code']))
print(df)

df['caseUpper']=list(map(lambda x:x.upper(),df['name_code']))
print("\n",df)

  name_code date_of_birth    age caseLower
0      Abcd     12/05/2002  18.5      abcd
1      EFGF     16/02/1999  21.2      efgf
2   zefsalf     25/09/1998  22.5   zefsalf
3   sdfslew     12/02/2022  22.0   sdfslew
4   zekfsdf     15/09/1997  23.0   zekfsdf

   name_code date_of_birth    age caseLower caseUpper
0      Abcd     12/05/2002  18.5      abcd      ABCD
1      EFGF     16/02/1999  21.2      efgf      EFGF
2   zefsalf     25/09/1998  22.5   zefsalf   ZEFSALF
3   sdfslew     12/02/2022  22.0   sdfslew   SDFSLEW
4   zekfsdf     15/09/1997  23.0   zekfsdf   ZEKFSDF

In [40]:
#20-convert a specified character column in title case in a given DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df['toTitle']=list(map(lambda x:x.title(),df['name_code']))
print(df)

  name_code date_of_birth    age  toTitle
0      Abcd     12/05/2002  18.5     Abcd
1      EFGF     16/02/1999  21.2     Efgf
2   zefsalf     25/09/1998  22.5  Zefsalf
3   sdfslew     12/02/2022  22.0  Sdfslew
4   zekfsdf     15/09/1997  23.0  Zekfsdf

In [42]:
#21-replace arbitrary values with other values in a given DataFrame
import pandas as pd
df=pd.DataFrame({
    'name_code': ['A','B', 'C', 'D', 'A'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df=df.replace("A","C")
print(df)

  name_code date_of_birth    age
0         C     12/05/2002  18.5
1         B     16/02/1999  21.2
2         C     25/09/1998  22.5
3         D     12/02/2022  22.0
4         C     15/09/1997  23.0

In [44]:
#22-replace more than one value with other values in a given DataFrame.
import pandas as pd
df=pd.DataFrame({
    'name_code': ['A','B', 'C', 'D', 'A'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23]})

df=df.replace(["A","D"],["X","Y"])
print(df)

  name_code date_of_birth    age
0         X     12/05/2002  18.5
1         B     16/02/1999  21.2
2         C     25/09/1998  22.5
3         Y     12/02/2022  22.0
4         X     15/09/1997  23.0

In [48]:
#23-split a string of a column of a given DataFrame into multiple columns
import pandas as pd
df=pd.DataFrame({
    'name_code': ['Alberto  Franco','Gino Ann Mcneill','Ryan  Parkes', 'Eesha Artur Hinton', 'Syed  Wharton'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23],'name_email': ['Alberto Franco af@gmail.com','Gino Mcneill gm@yahoo.com','Ryan Parkes rp@abc.io', 'Eesha Hinton', 'Gino Mcneill gm@github.com']
    })

df[['first','middle','last']]=df['name_code'].str.split(" ",expand=True)
print(df)

            name_code date_of_birth    age                   name_email  \
0     Alberto  Franco     12/05/2002  18.5  Alberto Franco af@gmail.com
1    Gino Ann Mcneill     16/02/1999  21.2    Gino Mcneill gm@yahoo.com
2        Ryan  Parkes     25/09/1998  22.5        Ryan Parkes rp@abc.io
3  Eesha Artur Hinton     12/02/2022  22.0                 Eesha Hinton
4       Syed  Wharton     15/09/1997  23.0   Gino Mcneill gm@github.com

     first middle     last
0  Alberto          Franco
1     Gino    Ann  Mcneill
2     Ryan          Parkes
3    Eesha  Artur   Hinton
4     Syed         Wharton

In [53]:
#24- extract email from a specified column of string type of a given DataFrame
import pandas as pd
import re as re
df=pd.DataFrame({
    'name_code': ['Alberto  Franco','Gino Ann Mcneill','Ryan  Parkes', 'Eesha Artur Hinton', 'Syed  Wharton'],
    'date_of_birth ': ['12/05/2002','16/02/1999','25/09/1998','12/02/2022','15/09/1997'],
    'age': [18.5, 21.2, 22.5, 22, 23],'name_email': ['Alberto Franco af@gmail.com','Gino Mcneill gm@yahoo.com','Ryan Parkes rp@abc.io', 'Eesha Hinton', 'Gino Mcneill gm@github.com']
    })

def find_email(text):
    email = re.findall(r'[\w\.-]+@[\w\.-]+',str(text))
    return ",".join(email)

df['email_add']=df['name_email'].apply(lambda x:find_email(x))
print(df)

            name_code date_of_birth    age                   name_email  \
0     Alberto  Franco     12/05/2002  18.5  Alberto Franco af@gmail.com
1    Gino Ann Mcneill     16/02/1999  21.2    Gino Mcneill gm@yahoo.com
2        Ryan  Parkes     25/09/1998  22.5        Ryan Parkes rp@abc.io
3  Eesha Artur Hinton     12/02/2022  22.0                 Eesha Hinton
4       Syed  Wharton     15/09/1997  23.0   Gino Mcneill gm@github.com

       email_add
0   af@gmail.com
1   gm@yahoo.com
2      rp@abc.io
3
4  gm@github.com

In [57]:
#25- extract hash attached word from twitter text from the specified column of a given DataFrame
import pandas as pd
import re as re

df = pd.DataFrame({
    'tweets': ['#Obama says goodbye','Retweets for #cash','A political endorsement in #Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })

def findHash(txt):
    hword=re.findall(r'(?<=#)\w+',txt)
    return " ".join(hword)

df['hashWord']=df['tweets'].apply(lambda x:findHash(x))
print(df)

                                  tweets   hashWord
0                    #Obama says goodbye      Obama
1                     Retweets for #cash       cash
2  A political endorsement in #Indonesia  Indonesia
3                 1 dog = many #retweets   retweets
4                     Just a simple #egg        egg

In [60]:
#26- extract word mention someone in tweets using @ from the specified column of a given DataFrame
import pandas as pd
import re as re

df = pd.DataFrame({
    'tweets': ['@Obama says goodbye','Retweets for @cash','A political endorsement in @Indonesia', '1 dog = many #retweets', 'Just a simple #egg']
    })

def findAt(txt):
    atWord=re.findall(r'(?<=@)\w+',txt)
    return ' '.join(atWord)

df['atWord']=df['tweets'].apply(lambda x:findAt(x))
print(df)

                                  tweets     atWord
0                    @Obama says goodbye      Obama
1                     Retweets for @cash       cash
2  A political endorsement in @Indonesia  Indonesia
3                 1 dog = many #retweets
4                     Just a simple #egg

In [61]:
#27- extract only number from the specified column of a given DataFrame.
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['7277 Surrey Ave.','920 N. Bishop Ave.','9910 Golden Star St.', '25 Dunbar St.', '17 West Livingston Court']
    })

def find_number(txt):
    num=re.findall(r'[0-9]+',txt)
    return ' '.join(num)

df['num']=df['address'].apply(lambda x:find_number(x) )
print(df)

  company_code                   address   num
0        c0001          7277 Surrey Ave.  7277
1        c0002        920 N. Bishop Ave.   920
2        c0003      9910 Golden Star St.  9910
3        c0003             25 Dunbar St.    25
4        c0004  17 West Livingston Court    17

In [66]:
#28- extract only phone number from the specified column of a given DataFrame.
import pandas as pd
import re as re

df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'company_phone_no': ['Company1-Phone no. 4695168357','Company2-Phone no. 8088729013','Company3-Phone no. 6204658086', 'Company4-Phone no. 5159530096', 'Company5-Phone no. 9037952371']
    })

def findPhone(txt):
    phNo=re.findall(r'\b\d{10}\b',txt)
    return ' '.join(phNo)

df['number']=df['company_phone_no'].apply(lambda x:findPhone(x) )
print(df)

  company_code               company_phone_no      number
0        c0001  Company1-Phone no. 4695168357  4695168357
1        c0002  Company2-Phone no. 8088729013  8088729013
2        c0003  Company3-Phone no. 6204658086  6204658086
3        c0003  Company4-Phone no. 5159530096  5159530096
4        c0004  Company5-Phone no. 9037952371  9037952371

In [68]:
#29- extract year between 1800 to 2200 from the specified column of a given DataFrame.
import pandas as pd
import re as re

df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'year': ['year 1800','year 1700','year 2300', 'year 1900', 'year 2200']
    })
def find_year(txt):
    result = re.findall(r"\b(18[0-9]{2}|19[0-8][0-9]|199[0-9]|2[01][0-9]{2}|2200)\b",txt)
    return result
df['year_range']=df['year'].apply(lambda x:find_year(x))
print(df)

  company_code       year year_range
0        c0001  year 1800     [1800]
1        c0002  year 1700         []
2        c0003  year 2300         []
3        c0003  year 1900     [1900]
4        c0004  year 2200     [2200]

In [69]:
#30-extract only non alphanumeric characters from the specified column of a given DataFrame
import pandas as pd
import re as re

df = pd.DataFrame({
    'company_code': ['c0001#','c00@0^2','$c0003', 'c0003', '&c0004'],
    'year': ['year 1800','year 1700','year 2300', 'year 1900', 'year 2200']
    })

def findNonAlpha(txt):
    result=re.findall("[^A-Za-z0-9]",txt)
    return result

df['nonAlpha']=df['company_code'].apply(lambda x:findNonAlpha(x))
print(df)

  company_code       year nonAlpha
0       c0001#  year 1800      [#]
1      c00@0^2  year 1700   [@, ^]
2       $c0003  year 2300      [$]
3        c0003  year 1900       []
4       &c0004  year 2200      [&]

In [70]:
#31- extract only punctuations from the specified column of a given DataFrame
import pandas as pd
import re as re

df = pd.DataFrame({
    'company_code': ['c0001.','c000,2','c0003', 'c0003#', 'c0004,'],
    'year': ['year 1800','year 1700','year 2300', 'year 1900', 'year 2200']
    })

def find_punctuations(text):
    result = re.findall(r'[!"\$%&\'()*+,\-.\/:;=#@?\[\\\]^_`{|}~]*', text)
    string="".join(result)
    return list(string)
df['nonalpha']=df['company_code'].apply(lambda x: find_punctuations(x))
print("\nExtracting punctuation:")
print(df)

Extracting punctuation:
  company_code       year nonalpha
0       c0001.  year 1800      [.]
1       c000,2  year 1700      [,]
2        c0003  year 2300       []
3       c0003#  year 1900      [#]
4       c0004,  year 2200      [,]

In [74]:
#32-remove repetitive characters from the specified column of a given DataFrame
import pandas as pd
import re as re

df = pd.DataFrame({
    'text_code': ['t0001.','t0002','t0003', 't0004'],
    'text_lang': ['She livedd a long life.', 'How oold is your father?', 'What is tthe problem?','TThhis desk is used by Tom.']
    })

def rep_char(str1):
    tchr=str1.group(0)
    if len(tchr)>1:
        return tchr[0:1]
    
def uniq_char(rep,sent_txt):
    convert=re.sub(r'(\w)\1+',rep,sent_txt)
    return convert

df['normal_txt']=df['text_lang'].apply(lambda x:uniq_char(rep_char,x))
print(df)

  text_code                    text_lang                 normal_txt
0    t0001.      She livedd a long life.     She lived a long life.
1     t0002     How oold is your father?    How old is your father?
2     t0003        What is tthe problem?       What is the problem?
3     t0004  TThhis desk is used by Tom.  This desk is used by Tom.

In [83]:
#33-extract numbers greater than 940 from the specified column of a given DataFrame.
import pandas as pd
import re as re

df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['7277 Surrey Ave.1111','920 N. Bishop Ave.','9910 Golden Star St.', '1025 Dunbar St.', '1700 West Livingston Court']
    })

def test_num_gre(txt):
    result=re.findall(r'95[5-9]|9[6-9]\d|[1-9]\d{3,}',txt)
    return ' '.join(result)

df['num_great']=df['address'].apply(lambda x : test_num_gre(x))
print("\nNumber greater than 940:")
print(df)

Number greater than 940:
  company_code                     address  num_great
0        c0001        7277 Surrey Ave.1111  7277 1111
1        c0002          920 N. Bishop Ave.
2        c0003        9910 Golden Star St.        991
3        c0003             1025 Dunbar St.       1025
4        c0004  1700 West Livingston Court       1700

In [3]:
#34-extract numbers less than 100 from the specified column of a given DataFrame.
import pandas as pd
import re as re

df=pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['72 Surrey Ave.11','92 N. Bishop Ave.','9910 Golden Star St.', '102 Dunbar St.', '17 West Livingston Court']
    })

def test_num_less(n):
    nums=[]
    
    for i in n.split():
        result=re.findall(r'\b(0*(?:[1-9][0-9]?|100))\b',i)
        nums.append(result)
        all_num=[",".join(x)for x in nums if x!=[]]
    return ' '.join(all_num)

df['num_less']=df['address'].apply(lambda x:test_num_less(x))
print(df)

  company_code                   address num_less
0        c0001          72 Surrey Ave.11    72 11
1        c0002         92 N. Bishop Ave.       92
2        c0003      9910 Golden Star St.
3        c0003            102 Dunbar St.
4        c0004  17 West Livingston Court       17

In [5]:
#35- check whether two given words present in a specified column of a given DataFrame
import pandas as pd
import re as re

df = pd.DataFrame({
    'company_code': ['c0001','c0002','c0003', 'c0003', 'c0004'],
    'address': ['9910 Surrey Ave.','92 N. Bishop Ave.','9910 Golden Star Ave.', '102 Dunbar St.', '17 West Livingston Court']
    })

def test_and_cond(txt):
    result=re.findall(r'(?=.*Ave.)(?=.*9910).*',txt)
    return " ".join(result)
df['check_two_words']=df['address'].apply(lambda x:test_and_cond(x))
print(df)

  company_code                   address        check_two_words
0        c0001          9910 Surrey Ave.       9910 Surrey Ave.
1        c0002         92 N. Bishop Ave.
2        c0003     9910 Golden Star Ave.  9910 Golden Star Ave.
3        c0003            102 Dunbar St.
4        c0004  17 West Livingston Court

In [6]:
#36-extract date (format: mm-dd-yyyy) from a given column of a given DataFrame
import pandas as pd
import re as re

df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'sale_amount': [12348.5, 233331.2, 22.5, 2566552.0, 23.0]
})
print("Original DataFrame:")
print(df)
def find_valid_dates(dt):
    #format: mm-dd-yyyy
    result = re.findall(r'\b(1[0-2]|0[1-9])/(3[01]|[12][0-9]|0[1-9])/([0-9]{4})\b',dt)
    return result
df['valid_dates']=df['date_of_sale'].apply(lambda dt : find_valid_dates(dt))
print("\nValid dates (format: mm-dd-yyyy):")
print(df)

Original DataFrame:
  company_code date_of_sale  sale_amount
0         Abcd   12/05/2002      12348.5
1         EFGF   16/02/1999     233331.2
2      zefsalf   05/09/1998         22.5
3      sdfslew   12/02/2022    2566552.0
4      zekfsdf   15/09/1997         23.0

Valid dates (format: mm-dd-yyyy):
  company_code date_of_sale  sale_amount       valid_dates
0         Abcd   12/05/2002      12348.5  [(12, 05, 2002)]
1         EFGF   16/02/1999     233331.2                []
2      zefsalf   05/09/1998         22.5  [(05, 09, 1998)]
3      sdfslew   12/02/2022    2566552.0  [(12, 02, 2022)]
4      zekfsdf   15/09/1997         23.0                []

In [7]:
#37-extract only words from a given column of a given DataFrame
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Avenue','92 N. Bishop Avenue','9910 Golden Star Avenue', '102 Dunbar St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)
def pick_only_key_sentence(str1, word):
    result = re.findall(r'([^.]*'+word+'[^.]*)', str1)
    return result
df['filter_sentence']=df['address'].apply(lambda x : pick_only_key_sentence(x,'Avenue'))
print("\nText with the word 'Avenue':")
print(df)

Original DataFrame:
  company_code date_of_sale                   address
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

Text with the word 'Avenue':
  company_code date_of_sale                   address  \
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

             filter_sentence
0       [9910 Surrey Avenue]
1           [ Bishop Avenue]
2  [9910 Golden Star Avenue]
3                         []
4                         []

In [8]:
#38-extract the sentences where a specific word is present in a given column of a given DataFrame.
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey <b>Avenue</b>','92 N. Bishop Avenue','9910 <br>Golden Star Avenue', '102 Dunbar <i></i>St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)
def remove_tags(string):
    result = re.sub('<.*?>','',string)
    return result
df['with_out_tags']=df['address'].apply(lambda cw : remove_tags(cw))
print("\nSentences without tags':")
print(df)

Original DataFrame:
  company_code date_of_sale                      address
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

Sentences without tags':
  company_code date_of_sale                      address  \
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

              with_out_tags
0        9910 Surrey Avenue
1       92 N. Bishop Avenue
2   9910 Golden Star Avenue
3            102 Dunbar St.
4  17 West Livingston Court

In [9]:
#39- extract the unique sentences from a given column of a given DataFrame
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Avenue\n9910 Surrey Avenue','92 N. Bishop Avenue','9910 Golden Star Avenue', '102 Dunbar St.\n102 Dunbar St.', '17 West Livingston Court']
})

print("Original DataFrame:")
print(df)

def find_unique_sentence(str1):
    result = re.findall(r'(?sm)(^[^\r\n]+$)(?!.*^\1$)', str1)
    return result

df['unique_sentence']=df['address'].apply(lambda st : find_unique_sentence(st))
print("\nExtract unique sentences :")
print(df)

Original DataFrame:
  company_code date_of_sale                                 address
0         Abcd   12/05/2002  9910 Surrey Avenue\n9910 Surrey Avenue
1         EFGF   16/02/1999                     92 N. Bishop Avenue
2      zefsalf   05/09/1998                 9910 Golden Star Avenue
3      sdfslew   12/02/2022          102 Dunbar St.\n102 Dunbar St.
4      zekfsdf   15/09/1997                17 West Livingston Court

Extract unique sentences :
  company_code date_of_sale                                 address  \
0         Abcd   12/05/2002  9910 Surrey Avenue\n9910 Surrey Avenue
1         EFGF   16/02/1999                     92 N. Bishop Avenue
2      zefsalf   05/09/1998                 9910 Golden Star Avenue
3      sdfslew   12/02/2022          102 Dunbar St.\n102 Dunbar St.
4      zekfsdf   15/09/1997                17 West Livingston Court

              unique_sentence
0        [9910 Surrey Avenue]
1       [92 N. Bishop Avenue]
2   [9910 Golden Star Avenue]
3            [102 Dunbar St.]
4  [17 West Livingston Court]

In [10]:
#40-extract words starting with capital words from a given column of a given DataFrame.
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey Avenue','92 N. Bishop Avenue','9910 Golden Star Avenue', '102 Dunbar St.', '17 West Livingston Court']
})

print("Original DataFrame:")
print(df)

def find_capital_word(str1):
    result = re.findall(r'\b[A-Z]\w+', str1)
    return result

df['caps_word_in']=df['address'].apply(lambda cw : find_capital_word(cw))
print("\nExtract words starting with capital words from the sentences':")
print(df)

Original DataFrame:
  company_code date_of_sale                   address
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

Extract words starting with capital words from the sentences':
  company_code date_of_sale                   address  \
0         Abcd   12/05/2002        9910 Surrey Avenue
1         EFGF   16/02/1999       92 N. Bishop Avenue
2      zefsalf   05/09/1998   9910 Golden Star Avenue
3      sdfslew   12/02/2022            102 Dunbar St.
4      zekfsdf   15/09/1997  17 West Livingston Court

                caps_word_in
0           [Surrey, Avenue]
1           [Bishop, Avenue]
2     [Golden, Star, Avenue]
3               [Dunbar, St]
4  [West, Livingston, Court]

In [12]:
#41- program to remove the html tags within the specified column of a given DataFrame
import pandas as pd
import re as re
df = pd.DataFrame({
    'company_code': ['Abcd','EFGF', 'zefsalf', 'sdfslew', 'zekfsdf'],
    'date_of_sale': ['12/05/2002','16/02/1999','05/09/1998','12/02/2022','15/09/1997'],
    'address': ['9910 Surrey <b>Avenue</b>','92 N. Bishop Avenue','9910 <br>Golden Star Avenue', '102 Dunbar <i></i>St.', '17 West Livingston Court']
})
print("Original DataFrame:")
print(df)
def remove_tags(string):
    result = re.sub('<.*?>','',string)
    return result
df['with_out_tags']=df['address'].apply(lambda cw : remove_tags(cw))
print("\nSentences without tags':")
print(df)

Original DataFrame:
  company_code date_of_sale                      address
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

Sentences without tags':
  company_code date_of_sale                      address  \
0         Abcd   12/05/2002    9910 Surrey <b>Avenue</b>
1         EFGF   16/02/1999          92 N. Bishop Avenue
2      zefsalf   05/09/1998  9910 <br>Golden Star Avenue
3      sdfslew   12/02/2022        102 Dunbar <i></i>St.
4      zekfsdf   15/09/1997     17 West Livingston Court

              with_out_tags
0        9910 Surrey Avenue
1       92 N. Bishop Avenue
2   9910 Golden Star Avenue
3            102 Dunbar St.
4  17 West Livingston Court