In [10]:
#Date-10/28/22
#1-Write a Pandas program to create following
import pandas as pd
from datetime import datetime

#a-Datetime object for Jan 15 2012.
print(datetime(2012,1,11))

#b-Specific date and time of 9:20 pm.
print(datetime(2012,1,11,21,20))

#c Local date and time.
print(datetime.now())

#d) A date without time.
print(datetime.date(datetime(2012,1,12)))

#e) Current date.
print(datetime.now().date())

#f) Time from a datetime.
print(datetime.time(datetime(2012,1,12,21,30,23)))

#g) Current local time.
print(datetime.now().time())

2012-01-11 00:00:00
2012-01-11 21:20:00
2022-10-28 16:58:14.449654
2012-01-12
2022-10-28
21:30:23
16:58:14.449654

In [17]:
#2-Pandas program to create
import pandas as pd

#a) a specific date using timestamp.
print(pd.Timestamp('2016-10-11'))

#b) date and time using timestamp.
print(pd.Timestamp('2012-05-03 11:30'))

#c) a time adds in the current local date using timestamp.
print(pd.Timestamp('11:30'))

#d) current date and time using timestamp.
print(pd.Timestamp.now())

2016-10-11 00:00:00
2012-05-03 11:30:00
2022-10-28 11:30:00
2022-10-28 17:03:24.572005

In [19]:
#3-create a date from a given year, month, day and another date from a given string formats
import pandas as pd
from datetime import datetime

date1=datetime(year=2020,month=12,day=25)
print(date1)

from dateutil import parser
date2=parser.parse('1st of January 2021')
print(date2)

2020-12-25 00:00:00
2021-01-01 00:00:00

In [23]:
#4- print the day after and before a specified date. Also print the days between two given dates
import pandas as pd
from datetime import datetime, date

today = datetime.now().date()
print(today)

tomorrow=today+pd.Timedelta(days=1)
print(tomorrow)

yesterday=today-pd.Timedelta(days=1)
print(yesterday)

difference_in_two_dates=tomorrow-yesterday
print(difference_in_two_dates)

2022-10-28
2022-10-29
2022-10-27
2 days, 0:00:00

In [24]:
#5-create a time-series with two index labels and random values. Also print the type of the index
import pandas as pd
from dateutil import parser
import numpy as np
from datetime import datetime

dates =[datetime(2010,9,1),datetime(2011,8,11)]
print("time series with two index labels")
time_series=pd.Series(np.random.randn(2),dates)
print(time_series)

time series with two index labels
2010-09-01    0.386412
2011-08-11   -0.974215
dtype: float64

In [26]:
#6-create a time-series from a given list of dates as strings.
import pandas as pd
from datetime import datetime

dates=['2014-08-01','2014-08-02','2014-08-03','2014-08-04']

time_series=pd.Series(np.random.randn(4),dates)
print(time_series)

2014-08-01    1.600619
2014-08-02   -0.910169
2014-08-03    0.071593
2014-08-04   -0.183853
dtype: float64

In [28]:
#7-create a time series object that has time indexed data.
#Also select the dates of same year and select the dates between certain dates

import pandas as pd
from datetime import datetime
import numpy as np

idx=pd.DatetimeIndex(['2011-09-02', '2012-08-04',
                          '2015-09-03', '2010-08-04',
                          '2015-03-03', '2011-08-04',
                          '2015-04-03', '2012-08-04'])

s_dates=pd.Series([0, 1, 2, 3, 4, 5, 6, 7],index=idx)
print(s_dates)

print("date of same year")
print(s_dates['2015'])

print("\nDates between 2012-01-01 and 2012-12-31")
print(s_dates['2012-01-01':'2012-12-31'])

2011-09-02    0
2012-08-04    1
2015-09-03    2
2010-08-04    3
2015-03-03    4
2011-08-04    5
2015-04-03    6
2012-08-04    7
dtype: int64
date of same year
2015-09-03    2
2015-03-03    4
2015-04-03    6
dtype: int64

Dates between 2012-01-01 and 2012-12-31
2012-08-04    1
2012-08-04    7
dtype: int64

C:\Users\przir\AppData\Local\Temp/ipykernel_11012/646776759.py:20: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  print(s_dates['2012-01-01':'2012-12-31'])

In [30]:
#8-create a date range using a startpoint date and a number of periods
import pandas as pd

date_range=pd.date_range('2020-01-01',periods=30)
print(date_range)

DatetimeIndex(['2020-01-01', '2020-01-02', '2020-01-03', '2020-01-04',
               '2020-01-05', '2020-01-06', '2020-01-07', '2020-01-08',
               '2020-01-09', '2020-01-10', '2020-01-11', '2020-01-12',
               '2020-01-13', '2020-01-14', '2020-01-15', '2020-01-16',
               '2020-01-17', '2020-01-18', '2020-01-19', '2020-01-20',
               '2020-01-21', '2020-01-22', '2020-01-23', '2020-01-24',
               '2020-01-25', '2020-01-26', '2020-01-27', '2020-01-28',
               '2020-01-29', '2020-01-30'],
              dtype='datetime64[ns]', freq='D')

In [35]:
#9-create a whole month of dates in daily frequencies. Also find the maximum, minimum timestamp and indexs
import pandas as pd
dates = pd.Series(pd.date_range('2020-12-01',periods=31, freq='D'))
print("Month of December 2020:")
print(dates)
dates = pd.Series(pd.date_range('2020-12-01',periods=31, freq='D'))
print("\nMaximum date: ", dates.max())
print("Minimum date: ", dates.min())
print("Maximum index: ", dates.idxmax())
print("Minimum index: ", dates.idxmin())

Month of December 2020:
0    2020-12-01
1    2020-12-02
2    2020-12-03
3    2020-12-04
4    2020-12-05
5    2020-12-06
6    2020-12-07
7    2020-12-08
8    2020-12-09
9    2020-12-10
10   2020-12-11
11   2020-12-12
12   2020-12-13
13   2020-12-14
14   2020-12-15
15   2020-12-16
16   2020-12-17
17   2020-12-18
18   2020-12-19
19   2020-12-20
20   2020-12-21
21   2020-12-22
22   2020-12-23
23   2020-12-24
24   2020-12-25
25   2020-12-26
26   2020-12-27
27   2020-12-28
28   2020-12-29
29   2020-12-30
30   2020-12-31
dtype: datetime64[ns]

Maximum date:  2020-12-31 00:00:00
Minimum date:  2020-12-01 00:00:00
Maximum index:  30
Minimum index:  0

In [37]:
#10- create a time series using three months frequency.
import pandas as pd

s=pd.Series(pd.date_range(start='2012-10-28',periods=39,freq='3M'))
print(s)

0    2012-10-31
1    2013-01-31
2    2013-04-30
3    2013-07-31
4    2013-10-31
5    2014-01-31
6    2014-04-30
7    2014-07-31
8    2014-10-31
9    2015-01-31
10   2015-04-30
11   2015-07-31
12   2015-10-31
13   2016-01-31
14   2016-04-30
15   2016-07-31
16   2016-10-31
17   2017-01-31
18   2017-04-30
19   2017-07-31
20   2017-10-31
21   2018-01-31
22   2018-04-30
23   2018-07-31
24   2018-10-31
25   2019-01-31
26   2019-04-30
27   2019-07-31
28   2019-10-31
29   2020-01-31
30   2020-04-30
31   2020-07-31
32   2020-10-31
33   2021-01-31
34   2021-04-30
35   2021-07-31
36   2021-10-31
37   2022-01-31
38   2022-04-30
dtype: datetime64[ns]

In [38]:
#11- create a sequence of durations increasing by an hour
import pandas as pd

s=pd.Series(pd.date_range(start='2022-12-3',periods=10,freq='H'))
print(s)

0   2022-12-03 00:00:00
1   2022-12-03 01:00:00
2   2022-12-03 02:00:00
3   2022-12-03 03:00:00
4   2022-12-03 04:00:00
5   2022-12-03 05:00:00
6   2022-12-03 06:00:00
7   2022-12-03 07:00:00
8   2022-12-03 08:00:00
9   2022-12-03 09:00:00
dtype: datetime64[ns]

In [40]:
#12-convert year and day of year into a single datetime column of a dataframe
import pandas as pd
data = {\
"year": [2002, 2003, 2015, 2018],
"day_of_the_year": [250, 365, 1, 140]
}

df=pd.DataFrame(data)
print(df)
print()
df['combined']=df['year']*1000+df['day_of_the_year']
df['date']=pd.to_datetime(df['combined'],format='%Y%j')
print(df)

   year  day_of_the_year
0  2002              250
1  2003              365
2  2015                1
3  2018              140

   year  day_of_the_year  combined       date
0  2002              250   2002250 2002-09-07
1  2003              365   2003365 2003-12-31
2  2015                1   2015001 2015-01-01
3  2018              140   2018140 2018-05-20

In [42]:
#create a series of Timestamps from a DataFrame of integer or string columns. 
#Also create a series of Timestamps using specified columns.

import pandas as pd
df = pd.DataFrame({'year': [2018, 2019, 2020],
                   'month': [2, 3, 4],
                   'day': [4, 5, 6],
                   'hour': [2, 3, 4]})

result=pd.to_datetime(df)
print(result)

print(pd.to_datetime(df[['year','month','day']]))

0   2018-02-04 02:00:00
1   2019-03-05 03:00:00
2   2020-04-06 04:00:00
dtype: datetime64[ns]
0   2018-02-04
1   2019-03-05
2   2020-04-06
dtype: datetime64[ns]

In [44]:
#14- check if a day is a business day (weekday) or not.
import pandas as pd
def is_business_day(date):
    return bool(len(pd.bdate_range(date,date)))
print("Check busines day or not?")
print('2020-12-01: ',is_business_day('2020-12-01'))
print('2020-12-06: ',is_business_day('2020-12-06'))
print('2020-12-07: ',is_business_day('2020-12-07'))
print('2020-12-08: ',is_business_day('2020-12-08'))

Check busines day or not?
2020-12-01:  True
2020-12-06:  False
2020-12-07:  True
2020-12-08:  True

In [46]:
#15-get a time series with the last working days of each month of a specific year
import pandas as pd
s=pd.date_range('2023-01-01', periods=12, freq='BM')
df=pd.DataFrame(s,columns=['Date'])
print(df)

         Date
0  2023-01-31
1  2023-02-28
2  2023-03-31
3  2023-04-28
4  2023-05-31
5  2023-06-30
6  2023-07-31
7  2023-08-31
8  2023-09-29
9  2023-10-31
10 2023-11-30
11 2023-12-29

In [48]:
#16-create a time series combining hour and minute
import pandas as pd
result=pd.timedelta_range(0,periods=30,freq='1H20T')
print("For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):\n")
print(result)

For a frequency of 1 hours 20 minutes, here we have combined the hour (H) and minute (T):

TimedeltaIndex(['0 days 00:00:00', '0 days 01:20:00', '0 days 02:40:00',
                '0 days 04:00:00', '0 days 05:20:00', '0 days 06:40:00',
                '0 days 08:00:00', '0 days 09:20:00', '0 days 10:40:00',
                '0 days 12:00:00', '0 days 13:20:00', '0 days 14:40:00',
                '0 days 16:00:00', '0 days 17:20:00', '0 days 18:40:00',
                '0 days 20:00:00', '0 days 21:20:00', '0 days 22:40:00',
                '1 days 00:00:00', '1 days 01:20:00', '1 days 02:40:00',
                '1 days 04:00:00', '1 days 05:20:00', '1 days 06:40:00',
                '1 days 08:00:00', '1 days 09:20:00', '1 days 10:40:00',
                '1 days 12:00:00', '1 days 13:20:00', '1 days 14:40:00'],
               dtype='timedelta64[ns]', freq='80T')

In [50]:
#17-convert unix/epoch time to a regular time stamp in UTC. Also convert the said timestamp in to a given time zone
import pandas as pd
epoch_t=1621132355
time_stamp=pd.to_datetime(epoch_t,unit='s')
print(time_stamp)

print("\nConvert the said timestamp in to US/Pacific:")
print(time_stamp.tz_localize('UTC').tz_convert('US/Pacific'))
print("\nConvert the said timestamp in to Europe/Berlin:")
print(time_stamp.tz_localize('UTC').tz_convert('Europe/Berlin'))

2021-05-16 02:32:35

Convert the said timestamp in to US/Pacific:
2021-05-15 19:32:35-07:00

Convert the said timestamp in to Europe/Berlin:
2021-05-16 04:32:35+02:00

In [51]:
#18- create a time series object with a time zone.
import pandas as pd
print("Timezone: Europe/Berlin:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'Europe/Berlin')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/Europe/Berlin')
print(date_util.tz)
print("\nUS/Pacific:")
print("Using pytz:")
date_pytz = pd.Timestamp('2019-01-01', tz = 'US/Pacific')
print(date_pytz.tz)  
print("Using dateutil:")
date_util = pd.Timestamp('2019-01-01', tz = 'dateutil/US/Pacific')
print(date_util.tz)

Timezone: Europe/Berlin:
Using pytz:
Europe/Berlin
Using dateutil:
tzfile('Europe/Berlin')

US/Pacific:
Using pytz:
US/Pacific
Using dateutil:
tzfile('US/Pacific')

In [53]:
#19-remove the time zone information from a Time series data.
import pandas as pd
date1=pd.Timestamp('2019-01-01', tz='Europe/Berlin')
print(date1)
print()
print(date1.tz_localize(None))

2019-01-01 00:00:00+01:00

2019-01-01 00:00:00

In [55]:
#20-subtract two timestamps of same time zone or different time zone
import pandas as pd
date1=pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2=pd.Timestamp('2019-04-01 07:00', tz='US/Eastern')

result=(date1-date2)
print(result)

date1 = pd.Timestamp('2019-03-01 12:00', tz='US/Eastern')
date2 = pd.Timestamp('2019-03-01 07:00', tz='US/Pacific')
# Remove the time zone and do the subtraction
print("Difference: ", (date1.tz_localize(None) - date2.tz_localize(None)))

-31 days +06:00:00
Difference:  0 days 05:00:00

In [58]:
#21-calculate all Thursdays between two given days
import pandas as pd

thursday=pd.date_range('2020-01-01', 
                           '2020-12-31', freq="W-THU")
print(thursday.values)

['2020-01-02T00:00:00.000000000' '2020-01-09T00:00:00.000000000'
 '2020-01-16T00:00:00.000000000' '2020-01-23T00:00:00.000000000'
 '2020-01-30T00:00:00.000000000' '2020-02-06T00:00:00.000000000'
 '2020-02-13T00:00:00.000000000' '2020-02-20T00:00:00.000000000'
 '2020-02-27T00:00:00.000000000' '2020-03-05T00:00:00.000000000'
 '2020-03-12T00:00:00.000000000' '2020-03-19T00:00:00.000000000'
 '2020-03-26T00:00:00.000000000' '2020-04-02T00:00:00.000000000'
 '2020-04-09T00:00:00.000000000' '2020-04-16T00:00:00.000000000'
 '2020-04-23T00:00:00.000000000' '2020-04-30T00:00:00.000000000'
 '2020-05-07T00:00:00.000000000' '2020-05-14T00:00:00.000000000'
 '2020-05-21T00:00:00.000000000' '2020-05-28T00:00:00.000000000'
 '2020-06-04T00:00:00.000000000' '2020-06-11T00:00:00.000000000'
 '2020-06-18T00:00:00.000000000' '2020-06-25T00:00:00.000000000'
 '2020-07-02T00:00:00.000000000' '2020-07-09T00:00:00.000000000'
 '2020-07-16T00:00:00.000000000' '2020-07-23T00:00:00.000000000'
 '2020-07-30T00:00:00.000000000' '2020-08-06T00:00:00.000000000'
 '2020-08-13T00:00:00.000000000' '2020-08-20T00:00:00.000000000'
 '2020-08-27T00:00:00.000000000' '2020-09-03T00:00:00.000000000'
 '2020-09-10T00:00:00.000000000' '2020-09-17T00:00:00.000000000'
 '2020-09-24T00:00:00.000000000' '2020-10-01T00:00:00.000000000'
 '2020-10-08T00:00:00.000000000' '2020-10-15T00:00:00.000000000'
 '2020-10-22T00:00:00.000000000' '2020-10-29T00:00:00.000000000'
 '2020-11-05T00:00:00.000000000' '2020-11-12T00:00:00.000000000'
 '2020-11-19T00:00:00.000000000' '2020-11-26T00:00:00.000000000'
 '2020-12-03T00:00:00.000000000' '2020-12-10T00:00:00.000000000'
 '2020-12-17T00:00:00.000000000' '2020-12-24T00:00:00.000000000'
 '2020-12-31T00:00:00.000000000']

In [60]:
#22-find the all the business quarterly begin and end dates of a specified year.
import pandas as pd
q_start_dates=pd.date_range('2020-01-01', '2020-12-31', freq='BQS-JUN')
q_end_dates = pd.date_range('2020-01-01', '2020-12-31', freq='BQ-JUN')

print(q_start_dates.values)
print()
print(q_end_dates.values)

['2020-03-02T00:00:00.000000000' '2020-06-01T00:00:00.000000000'
 '2020-09-01T00:00:00.000000000' '2020-12-01T00:00:00.000000000']

['2020-03-31T00:00:00.000000000' '2020-06-30T00:00:00.000000000'
 '2020-09-30T00:00:00.000000000' '2020-12-31T00:00:00.000000000']

In [62]:
#23- generate sequences of fixed-frequency dates and time spans intervals
import pandas as pd
r=pd.date_range(start='2022-10-09',freq='H',periods=10)
print(r)

DatetimeIndex(['2022-10-09 00:00:00', '2022-10-09 01:00:00',
               '2022-10-09 02:00:00', '2022-10-09 03:00:00',
               '2022-10-09 04:00:00', '2022-10-09 05:00:00',
               '2022-10-09 06:00:00', '2022-10-09 07:00:00',
               '2022-10-09 08:00:00', '2022-10-09 09:00:00'],
              dtype='datetime64[ns]', freq='H')

In [3]:
#Date-10/29/22
#24- generate time series combining day and intraday offsets intervals
import pandas as pd
dataset1=pd.date_range('2029-01-01 00:00:00',periods=20,freq='3h10min')
print(dataset1)
print()
dataset2=pd.date_range('2029-01-01 00:00:00',periods=20,freq='1D10min20U')
print(dataset2)

DatetimeIndex(['2029-01-01 00:00:00', '2029-01-01 03:10:00',
               '2029-01-01 06:20:00', '2029-01-01 09:30:00',
               '2029-01-01 12:40:00', '2029-01-01 15:50:00',
               '2029-01-01 19:00:00', '2029-01-01 22:10:00',
               '2029-01-02 01:20:00', '2029-01-02 04:30:00',
               '2029-01-02 07:40:00', '2029-01-02 10:50:00',
               '2029-01-02 14:00:00', '2029-01-02 17:10:00',
               '2029-01-02 20:20:00', '2029-01-02 23:30:00',
               '2029-01-03 02:40:00', '2029-01-03 05:50:00',
               '2029-01-03 09:00:00', '2029-01-03 12:10:00'],
              dtype='datetime64[ns]', freq='190T')

DatetimeIndex([       '2029-01-01 00:00:00', '2029-01-02 00:10:00.000020',
               '2029-01-03 00:20:00.000040', '2029-01-04 00:30:00.000060',
               '2029-01-05 00:40:00.000080', '2029-01-06 00:50:00.000100',
               '2029-01-07 01:00:00.000120', '2029-01-08 01:10:00.000140',
               '2029-01-09 01:20:00.000160', '2029-01-10 01:30:00.000180',
               '2029-01-11 01:40:00.000200', '2029-01-12 01:50:00.000220',
               '2029-01-13 02:00:00.000240', '2029-01-14 02:10:00.000260',
               '2029-01-15 02:20:00.000280', '2029-01-16 02:30:00.000300',
               '2029-01-17 02:40:00.000320', '2029-01-18 02:50:00.000340',
               '2029-01-19 03:00:00.000360', '2029-01-20 03:10:00.000380'],
              dtype='datetime64[ns]', freq='87000000020U')

In [7]:
#25- extract the day name from a specified date. Add 2 days and 1 business day with the specified date
import pandas as pd

newDay=pd.Timestamp('2020-02-07')
print(newDay)

print("\nThe day name of the said date:")
print(newDay.day_name())

print("\nAdd 2 days with the said date:")
newDay1=newDay+pd.Timedelta('2Day')
print(newDay1.day_name())

print("\nNext business day:")
nBday=newDay+pd.offsets.BDay()
print(nBday.day_name())

2020-02-07 00:00:00

The day name of the said date:
Friday

Add 2 days with the said date:
Sunday

Next business day:
Monday

In [11]:
#26- convert integer or float epoch times to Timestamp and DatetimeIndex
import pandas as pd

dates01=pd.to_datetime([1329806505, 129806505, 1249892905,
                1249979305, 1250065705],unit='s')
print(dates01)

DatetimeIndex(['2012-02-21 06:41:45', '1974-02-11 09:21:45',
               '2009-08-10 08:28:25', '2009-08-11 08:28:25',
               '2009-08-12 08:28:25'],
              dtype='datetime64[ns]', freq=None)

In [16]:
#27- calculate one, two, three business day(s) from a specified date. Also find the next business month end from a specific date
import pandas as pd
from pandas.tseries.offsets import *
from datetime import datetime, date
dt=datetime(2014,1,4)
print("specified date",dt)

print("\nOne business day from the said date:")
obday=dt+BusinessDay()
print(obday)

print("\nTwo business days from the said date:")
tbday=dt+2*BusinessDay()
print(tbday)

print("\nNext business month end from the said date:")
nbday=dt+BMonthEnd()
print(nbday)

specified date 2014-01-04 00:00:00

One business day from the said date:
2014-01-06 00:00:00

Two business days from the said date:
2014-01-07 00:00:00

Next business month end from the said date:
2014-01-31 00:00:00

In [20]:
#28- create a period index represent all monthly boundaries of a given year. Also print start and end time for each period object in the said index
import pandas as pd
import datetime
from datetime import datetime, date

sdt=datetime(2020,1,1)
edt=datetime(2020,12,31)
dataset=pd.period_range(sdt,edt,freq='M')
print(dataset)

print("\nStart and end time for each period object in the said index:")
for d in dataset: 
    print ("{0} {1}".format(d.start_time, d.end_time))

PeriodIndex(['2020-01', '2020-02', '2020-03', '2020-04', '2020-05', '2020-06',
             '2020-07', '2020-08', '2020-09', '2020-10', '2020-11', '2020-12'],
            dtype='period[M]')

Start and end time for each period object in the said index:
2020-01-01 00:00:00 2020-01-31 23:59:59.999999999
2020-02-01 00:00:00 2020-02-29 23:59:59.999999999
2020-03-01 00:00:00 2020-03-31 23:59:59.999999999
2020-04-01 00:00:00 2020-04-30 23:59:59.999999999
2020-05-01 00:00:00 2020-05-31 23:59:59.999999999
2020-06-01 00:00:00 2020-06-30 23:59:59.999999999
2020-07-01 00:00:00 2020-07-31 23:59:59.999999999
2020-08-01 00:00:00 2020-08-31 23:59:59.999999999
2020-09-01 00:00:00 2020-09-30 23:59:59.999999999
2020-10-01 00:00:00 2020-10-31 23:59:59.999999999
2020-11-01 00:00:00 2020-11-30 23:59:59.999999999
2020-12-01 00:00:00 2020-12-31 23:59:59.999999999

In [21]:
#29-create a series with a PeriodIndex which represents all the calendar month periods in 2029 and 2031. Also print the values for all periods in 2030.
import pandas as pd
import numpy as np

pi=pd.Series(np.random.randn(36), pd.period_range('1/1/2029', 
                               '12/31/2031', freq='M'))
print("PeriodIndex which represents all the calendar month periods in 2029 and 2030:")
print(pi)
print("\nValues for all periods in 2030:")
print(pi['2030'])

PeriodIndex which represents all the calendar month periods in 2029 and 2030:
2029-01    1.902718
2029-02    0.588220
2029-03   -0.262402
2029-04    0.435789
2029-05    1.157909
2029-06    0.821042
2029-07   -0.297981
2029-08    0.529877
2029-09    1.382088
2029-10    1.848807
2029-11   -1.203411
2029-12    1.296981
2030-01   -0.416402
2030-02    0.211769
2030-03    0.729344
2030-04   -0.388648
2030-05    0.194038
2030-06    0.873746
2030-07    0.209264
2030-08   -0.389116
2030-09    1.946145
2030-10   -0.860471
2030-11    0.374747
2030-12   -0.117779
2031-01   -2.103933
2031-02    1.903362
2031-03    0.550143
2031-04   -0.166502
2031-05   -0.280333
2031-06   -0.410240
2031-07    1.322158
2031-08   -1.205945
2031-09   -1.704781
2031-10    2.010517
2031-11    2.514521
2031-12    0.322016
Freq: M, dtype: float64

Values for all periods in 2030:
2030-01   -0.416402
2030-02    0.211769
2030-03    0.729344
2030-04   -0.388648
2030-05    0.194038
2030-06    0.873746
2030-07    0.209264
2030-08   -0.389116
2030-09    1.946145
2030-10   -0.860471
2030-11    0.374747
2030-12   -0.117779
Freq: M, dtype: float64

In [25]:
#30- generate holidays between two dates using the US federal holiday calendar.
import pandas as pd
from pandas.tseries.holiday import *
sdt=datetime(2023,1,1)
edt=datetime(2023,12,31)

print("Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.")
cal=USFederalHolidayCalendar()
for dt in cal.holidays(start=sdt,end=edt):
    print(dt)

Holidays between 2021-01-01 and 2030-12-31 using the US federal holiday calendar.
2023-01-02 00:00:00
2023-01-16 00:00:00
2023-02-20 00:00:00
2023-05-29 00:00:00
2023-07-04 00:00:00
2023-09-04 00:00:00
2023-10-09 00:00:00
2023-11-10 00:00:00
2023-11-23 00:00:00
2023-12-25 00:00:00

In [27]:
#31-create a monthly time period and display the list of names in the current local scope.
import pandas as pd
mtp=pd.Period('2021-11','M')
print("Monthly time perid: ",mtp)
print("\nList of names in the current local scope:")
print(dir(mtp))

Monthly time perid:  2021-11

List of names in the current local scope:
['__add__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__pyx_vtable__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_get_to_timestamp_base', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']

In [28]:
#32- create a yearly time period from a specified year and display the properties of this period
import pandas as pd
ytp = pd.Period('2020','A-DEC')
print("Yearly time perid:",ytp)
print("\nAll the properties of the said period:")
print(dir(ytp))

Yearly time perid: 2020

All the properties of the said period:
['__add__', '__class__', '__delattr__', '__dict__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__le__', '__lt__', '__module__', '__ne__', '__new__', '__pyx_vtable__', '__radd__', '__reduce__', '__reduce_ex__', '__repr__', '__rsub__', '__setattr__', '__setstate__', '__sizeof__', '__str__', '__sub__', '__subclasshook__', '__weakref__', '_add_offset', '_add_timedeltalike_scalar', '_dtype', '_from_ordinal', '_get_to_timestamp_base', '_maybe_convert_freq', '_require_matching_freq', 'asfreq', 'day', 'day_of_week', 'day_of_year', 'dayofweek', 'dayofyear', 'days_in_month', 'daysinmonth', 'end_time', 'freq', 'freqstr', 'hour', 'is_leap_year', 'minute', 'month', 'now', 'ordinal', 'quarter', 'qyear', 'second', 'start_time', 'strftime', 'to_timestamp', 'week', 'weekday', 'weekofyear', 'year']